@mixin bp($point) {
  @if $point==desktop-l {
    @media (max-width: 1920px) {
      @content;
    }
  }

  @else if $point==r-desktop-l {
    @media (min-width: 1920px) {
      @content;
    }
  }

  @else if $point==desktop-m {
    @media (max-width: 1500px) {
      @content;
    }
  }

  @else if $point==r-desktop-m {
    @media (min-width: 1500px) {
      @content;
    }
  }

  @else if $point==laptop {
    @media (max-width: 1367px) {
      @content;
    }
  }

  @else if $point==desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @else if $point==nav {
    @media (max-width: 900px) {
      @content;
    }
  }

  @else if $point==r-nav {
    @media (min-width: 900px) {
      @content;
    }
  }

  @else if $point==tablet-big {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $point==tablet {
    @media (max-width: 992px) {
      @content;
    }
  }

  @else if $point==tablet-small {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $point==mobile {
    @media (max-width: 576px) {
      @content;
    }
  }

  @else if $point==r-desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $point==r-tablet {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $point==ipad-vertical {
    @media (min-width: 768px) and (max-width: 768px) {
      @content;
    }
  }

  @else if $point==r-tablet-small {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $point==r-mobile {
    @media (min-width: 576px) {
      @content;
    }
  }

  @else if $point==mobile-small {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $point==mobile-x-small {
    @media (max-width: 350px) {
      @content;
    }
  }
}

$padding-container: 5vw;
$padding-container-l: 50px;
$padding-container-m: 50px;
$padding-container-s: 30px;
$padding-container-xs: 25px;
$padding-container-xxs: 15px;


$transition2s: .2s cubic-bezier(.41, .35, .42, .83);
$transition: .35s cubic-bezier(.41, .35, .42, .83);
$transitionEase: .40s cubic-bezier(.15, .46, .27, .94);

/*  ====================
            COLORS      
    ==================== */

$colorOrangeSoft: #FFF7ED;
$colorOrange: #FD9D55;
$colorOrange900: #F37920;
$colorOrange800: #FF9343;

$colorYellowSoft: #FFF8F0;
$colorYellow: #FFC10E;

$colorTextSoft: #7D8E9F;
$colorTextDark: #0A174C;

$colorBorder: #BAA7A0;

.colored-orange {
  color: $colorOrange;
}

@mixin boxShadowMain {
  -webkit-box-shadow: 2px 5px 25px -10px rgba(148, 126, 112, 0.7);
  -moz-box-shadow: 2px 5px 25px -10px rgba(148, 126, 112, 0.7);
  box-shadow: 2px 5px 25px -10px rgba(148, 126, 112, 0.7) !important;
}

@mixin boxShadowOrange {
  -webkit-box-shadow: 0px 18px 17px -14px rgba($colorOrange800, 1);
  -moz-box-shadow: 0px 18px 17px -14px rgba($colorOrange800, 1);
  box-shadow: 0px 18px 17px -14px rgba($colorOrange800, 1);
}

@mixin boxShadowDark {
  -webkit-box-shadow: 0px 18px 25px -14px rgba(#947E70, .3);
  -moz-box-shadow: 0px 18px 25px -14px rgba(#947E70, .3);
  box-shadow: 0px 18px 25px -14px rgba(#947E70, .3) !important;
}

@mixin boxShadowNone {
  -webkit-box-shadow: 0px 18px 17px -14px rgba($colorOrange800, 0);
  -moz-box-shadow: 0px 18px 17px -14px rgba($colorOrange800, 0);
  box-shadow: 0px 18px 17px -14px rgba($colorOrange800, 0);
}

@mixin boxShadowLgRotate {
  -webkit-box-shadow: 16px 7px 50px -10px rgba(255, 156, 83, 0.5);
  -moz-box-shadow: 16px 7px 50px -10px rgba(255, 156, 83, 0.5);
  box-shadow: 16px 7px 50px -10px rgba(255, 156, 83, 0.5);
}

@mixin boxShadowLg {
  -webkit-box-shadow: 7px 16px 50px -10px rgba(255, 156, 83, 0.5);
  -moz-box-shadow: 7px 16px 50px -10px rgba(255, 156, 83, 0.5);
  box-shadow: 7px 16px 50px -10px rgba(255, 156, 83, 0.5);
}

@mixin mainHover {
  transform: translateY(-10px);
  @include boxShadowMain;
}