@import 'variables';
@import "fonts";

html,
body {
	width: 100%;
	background: #fff;
	font-family: 'Barlow', sans-serif;
	scroll-behavior: smooth;
}

body {
	&.dark {
		background: $colorYellowSoft;

		.footer {
			&-banner {
				&__wrp {
					background: rgba($colorOrange, .1);
				}
			}

			&-social {
				&__item {
					background: rgba($colorOrange, .1);
				}
			}
		}

		.section-product-slider {
			.main-tag {
				&--orange-soft {
					background: #fff;
				}
			}

			.product-slider-item {
				background: #fff;

				&__bottom {
					.uk-button {
						background: $colorYellowSoft;

						&__icon {
							color: $colorOrange;
						}

						&:hover {
							background: $colorOrange;

							.uk-button__icon {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

* {
	line-height: 1em;
}

a {
	&:hover {
		text-decoration: none !important;
	}
}

.h-percent-100 {
	height: 100%;
}

.container {
	@media(min-width:1200px) {
		max-width: 1540px;
	}

	&--w {
		@media(min-width:1200px) {
			max-width: 1400px;
		}
	}

	&--xw {
		@media(min-width:1200px) {
			max-width: 1100px;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#3F190B, .1);
	z-index: 5;
	opacity: 0;
	pointer-events: none;
	transition: $transition;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.o-hidden {
	overflow: hidden;
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;

	&-bordered {
		border-bottom: 1px solid rgba($colorBorder, .35);
	}
}

.section--mini-info {
	padding-top: 0;
	padding-bottom: 75px;

	&__quality-standart {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 25%;
					left: 12%;
				}

				&.tl-2 {
					top: 65%;
					left: 2%;
				}

				&.tr-1 {
					top: 10%;
					right: -1%;
				}

				&.tr-2 {
					top: 50%;
					right: 12%;
				}
			}
		}
	}
}

.mini-info {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.main-play-icon {
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 1;
	color: #f63363;
	font-size: 20px;
	transition: $transition;

	&:hover {
		color: #fff;
		background: #f63363;
		transform: translate(-50%, -50%) scale(1.1);
	}
}

.main-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #F6F7F8;
	border-radius: 25px;
	height: 80px;
	padding: 0 30px;

	input {
		width: 100%;
		background: transparent;
		color: $colorTextDark;
		border: none;
		outline: none;
		font-size: 17px;

		&::placeholder {
			color: $colorTextSoft;
			font-weight: 400;
		}
	}

	span {
		flex-shrink: 0;
		font-size: 22px;
	}
}

.main-count {
	width: 100%;
	border-radius: 999px;
	background: #F6F7F8;
	padding: 5px 7px;
	display: flex;
	align-items: center;

	&__btn {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		cursor: pointer;
		color: #C2CAD1;
		flex-shrink: 0;

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&__num {
		flex-shrink: 0;
		font-size: 25px;
		font-weight: 500;
		padding-left: 15px;
		padding-right: 15px;
		color: $colorTextDark;
		width: max-content;
		background: transparent;
		border: none;
		outline: none;
		max-width: 60px;
		text-align: center;
		pointer-events: none;

		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

input[type=number] {
	-moz-appearance: textfield;
}

.main-subtitle {
	color: $colorOrange;
	font-weight: 800;
	display: flex;
	align-items: center;

	&__icon {
		font-size: 40px;
		margin-right: 15px;
	}

	&__txt {
		font-size: 19px;
	}
}

.main-title {
	color: $colorTextDark;
	font-weight: 600;
	font-size: 46px;
	line-height: 1.5em;

	&--lg {
		font-size: 43px;
		font-weight: 500;
	}

	&--md {
		font-size: 40px;
		font-weight: 600;

		.main-title {
			&__in {
				&.with-border {
					&:after {
						height: 6px;
					}
				}
			}
		}
	}

	&--sm {
		font-size: 34px;
		font-weight: 500;
	}

	&--xs {
		font-size: 28px;
		font-weight: 500;
	}

	&__in {
		position: relative;

		&.with-border {
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				transform: rotate(-2deg);
				width: 100%;
				height: 7px;
				border-radius: 5px;
			}
		}

		&.orange {
			color: $colorOrange900;

			&.with-border {
				&:after {
					background: $colorYellow;
				}
			}
		}

		&.orange-soft {
			color: $colorOrange;

			&.with-border {
				&:after {
					background: $colorYellow;
				}
			}
		}
	}
}

.main-tag {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border-radius: 18px;
	width: max-content;

	&s {
		display: flex;
		align-items: center;
	}

	&--white {
		background: #fff;
	}

	&--orange-soft {
		background: $colorOrangeSoft;
	}

	&--orange {
		background: $colorOrange900;

		.main-tag {

			&__txt {
				font-weight: 400;
				color: #fff;
			}

			&__icon {
				color: #fff;
			}
		}
	}

	&--simple {
		.main-tag {
			&__txt {
				color: rgba($colorTextDark, .3);
				font-size: 20px;
			}
		}
	}

	&__txt {
		font-size: 17px;
		font-weight: 500;
		color: $colorTextDark;
	}

	&__icon {
		color: $colorOrange900;
		font-size: 24px;
		margin-right: 15px;
		flex-shrink: 0;
	}
}

.main-txt {
	color: $colorTextSoft;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.22px;

	&.with-required {
		display: flex;
		align-items: flex-start;
	}

	strong {
		font-weight: 600;
	}

	&--dark {
		color: $colorTextDark;
		font-weight: 500;
	}

	&--lg {
		font-size: 20px;
		line-height: 1.6em;
	}

	&--md {
		font-size: 18px;
		line-height: 1.6em;
	}

	&__underline {
		text-decoration: underline;
		color: $colorTextDark;
	}

	&__required {
		color: $colorOrange900;
		font-size: 45px;
		flex-shrink: 0;
		margin-right: 20px;
		position: relative;
		top: 2px;
	}
}

.js-vertical-magic-line {
	z-index: 1;
	position: relative;

	&-tab {
		z-index: 1;
		position: relative;
	}
}

.vertical-magic-line {
	position: absolute;
	z-index: -1;
	transition: $transition;
	opacity: 0;

	&.active {
		opacity: 1;
	}

	&-tab {
		position: absolute;
		z-index: -1;
		transition: $transition;
	}
}

.js-horizantal-magic-line {
	z-index: 1;
	position: relative;
}

.horizantal-magic-line {
	position: absolute;
	z-index: -1;
	transition: $transition;
	opacity: 0;

	&.active {
		opacity: 1;
	}
}

.swiper-button {
	&-main {
		background-image: none;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		color: $colorOrange;
		@include boxShadowMain;
		outline: none;
		transition: $transition;

		&:hover {
			background: $colorOrange;
			color: #fff;
		}

		&:after {
			display: none;
		}
	}

	&-prev {
		span.icon-font {
			transform: rotate(180deg);
		}
	}
}

.scroll-more {
	position: relative;

	&-btn {
		opacity: 1;
		transition: $transition;

		&.removeBtn {
			opacity: 0;
			pointer-events: none;
		}
	}

	&.removeLinear {
		&:after {
			opacity: 0;
		}
	}

	&.addLinear {
		&:before {
			opacity: 1;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		opacity: 0;
		background-image: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0));
		pointer-events: none;
		transition: .3s;
		z-index: 1;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		opacity: 1;
		background-image: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
		pointer-events: none;
		transition: .3s;
	}
}

#map {
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
	border-radius: 36px;
}

.map-legend {
	// section {
	// 	border-bottom: 1px dashed #13caba;
	// 	color: #1de79d;
	// 	cursor: pointer;
	// 	display: block;
	// 	font-size: .9125rem;
	// 	position: relative;
	// 	padding: 1rem 5% 1rem 15%;
	// 	text-rendering: geometricPrecision;
	// 	transition: 0.3s background ease;
	// 	width: 80%;

	// 	&:hover {
	// 		background: rgba(255, 255, 255, 0.2);
	// 		transition: 0.3s background ease;
	// 	}
	// }
}

.marker-title {
	color: #0b8287;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	font-size: .9125rem;
}

.marker-description {
	color: #3f3f11;
	font-family: 'Roboto Slab', serif;
	font-size: .8125rem;
}

.leaflet-left {
	right: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
	position: absolute;
	top: auto;
	right: 25px;
	bottom: 25px;
	display: flex;
	border: none;
	flex-direction: row-reverse;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	background-color: #fff !important;
	width: 50px !important;
	height: 50px !important;
	border-radius: 20px !important;
	color: $colorTextSoft !important;
	margin-right: 15px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	border: none !important;
	font: inherit !important;
	line-height: 1em !important;
	position: relative;
	transition: background $transition;

	&:before {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 29px;
		transition: $transition2s !important;
	}

	&:hover {
		background-color: $colorOrange !important;
		color: #fff !important;
	}

	&:first-child {
		margin-right: 0;
	}
}

.leaflet-control-zoom-in {
	&:before {
		content: '+';
	}
}

.leaflet-control-zoom-out {
	&:before {
		content: '-';
	}
}

.leaflet-left.leaflet-top {
	width: 100%;
	height: 100%;
}

.leaflet-control {
	float: right;
	margin-right: 10px;
}

.mapbox-control-info {
	display: none !important;
}

.main-not-found {
	color: $colorOrange;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: 500;
}

.main-info {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	border-radius: 25px;
	padding: 10px 15px;

	&.info {
		background: $colorOrangeSoft;

		.main-info {
			&__icon {
				color: $colorOrange;
			}
		}
	}

	&__icon {
		width: 55px;
		height: 55px;
		border-radius: 20px;
		flex-shrink: 0;
		background: #fff;
		margin-right: 20px;
		display: flex;
		font-size: 26px;
		justify-content: center;
		align-items: center;
	}

	&__txt {
		color: $colorTextSoft;
		font-weight: 400;
		font-size: 17px;
	}
}

.exam-content {
	padding-top: 50px !important;
	align-items: flex-start !important;
	padding-bottom: 100px;

	&>div {
		width: 45%;
	}
}

// select 2 options
select {
	outline: none;
}

.select-outer {
	width: 100%;

	&.input-error {
		position: relative;

		label.error {
			position: absolute;
			bottom: -20px;
			left: 25px;
			z-index: 1;
		}

		.select2-container--default .select2-selection--single {
			border-color: #CC0000;
		}
	}
}

.select-phone-outer {
	width: 250px;
}

.select2-container {
	width: 100% !important;
	outline: none;
}

.select2-search--dropdown {
	opacity: 0;
	height: 0;
	padding: 0;
	pointer-events: none;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #C2CAD1;
	border-radius: 20px;
	padding: 18.5px 25px;
	height: unset;
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
	top: 0;
	right: 25px;

	b {
		border-color: rgba(#7D8E9F, .4) transparent transparent transparent;
		border-width: 7px 6px 0 6px;
		transition: $transition;
	}
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
	b {
		transform: rotate(180deg);
		border-color: rgba(#7D8E9F, .4) transparent transparent transparent;
		border-width: 7px 6px 0 6px;
	}
}

.select2-container--default .select2-results__option--disabled {
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: $colorTextSoft;
	font-weight: 400;
	font-size: 19px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: $colorTextDark;
	font-weight: 500;
	font-size: 19px;
	padding: 0;
}


.loading-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(#fff, .8);
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	opacity: 0;
	transition: $transition;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.loading {
	position: relative;
	width: 40px;
	height: 40px;
	background: $colorYellow;
	overflow: hidden;
	font-size: 1px;
	transform: skewY(10deg);
	border-radius: 5px;
	color: rgba(white, 0);
	-webkit-animation: spin-step-simple 2s linear 0s infinite;
	animation: spin-step-simple 2s linear 0s infinite;
}

@-webkit-keyframes spin-step-simple {
	0% {
		-webkit-transform: rotate(0deg) skewY(10deg);
	}

	10% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}

	100% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}
}

@keyframes spin-step-simple {
	0% {
		-webkit-transform: rotate(0deg) skewY(10deg);
	}

	10% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}

	100% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}
}

@-webkit-keyframes spin-step {
	0% {
		-webkit-transform: rotate(0deg) skewY(10deg);
	}

	22% {
		-webkit-transform: rotate(0deg) skewY(10deg);
	}

	25% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}

	47% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}

	50% {
		-webkit-transform: rotate(180deg) skewY(10deg);
	}

	72% {
		-webkit-transform: rotate(180deg) skewY(10deg);
	}

	75% {
		-webkit-transform: rotate(270deg) skewY(10deg);
	}

	97% {
		-webkit-transform: rotate(270deg) skewY(10deg);
	}

	100% {
		-webkit-transform: rotate(360deg) skewY(10deg);
	}
}

@keyframes spin-step {
	0% {
		-webkit-transform: rotate(0deg) skewY(10deg);
	}

	22% {
		-webkit-transform: rotate(0deg) skewY(10deg);
	}

	25% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}

	47% {
		-webkit-transform: rotate(90deg) skewY(10deg);
	}

	50% {
		-webkit-transform: rotate(180deg) skewY(10deg);
	}

	72% {
		-webkit-transform: rotate(180deg) skewY(10deg);
	}

	75% {
		-webkit-transform: rotate(270deg) skewY(10deg);
	}

	97% {
		-webkit-transform: rotate(270deg) skewY(10deg);
	}

	100% {
		-webkit-transform: rotate(360deg) skewY(10deg);
	}
}

.tippy {
	&-box {
		background: #fff;
		color: $colorTextDark;
		@include boxShadowMain;
		border-radius: 20px;
		font-size: 16px;
	}

	&-content {
		padding: 20px;
	}

	&-arrow {
		color: #fff;
		@include boxShadowMain;
	}
}

// select {
// 	width: 100%;
// 	padding: 20px 25px;
// 	border-radius: 20px;
// 	border: 1px solid #c2cad1;
// 	color: $colorTextSoft;
// 	font-weight: 400;
// 	font-size: 19px;
// }