@import 'variables';

@for $i from 1 through 30 {
	.ml-#{$i * 5} {
		margin-left: #{$i * 5}px;
	}

	.mr-#{$i * 5} {
		margin-right: #{$i * 5}px;
	}

	.mt-#{$i * 5} {
		margin-top: #{$i * 5}px;
	}

	.mb-#{$i * 5} {
		margin-bottom: #{$i * 5}px;
	}
}

.ml-auto {
	margin-left: auto;
}

@for $i from 1 through 30 {
	.pl-#{$i * 5} {
		padding-left: #{$i * 5}px;
	}

	.pr-#{$i * 5} {
		padding-right: #{$i * 5}px;
	}

	.pt-#{$i * 5} {
		padding-top: #{$i * 5}px;
	}

	.pb-#{$i * 5} {
		padding-bottom: #{$i * 5}px;
	}
}

@for $i from 1 through 10 {
	.op#{$i} {
		font-weight: inherit;
		opacity: #{$i / 10};
	}
}

.font-300 {
	font-weight: 300 !important;
}

.font-400 {
	font-weight: 400 !important;
}

.font-500 {
	font-weight: 500 !important;
}

.font-700 {
	font-weight: 700 !important;
}

.font-800 {
	font-weight: 800 !important;
}

.font-900 {
	font-weight: 900 !important;
}

.pad0 {
	padding: 0;
}

.pos-rel {
	position: relative;
}

.w-100 {
	width: 100%;
}
