<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../../partials/header.html') %>
  </header>
  <%= require('html-loader!../../partials/header-popups.html') %>

  <section class="hero hero--flex hero--teacherlist">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-2 blue"></div>
        <div class="main-shape tl-2 shape xs-2 orange"></div>
        <div class="main-shape tl-3 shape xs pink"></div>
        <div class="main-shape bl-1 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs yellow"></div>
        <div class="main-shape tr-2 shape xs-3 green"></div>
        <div class="main-shape t-r shape-icon sm green">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogretmen-mat-1.svg" alt="">
        </div>
        <div class="main-shape b-l shape-icon md darkblue">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogretmen-mat-3.svg" alt="">
        </div>
        <div class="main-shape b-r shape-icon md orange">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogretmen-mat-4.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero__wrp">
        <div class="hero__cnt">
          <div class="main-title">
            <span class="main-title__in orange with-border">
              Matematik Öğretmenleri
            </span><br>
            için kalifiye materyaller!
          </div>
          <div class="main-txt main-txt--lg mt-50 mb-40">
            Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili
            Kelime Grubu sizleri nelerin beklediğini bu infografikten
            inceleyebilirsiniz.
          </div>
          <div class="btn-mw btn-teacherlist uk-button uk-button--soft-orange-dark uk-button--icon-left">
            <span class="uk-button__icon">
              🎉
            </span>
            <span class="uk-button__txt">
              Okulistik Öğretmenlere Ücretsizdir</span>
          </div>
        </div>
        <div class="hero__img">
          <div class="hero__img-video">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/video-img.jpg" alt="">
            <span class="main-play-icon js-video-btn" data-video-id="-70iaCdo-ok">
              <svg class="icon icon-font">
                <use xlink:href="#icon-play"></use>
              </svg>
            </span>
          </div>
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogretmen-matematik.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section section--teacher-1">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-4 blue"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="home-content js-scroll-student">
        <div class="home-left">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/home_img-2.png" alt="">
        </div>
        <div class="home-right fs">
          <div class="home__cnt">
            <div class="main-title main-title--lg mb-50">
              Öğrencilerinizi hemen <br>
              <span class="main-title__in orange">
                Online platforma
              </span>
              taşıyın!
            </div>
            <ul class="check-list">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Ödev takip sistemi ile öğrencilerinize kolayca ödev verin
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Online içerik ve takip sistemi ile yıllık planlarınızı uygulayın
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sınavlarla sınıfınızın durumunu öğrenin
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Etkili analiz sonuçlarıyla öğrencilerinizin eksiklerini tamamalayın.
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--teacher-2 section-bordered">
    <div class="container hero__boxes-outer hero__boxes-outer--list">
      <div class="hero__boxes hero__boxes--list">
        <div class="hero__boxes-top">
          <div class="hero__boxes-top__left">
            <div class="main-tags">
              <div class="main-tag main-tag--white">
                <span class="main-tag__icon icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-mouse-c"></use>
                  </svg>
                </span>
                <span class="main-tag__txt">
                  Online Ürün
                </span>
              </div>
              <div class="main-tag main-tag--simple">
                <div class="main-tag__txt">Matematik Öğretmenleri</div>
              </div>
            </div>
            <div class="main-title main-title--md mb-20 mt-10">
              <span class="main-title__in orange">
                E-içerik
              </span>
              Paketleri
            </div>
            <div class="main-txt main-txt--lg mb-40">
              Okulistik olarak 2004 yılından beri kurumsal ölçme ve
              değerlendirme çözümleri sunmaktayız. Sorularımız güncel
              MEB Öğretim Programı hazırlanmaktadır.
            </div>
            <a href="#0" class="uk-button btn-w uk-button--soft-orange-dark uk-button--icon-right">
              <span class="uk-button__txt">
                Dersler ve Konuları</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="hero__boxes-top__right">
            <ul class="check-list check-list--reverse">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sınırsız ders tekrarı yap. Bütün konular elinin altında!
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Üst düzey içeriklerle soru çözme becerisi kazan.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Etkinlik Uygulamaları’na katıl. Türkiye genelinde yerini gör!
                </span>
              </li>
            </ul>
            <div class="btn-mw btn-teacherlist uk-button uk-button--white uk-button--icon-left mt-50">
              <span class="uk-button__icon">
                🎉
              </span>
              <span class="uk-button__txt">
                Okulistik Öğretmenlere Ücretsizdir</span>
            </div>
          </div>
        </div>
        <div class="product-simple-wrp mt-50 js-scroll-eicerik">
          <a href="#0" class="product-simple-item">
            <div class="product-simple-item__month">
              12 AY
            </div>
            <div class="product-simple-item__title">
              12 Aylık İçerikler
            </div>
            <div class="product-simple-item__txt">
              Buraya kısa bir içerik yazısı gelip öncelikli bilgilendirme yapılabilir
            </div>
            <div class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
              <span class="uk-button__txt">
                ÜRÜNÜ İNCELE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="product-simple-item">
            <div class="product-simple-item__month">
              6 AY
            </div>
            <div class="product-simple-item__title">
              6 Aylık İçerikler
            </div>
            <div class="product-simple-item__txt">
              6 Ay İçerik Paketi 150 TL <br>
              olup taksitli ya da peşin ödenebilir.
            </div>
            <div class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
              <span class="uk-button__txt">
                ÜRÜNÜ İNCELE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="product-simple-item">
            <div class="product-simple-item__month">
              3 AY
            </div>
            <div class="product-simple-item__title">
              3 Aylık İçerikler
            </div>
            <div class="product-simple-item__txt">
              Buraya kısa bir içerik yazısı gelip öncelikli bilgilendirme yapılabilir
            </div>
            <div class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
              <span class="uk-button__txt">
                ÜRÜNÜ İNCELE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="product-simple-item">
            <div class="product-simple-item__month">
              3 AY
            </div>
            <div class="product-simple-item__title">
              1 Aylık İçerikler
            </div>
            <div class="product-simple-item__txt">
              Buraya kısa bir içerik yazısı gelip öncelikli bilgilendirme yapılabilir
            </div>
            <div class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
              <span class="uk-button__txt">
                ÜRÜNÜ İNCELE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="section section--teacher-3 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-4 blue"></div>
        <div class="main-shape tl-2 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="about-info about-info--teacher">
        <div class="about-info__left">
          <div class="main-title main-title--lg mb-50">
            Ölçme ve Değerlendirme<br>
            <span class="main-title__in orange">
              Uygulamalarımız Hakkında
            </span>
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
          </ul>
        </div>
        <div class="about-info__right">
          <div class="about-info__img">
            <div class="about-info__img-info top">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hand_with.png"
                class="about-info__img-info-hand" alt="">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/chart-shape.svg" alt="">
              <span>
                Ölçümlenebilir
              </span>
              <p>
                bu infografikten başka inceleyebilir.
              </p>
            </div>
            <div class="about-info__img-info right">
              <div>
                <span>
                  ⚡
                </span>
                Hızlı Erişilebilir
              </div>
              <p>
                Kelime Grubu’nda sizleri de nelerin bekle
                bu infografikten başka inceleyebilir.
              </p>
            </div>
            <div class="about-info__img-top">
              <span class="about-info__img-round"></span>
              <span class="about-info__img-round"></span>
              <span class="about-info__img-round"></span>
            </div>
            <div class="about-info__img-inner">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/video-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-product-1 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tr-1 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Değerlendirme Sınavı
            </span>
          </div>
          <div class="main-txt main-txt--lg main-txt--dark mb-40">
            + Online Değerlendirme Sınavı Tekrarı <br>
            + 5 Günlük E-İçerik Paketi hediyedir
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Sınırsız ders tekrarı yap. Bütün konular elinin altında!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Sınırsız ders tekrarı yap. Bütün konular elinin altında!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
        <div class="product-list-featured__img">
          <div class="main-tags">
            <div class="main-tag main-tag--orange">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
          </div>
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="container container--w">
      <div class="product-list-wrp mt-75">
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="section section-product-2 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 green"></div>
        <div class="main-shape tr-1 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Telafi Eğitimi
            </span>
            Uygulaması
          </div>
          <div class="main-txt main-txt--lg mb-20">
            Öğrencilerinizin, uzaktan eğitim süresince işlenen konuları ne ölçüde öğrendiğini görün. Böylece güçlü
            ve zayıf oldukları konuları fark ederek eğitim öğretim yılı başında eksiklerini tamamlayabilirsiniz.
          </div>
          <div class="main-txt main-txt--lg main-txt--dark mb-40">
            16 Mart 2020 - 19 Haziran 2020 arasındaki konulardan oluşur.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-product-3 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 blue"></div>
        <div class="main-shape tr-1 shape xs-2 pink"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Hazır Bulunuşluk
            </span>
            Uygulaması
          </div>
          <div class="main-txt main-txt--lg mb-20">
            Öğrencilerinizin, uzaktan eğitim süresince işlenen konuları ne ölçüde öğrendiğini görün. Böylece güçlü
            ve zayıf oldukları konuları fark ederek eğitim öğretim yılı başında eksiklerini tamamlayabilirsiniz.
          </div>
          <div class="main-txt main-txt--lg main-txt--dark mb-40">
            16 Mart 2020 - 19 Haziran 2020 arasındaki konulardan oluşur.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-product-4 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 green"></div>
        <div class="main-shape tr-1 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Haftalık Değerlendirme Testleri
            </span> <br>
            Sayısal 56 Adet
          </div>
          <div class="main-txt main-txt--lg mb-40">
            Kazanımları haftalık olarak değerlendirmek amacıyla hazırlanmış yeni nesil sorulardan oluşan testlerdir.
            <span class="main-txt__underline">Matematik Öğretmenleri ve Matematik derslerinde</span>, her biri için
            28’er adet
            olmak üzere toplam 56 testten oluşur.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-product-5 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 blue"></div>
        <div class="main-shape tr-1 shape xs-2 pink"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Kurumsal Yıl Sonu Değerlendirme
            </span> <br>
            Sınavları 6 Adet
          </div>
          <div class="main-txt main-txt--lg mb-20">
            6 adet değerlendirme sınavı paket hâlinde bulunur. Sınavlar tüm yılın konularını kapsayacak şekilde yeni
            nesil sorular ile hazırlanmıştır
          </div>
          <div class="main-txt main-txt--lg main-txt--dark mb-40">
            16 Mart 2020 - 19 Haziran 2020 arasındaki konulardan oluşur.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-product-6 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 green"></div>
        <div class="main-shape tr-1 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Süreç Değerlendirme Testleri
            </span> <br>
            Matematik Öğretmenleri 8 Test
          </div>
          <div class="main-txt main-txt--lg mb-40 mb-20">
            Öğretim programlarına göre öğrencilerin yıl boyunca gelişim sürecinin konu bazlı takip edilebileceği
            8 adet testten oluşur. Testler öğrencinin belirli bir süre içerisinde öğrendiği konuları ölçer.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-product-7 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 blue"></div>
        <div class="main-shape tr-1 shape xs-2 pink"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">Matematik Öğretmenleri</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Benim Sınavlarım
            </span>
          </div>
          <div class="main-txt main-txt--lg mb-40">
            <span class="main-txt__underline">Taragöz</span> kendileri tarafından hazırlanan sorulardan oluşan
            sınavlardır. Okulistik deneyimiyle basılır ve
            ölçme değerlendirme hizmeti verilir.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-product-slider">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tr-1 shape xs-3 pink"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="product-slider__top">
        <div class="main-tag main-tag--orange-soft">
          <span class="main-tag__icon icon-font">
            <svg class="icon icon-font">
              <use xlink:href="#icon-basket"></use>
            </svg>
          </span>
          <span class="main-tag__txt">
            Matematik Öğretmenleri <span class="colored-orange">Market Ürünleri</span>
          </span>
        </div>
        <div class="main-title main-title--md mt-10">
          Eğitim için yüzlerce ek içerik
          <span class="main-title__in orange">
            sizlerle!
          </span>
        </div>
      </div>
      <div class="product-slider__wrp">
        <div class="swiper-container" tabindex="-1" uk-slider>
          <div class="swiper-wrapper uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="swiper-button-prev swiper-button-main">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </div>
          <div class="swiper-button-next swiper-button-main">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </div>

        </div>
      </div>
      <div class="product-slider__bottom">
        <div class="main-txt main-txt--lg mb-40 text-center">
          Okulistik çağrı merkezi görüşme kayıtlarından derlenmiştir.
        </div>
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Tüm Matematik Öğretmenleri Ürünleri
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>


  <%= require('html-loader!../../partials/footer-banner.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/scripts.html') %>
</body>

</html>