.accordion {
  width: 100%;
  margin-bottom: 35px;
  transition: $transition;

  &--orange {
    .accordion {

      &.active,
      &.uk-open {
        .accordion {
          &-header {
            &__icon {
              background: $colorOrange;

              &>span {
                color: #fff;
              }
            }
          }
        }
      }

      &-header {
        background: $colorOrangeSoft;
        border-radius: 25px;
        padding: 18px 30px;

        &:hover {
          .accordion {
            &-header {
              &__icon {
                background: $colorOrange;

                &>span {
                  color: #fff;
                }
              }
            }
          }
        }

        &__icon {
          background: #fff;

          span {
            color: $colorOrange;
          }
        }
      }
    }
  }

  &--arrow {

    .accordion {

      &.active,
      &.uk-open {
        .accordion {
          &-header {
            &__icon {
              &>span {
                transform: rotate(-90deg) translateY(-1px);
              }
            }
          }
        }
      }

      &-header {
        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;

          &>span {
            transform: rotate(90deg);
            transition: $transition2s;
            color: $colorOrange;
          }

          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.active,
  &.uk-open {
    .accordion {
      &-header {
        &__icon {
          &:before {
            transform: translate(-50%, -50%) rotate(270deg);
          }

          &:after {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }

      &-content {
        padding: 20px 0;
        opacity: 1;
      }
    }
  }

  &-header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:before {
      display: none;
    }

    &:hover {
      .accordion-header__icon {
        background: $colorOrange;

        &:before,
        &:after {
          background: #fff;
        }
      }
    }

    &__txt {
      font-size: 18px;
      font-weight: 500;
      color: $colorTextDark;
      line-height: 1.6em;
      margin-bottom: 0;
    }

    &__cnt {
      display: flex;
      align-items: center;

      &-icon {
        color: $colorOrange;
        font-size: 30px;
        margin-right: 25px;
        flex-shrink: 0;
      }

      &-wrp {
        display: flex;
        flex-direction: column;
      }

      &-subtitle {
        color: $colorOrange;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
      }

      &-subtxt {
        color: $colorTextDark;
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }

    &__icon {
      background: $colorYellowSoft;
      border-radius: 15px;
      width: 55px;
      height: 55px;
      position: relative;
      flex-shrink: 0;
      transition: $transition;
      margin-left: 25px;


      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $colorOrange;
        border-radius: 10px;
        transition: $transition;
      }

      &:before {
        height: 20px;
        width: 3px;
      }

      &:after {
        height: 3px;
        width: 20px;
      }
    }
  }

  &-content {
    transition: $transition;
    // height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: $transition;

    p {
      font-size: 18px;
      color: $colorTextSoft;
      line-height: 1.6em;
      margin-bottom: 0;
    }
  }

  &-ul {
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }

  &-li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &__txt {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 19px;
    }
  }
}