.address {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &__icon {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: $colorYellowSoft;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 15px;
    font-size: 33px;
  }

  &__cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 15px;
  }

  &__title {
    color: $colorTextDark;
    font-weight: 500;
    font-size: 18px;
  }

  &__txt {
    font-size: 16px;
    color: $colorTextSoft;
    font-weight: 400;
  }

  &__edit {
    margin-left: auto;
    background: rgba($colorTextSoft, .10);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: $transition;

    &:hover {
      background: $colorTextSoft;

      &>span {
        background: #fff;

        &::before,
        &:after {
          background: #fff;
        }
      }
    }

    &-dot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $colorTextSoft;
      transition: $transition2s;


      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $colorTextSoft;
        transition: $transition2s;

      }

      &:before {
        top: -7px;
      }

      &:after {
        bottom: -7px;
      }
    }
  }

}

.new-address {
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div {
      width: 50%;
      margin-right: 25px;
      font-size: 16px;
      font-weight: 400;
      color: $colorTextSoft;
    }

    .uk-button {
      width: 50%;
    }
  }
}