.catalog {
	&__wrp {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__item {
		width: 100%;
		margin-right: 40px;
		background: $colorYellowSoft;
		border-radius: 35px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px;

		.uk-button {
			width: 100%;
			margin-top: auto;
		}

		&:last-child {
			margin-right: 0;
		}

		.check-list {
			width: 100%;
			margin-bottom: 40px;

			&__item {
				align-items: center;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&__txt {
				top: 0;
			}
		}
	}

	&__img {
		width: 171px;
		border-radius: 35px;
		overflow: hidden;
		margin-bottom: 40px;
		filter: drop-shadow(0 8px 0.3rem rgba(#e95f79, 0.4));

		img {
			width: 100%;
			height: 100%;
			position: relative;
			top: 2px;
			object-fit: cover;
		}
	}

	&__year {
		color: $colorOrange;
		font-weight: 700;
		font-size: 18px;
	}

	&__title {
		color: $colorTextDark;
		font-size: 30px;
		font-weight: 500;
		margin-top: 15px;
		margin-bottom: 40px;
	}
}

.section {
	&--catalog {
		padding-bottom: 150px;

		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 25%;
					left: -5%;
				}

				&.bl-1 {
					bottom: 5%;
					left: 0%;
				}

				&.br-1 {
					bottom: 20%;
					right: -5%;
				}

				&.br-2 {
					bottom: 0%;
					right: 30%;
				}
			}
		}
	}
}