.check-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &.mb-50 {
    margin-bottom: 50px;
  }

  &--reverse {
    .check-list {
      &__icon {
        background: #fff;
      }
    }
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: $colorYellowSoft;
    color: $colorYellow;
    font-size: 14px;
  }

  &__txt {
    color: $colorTextSoft;
    font-weight: 400;
    position: relative;
    top: -3px;
    line-height: 1.6em;
    font-size: 17px;
  }
}