.class-box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: $transition;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: #F6F7F8;
  }

  &--big {
    justify-content: center;
    align-items: flex-start !important;
    height: 240px;

    .class-box {
      background: $colorOrangeSoft;
      border-radius: 22px;
      width: 100%;
      margin-right: 25px;
      height: 200px;
      padding: 25px;
      overflow: hidden;

      .uk-button {
        width: calc(100% + 20px);
        left: -10px;
        transform: scale(0.8) translateY(60px);
        opacity: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        height: 240px;
        transform: translateY(0px);
        @include boxShadowDark;

        .uk-button {
          transform: translateY(20px) scale(1);
          opacity: 1;
        }

        .class-box {
          &__num {
            transform: translateY(0px);
          }
        }
      }

      &__num {
        width: 85px;
        height: 85px;
        font-size: 42px;
        flex-shrink: 0;
        background: #fff;
      }

      &__txt {
        color: $colorTextDark;
        margin-top: 25px;
        font-size: 24px;
      }
    }
  }

  &__wrp {
    display: flex;
    align-items: center;

    .vertical-magic-line {
      background: #F6F7F8;
      border-radius: 16px;
    }

  }

  &__num {
    color: $colorOrange900;
    font-weight: 600;
    background: $colorOrangeSoft;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: $transition;
    @include boxShadowNone;
  }

  &__txt {
    color: $colorTextDark;
    font-weight: 600;
    margin-top: 10px;
    transition: $transition;
  }

  &.active,
  &:hover {
    .class-box {
      &__num {
        background: $colorOrange;
        color: #fff;
        @include boxShadowOrange;
      }

      &__txt {
        color: $colorTextDark;
      }
    }
  }

  &.noactive {
    .class-box {
      &__num {
        color: $colorOrange900;
        background: $colorOrangeSoft;
        @include boxShadowNone;
      }

      &__txt {
        color: $colorTextSoft;
      }
    }

    &:hover {
      .class-box {
        &__num {
          background: $colorOrange;
          color: #fff;
          @include boxShadowOrange;
        }

        &__txt {
          color: $colorTextDark;
        }
      }
    }
  }
}