.exam-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba($colorBorder, .35);
  border-radius: 25px;
  overflow: hidden;

  &.js-with-type {
    .totally {
      &>div {

        &:not(:nth-child(-n+2)) {
          background: $colorYellowSoft;

          &>div {
            color: $colorOrange;
            font-weight: 600;
          }
        }

        &:nth-child(-n+2) {
          background: transparent;
        }
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba($colorBorder, .35);

    &:last-child {
      border-bottom: none;
    }

    &.totally {
      &>div {
        &:not(:first-child) {
          background: $colorYellowSoft;

          &>div {
            color: $colorOrange;
            font-weight: 600;
          }
        }
      }
    }
  }

  &__col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba($colorBorder, .35);
    padding: 23px 0;

    &-type-sozel {
      position: absolute;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
    }

    &-type-sayisal {
      position: absolute;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__txt {
    color: $colorTextSoft;
    font-size: 17px;
  }

  &__title {
    color: $colorTextDark;
    font-weight: 500;
    font-size: 19px;
  }

  &__title,
  &__txt {
    max-width: 50%;
    width: 100%;
  }
}

.section {
  &--exam {
    .main-shapes {
      .main-shape {
        &.tl-1 {
          top: 42%;
          left: -5%;
        }

        &.tl-2 {
          top: 78%;
          left: -3%;
        }

        &.tr-1 {
          top: 35%;
          right: -7%;
        }

        &.tr-2 {
          top: 82%;
          right: -3%;
        }
      }
    }
  }
}