button {
	border: none;
	outline: none;
}

.input {
	& {
		border: none;
		outline: none;
		width: calc(100% - 22px - 20px);
		// height: 100%;
		color: $colorTextDark;
		font-size: 19px;
		font-weight: 500;

		&::placeholder {
			color: $colorTextSoft;
			font-weight: 400;
		}
	}

	&-focused {
		.input {
			&-icon {
				color: rgba($colorTextSoft, 0.5);
			}
		}
	}

	&-texted {
		.input {
			&-icon {
				color: $colorOrange;
			}
		}
	}

	&-changed {
		position: relative;

		&.active {
			.input-icon-outer {
				&>span {
					&.login-normal {
						opacity: 0;
						pointer-events: none;
						transform: translateY(-10px);
					}

					&.login-bayi {
						opacity: 1;
						pointer-events: all;
						transform: translateY(0px);
					}
				}
			}
		}

		.input-icon-outer {
			position: relative;
			width: 22px;
			height: 26px;
			margin-right: 20px;

			&>span {
				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
				opacity: 0;
				transition: $transition;

				&.login-normal {
					opacity: 1;
					pointer-events: all;
					transform: translateY(0px);
				}

				&.login-bayi {
					transform: translateY(10px);
				}
			}
		}
	}

	&-subtitle {
		color: $colorTextDark;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&-infotitle {
		color: $colorTextSoft;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 25px;
	}

	&-txt {
		color: $colorTextSoft;
		font-weight: 400;
		font-size: 20px;

		strong {
			font-weight: 500;
			color: $colorTextDark;
		}
	}

	&-outer {
		width: 100%;
		background: transparent;
		border: 1px solid #c2cad1;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-flow: wrap;
		padding: 20px 25px;
		position: relative;

		&.invalid {
			border: 1px solid #cc0000 !important;
			margin-bottom: 35px;

			&.disabled {
				border-color: #c2cad1;

				.select2-container--default .select2-selection--single {
					border-color: #c2cad1 !important;
				}
			}
		}

		&.w-textarea {
			align-items: flex-start;

			.input {
				height: 100px;
				resize: none;

				&-icon {
					top: -4px;
					position: relative;
				}
			}
		}
	}

	&-num-start {
		&-outer {
			width: 133px;

			input {
				width: 100%;
			}
		}
	}

	&-icon {
		color: rgba($colorTextSoft, 0.2);
		font-size: 22px;
		margin-right: 20px;
		flex-shrink: 0;

		&__right {
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 26px;
			color: rgba($colorTextSoft, 0.2);
			cursor: pointer;

			&:hover {
				color: rgba($colorTextSoft, 0.5);
			}

			&.active {
				color: $colorTextDark;
			}

			&.input-icon-oranged {
				background: $colorYellowSoft;
				color: $colorOrange;
				font-size: 16px;
				width: 50px;
				height: 50px;
				right: 10px;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&-checkbox {
		&.input-error {
			.error {
				bottom: 20px;
			}
		}
	}

	&-group {
		display: flex;
		flex-flow: nowrap;

		&.aifs {
			align-items: flex-start;
		}

		&>div {
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}
		}

		&--w-text {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		&--column {
			display: flex;
			flex-direction: column;

			.input {
				&-outer {
					&:first-child {
						border-radius: 20px 20px 0 0;
						border-bottom: none;
					}

					&:last-child {
						border-radius: 0 0 20px 20px;
					}
				}
			}
		}

		&--other {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&--buttons {
			display: flex;
			justify-content: space-between;

			.uk-button {
				width: 100%;

				&:first-child {
					margin-right: 20px;
				}

				&:last-child {
					margin-right: 0;
				}

				&--soft-orange {
					.uk-button__txt {
						color: $colorOrange;
					}

					&:hover {
						.uk-button__txt {
							color: #fff;
						}
					}
				}
			}
		}
	}

	&--card {
		&-top {
			display: flex;
			width: 100%;

			.card-wrapper {
				&--form {
					width: 45%;
					margin-left: 25px;
					flex-shrink: 0;
				}
			}
		}

		&-bottom {
			display: flex;
			width: 100%;
			margin-top: 25px;

			&-left {
				width: calc(55% - 25px);
				display: flex;
				flex-shrink: 0;

				.input-group {
					width: calc(70% - 25px);
					margin-right: 25px;

					.input-outer {
						&:first-child {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							margin-right: 0;
						}

						&:last-child {
							border-top-left-radius: 0;
							position: relative;
							left: -1px;
							border-bottom-left-radius: 0;
						}
					}
				}

				&>div {
					input {
						width: 100%;
					}

					&:last-child {
						width: 30%;
					}

					&.ccv-info {
						position: relative;

						&>span {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 15px;
							color: $colorOrange;
							font-size: 20px;
						}
					}
				}
			}

			&-right {
				width: 45%;
				margin-left: 25px;
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;

				&-labels {
					display: flex;
					align-items: center;
					justify-content: space-between;
					max-width: 70%;
					width: 100%;

					.main-radio {
						color: $colorTextSoft;
					}

					.main-radio input:checked~.main-radio__txt {
						color: $colorTextDark !important;
					}
				}
			}
		}

		&-left {
			flex-shrink: 0;
			width: calc(55% - 25px);
		}
	}
}


label.error {
	margin-bottom: 0;
	margin-top: 15px;
	color: #cc0000;
	font-weight: 500;
	font-size: 16px;
	position: absolute;
	bottom: -22px;

	&.disabled {
		display: none !important;
	}
}

.remember-me {
	display: flex;
	align-items: center;
	font-size: 17px;
	font-weight: 400;
	color: $colorTextSoft;

	.switch-outer {
		margin-left: 15px;
	}
}

.forget-password {
	color: $colorTextDark;
	font-weight: 400;
	font-size: 17px;
	transition: $transition2s;

	&:hover {
		color: $colorOrange;
	}
}

input#switch {
	max-height: 0;
	max-width: 0;
	opacity: 0;
	position: absolute;
	left: -9999px;
	pointer-events: none;

	&+label {
		display: block;
		position: relative;
		background: #fff;
		border: 1px solid #c2cad1;
		text-indent: -5000px;
		height: 32px;
		margin-bottom: 0;
		width: 57px;
		border-radius: 15px;
		cursor: pointer;
		transition: $transition;
	}

	&+label:before {
		content: '';
		position: absolute;
		display: block;
		height: 30px;
		width: 32px;
		top: 0;
		left: 0;
		border-radius: 15px;
		background: transparent;
		transition: $transition;
	}

	&+label:after {
		content: '';
		position: absolute;
		display: block;
		height: 20px;
		width: 20px;
		top: 5px;
		left: 5px;
		border-radius: 15px;
		background: $colorOrange;
		transition: $transition;
	}

	&:checked+label {
		border-color: transparent;
	}

	&:checked+label:before {
		width: 55px;
		background: $colorOrange;
	}

	&:checked+label:after {
		left: 29px;
		background: #fff;
	}
}

.static-form {
	padding: 75px;
	padding-bottom: 40px;
}

.dynamic-form {
	padding: 75px;
	padding-bottom: 40px;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: $transition;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	&.preved {
		transform: translateX(-100%);
	}

	&.nexted {
		transform: translateX(100%);
	}
}

// sign up

.signup {
	&-wrp {
		position: relative;
	}

	&-buttons {
		position: relative;
		height: 66px;

		&__in {
			width: 100%;
			display: flex;
			position: absolute;
			opacity: 0;
			transition: $transition;
			pointer-events: none;

			&.in-1 {
				transform: translateX(-100%);

				&.active {
					opacity: 1;
					transform: translateX(0);
					pointer-events: all;
				}

				&.disabled {
					opacity: 0;
					transform: translateX(-100%);
					pointer-events: none;
				}

				.uk-button {
					width: 100%;
					padding-top: 15px;
					padding-bottom: 15px;
					margin-right: 20px;

					&:last-child {
						margin-right: 0;
					}

					&__icon {
						font-size: 36px;
					}
				}
			}

			&.in-2 {
				transform: translateX(100%);

				&.active,
				&.actived {
					opacity: 1;
					transform: translateX(0);
					pointer-events: all;
				}

				&.buttonsVeli {
					.uk-button {
						&:nth-child(3) {
							margin-right: 0;
						}
					}
				}

				.uk-button {
					padding: 5px;
					width: 100%;
					width: 60px;
					height: 60px;
					overflow: hidden;
					margin-right: 30px;
					@include boxShadowNone;
					transition: $transition !important;
					flex-shrink: 0;

					&:hover {
						background: $colorOrangeSoft;
					}

					&:last-child {
						margin-right: 0;
					}

					&__icon {
						display: flex;
						align-items: center;
						justify-content: center;
						color: $colorTextDark;
						width: 50px;
						height: 50px;
						transition: none !important;
						border-radius: 15px;
						flex-shrink: 0;
					}

					&__txt {
						opacity: 0;
						color: $colorTextDark;
						width: 0;
						transition: none !important;
					}

					&.preved {
						background: $colorOrange;
						@include boxShadowNone;

						&:hover {
							background: $colorOrange;
						}

						.uk-button__icon {
							color: #fff;
						}
					}

					&.active {
						background: $colorOrangeSoft;
						@include boxShadowNone;
						width: 100%;
						flex-shrink: initial;

						.uk-button__icon {
							background: #fff;
							color: $colorOrange900;
							border-radius: 15px;
							margin-right: 30px;
						}

						.uk-button__txt {
							margin-right: auto;
							opacity: 1;
							width: 100%;
						}
					}
				}
			}
		}
	}

	&-form {
		padding: 50px 75px;
		position: relative;

		&__inner {
			transition: $transition;
			position: relative;
		}

		&__wrp {
			position: absolute;
			width: calc(100% - 150px);
			opacity: 0;
			transition: $transition;
			transform: translateX(-100%);
			pointer-events: none;

			&.active {
				opacity: 1;
				transform: translateX(0);
				width: 100%;
				pointer-events: all;
			}

			&.nexted {
				transform: translateX(100%);
			}
		}
	}

	&-item {
		opacity: 1;
		animation: filteredOpacity $transition alternate forwards;

		&.filtering {
			animation: filteringOpacity $transition alternate forwards;
		}

		&.filtered {
			display: none;
		}

		@keyframes filteringOpacity {
			from {
				opacity: 1;
			}

			to {
				opacity: 0;
			}
		}

		@keyframes filteredOpacity {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	}
}

.input-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&__text {
		color: $colorTextSoft;
		font-weight: 400;
		line-height: 1.6em;
		font-size: 17px;

		&>span {
			color: $colorTextDark;
			cursor: pointer;
		}
	}
}

/* Hide the browser's default checkbox */
.input-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	border: 1px solid #c2cad1;
	border-radius: 8px;
	background: transparent;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked~.checkmark {
	background-color: $colorOrange;
	border-color: $colorOrange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.input-container input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.input-container .checkmark:after {
	left: 9px;
	top: 6px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0px 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* The container */
.main-radio {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0;
}

/* Hide the browser's default radio button */
.main-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.main-radio__checkmark {
	position: relative;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 15px;
	flex-shrink: 0;
	border: 1px solid #C2CAD1;
}

/* On mouse-over, add a grey background color */
// .main-radio:hover input~.main-radio__checkmark {
// 	background-color: #ccc;
// }

/* When the radio button is checked, add a blue background */
.main-radio input:checked~.main-radio__checkmark {
	// background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.main-radio__checkmark:after {
	content: "";
	position: absolute;
	transform: scale(0);
	transition: $transition;
}

/* Show the indicator (dot/circle) when checked */
.main-radio input:checked~.main-radio__checkmark:after {
	transform: scale(1);
}

/* Style the indicator (dot/circle) */
.main-radio .main-radio__checkmark:after {
	width: 17px;
	position: absolute;
	height: 17px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: $colorOrange;
}

.select-icon-outer {
	.select2-container--default .select2-selection--single {
		position: relative;
	}

	.select2-selection__rendered {
		padding-left: calc(22px + 25px) !important;
	}
}

.select-il-outer,
.select-ilce-outer {
	.select2-container--default .select2-selection--single {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 54%;
			margin-top: -2.5px;
			left: 25px;
			background-image: url('../../assets/icons/icon-building-gray.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			width: 20px;
			height: 23.4px;
			transform: translateY(-50%);
		}
	}

	.select2-selected {
		&.select2-container--default {
			.select2-selection--single {
				&:before {
					background-image: url('../../assets/icons/icon-building-orange.svg');
				}
			}
		}
	}
}

.main-checkbox {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0;
}

/* Hide the browser's default checkbox */
.main-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.main-checkbox__checkmark {
	position: relative;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border-radius: 10px;
	margin-right: 15px;
	flex-shrink: 0;
	border: 1px solid #C2CAD1;
	transition: $transition;
}

.main-checkbox__txt {
	color: $colorTextSoft;
	line-height: 1.3em;

	&>span {
		color: $colorTextDark;
		transition: $transition2s;

		&:hover {
			color: $colorOrange;
		}
	}
}

/* On mouse-over, add a grey background color */
.main-checkbox:hover input~.main-checkbox__checkmark {
	// background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.main-checkbox input:checked~.main-checkbox__checkmark {
	background-color: $colorOrange;
	border-color: $colorOrange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.main-checkbox__checkmark:after {
	content: "";
	position: absolute;
	transform: scale(0) rotate(45deg);
	transition: $transition;
}

/* Show the checkmark when checked */
.main-checkbox input:checked~.main-checkbox__checkmark:after {
	transform: scale(1) rotate(45deg);
}

/* Style the checkmark/indicator */
.main-checkbox .main-checkbox__checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: scale(0) rotate(45deg);
}

.cupon-error {
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: #cc0000;
}

.jp-card {
	min-width: 100% !important;

	&-container {
		height: 100% !important;
		width: 100% !important;
	}
}

.jp-card .jp-card-front,
.jp-card .jp-card-back {
	background: #233C67 !important;

	&:before {
		background-image: none !important;
		background-color: transparent !important;
	}
}

.jp-card .jp-card-front .jp-card-lower .jp-card-number {
	font-size: 16px !important;
}

.jp-card .jp-card-front .jp-card-lower .jp-card-name {
	font-size: 16px !important;
}

.jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
	font-size: 16px !important;
}

.jp-card .jp-card-front .jp-card-shiny,
.jp-card .jp-card-back .jp-card-shiny {
	display: none !important;
}

.uk-select {
	font-size: 19px !important;
	line-height: 1.2em !important;
	border-radius: 20px !important;
	padding: 20px 25px !important;
	height: unset !important;
	color: $colorTextSoft !important;
	font-weight: 400 !important;
	border: 1px solid #c2cad1 !important;
}