.hero {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  position: relative;
  z-index: 1;

  &.mt-index {
    margin-top: 20px;
  }

  &--bottom {
    .hero {
      &__wrp {
        margin-top: 0;
      }

      &__img {
        width: 635px;
        position: relative;
      }
    }
  }

  &--flex {
    height: auto;
    margin-top: 170px;
    border-bottom: 1px solid rgba($colorBorder, .35);

    .hero {
      &__wrp {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      &__cnt {
        margin-bottom: 0;
        padding-right: 100px;
      }

      &__img {
        width: 625px;

        &-video {
          margin-bottom: -150px;
        }
      }
    }
  }

  &--centered {
    .hero {
      &__wrp {
        justify-content: space-between;
        flex-direction: row;
        position: relative;
      }

      &__img {
        &--left {
          width: 427px;
          position: relative;
          bottom: -140px;

          img {
            width: 100%;
          }
        }

        &--right {
          width: 291px;
          position: relative;
          bottom: -140px;

          img {
            width: 100%;
          }
        }
      }

      &__cnt {
        text-align: center;
        max-width: 700px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50px);

        .main-subtitle {
          justify-content: center;
        }
      }

      &__buttons {
        .uk-button {
          padding: 21.5px 26px;

          &__icon {
            font-size: 18px;
          }
        }
      }
    }
  }

  &--about {
    .main-shapes {
      z-index: 1;
    }

    .main-shape {
      &.t-l {
        top: 14% !important;
        left: 17% !important;
      }

      &.b-r {
        right: 17% !important;
      }

      &.shape {
        &.tl-1 {
          left: -10%;
          top: 20%;
        }

        &.tl-2 {
          top: 48%;
          left: 2%;
        }

        &.tl-3 {
          top: 49%;
          left: 30%;
        }

        &.bl-1 {
          bottom: 39%;
          left: 19%;
        }

        &.tr-2 {
          top: 32%;
          right: -3%;
        }

        &.tr-3 {
          top: 62%;
          right: -8%;
        }

        &.br-1 {
          bottom: 46%;
          right: 4%;
        }

        &.br-2 {
          bottom: 30%;
          right: 37%;
        }
      }
    }
  }

  &--teacherlist {
    padding-top: 150px;

    .main-shapes {
      z-index: 1;
    }

    .main-shape {
      &.shape {
        &.tl-1 {
          left: 3%;
          top: 5%;
        }

        &.tl-2 {
          top: 48%;
          left: -7%;
        }

        &.tl-3 {
          top: 11%;
          left: 22%;
        }

        &.bl-1 {
          bottom: 4%;
          left: 21%;
        }

        &.tr-1 {
          top: -5%;
          right: 6%;
        }

        &.tr-2 {
          top: 42%;
          right: -3%;
        }
      }

      &.shape-icon {
        &.t-r {
          top: 1%;
          right: 48%;
        }

        &.b-l {
          bottom: 8%;
          right: 50%;
          left: auto;
        }

        &.b-r {
          bottom: 35%;
          right: 2%;
        }
      }
    }
  }

  &>div {
    height: 100%;
  }

  &__wrp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -100.5px;
  }

  &__img {
    width: 725px;

    &-video {
      margin-bottom: -200px;
      transform: rotate(-4deg);
      border-radius: 50px;
      border: 10px solid $colorOrangeSoft;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
      }

      &>.main-play-icon {
        z-index: 3;
      }
    }

    img {
      width: 100%;
      position: relative;
      z-index: 2;
      pointer-events: none;
    }
  }

  &__cnt {
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;

    .uk-button {
      width: 49%;
      padding: 16px 26px;
      margin-right: 2%;

      &:last-child {
        margin-right: 0;
      }

      &__icon {
        font-size: 35px;
      }

      &__txt {
        font-size: 18px;
      }
    }
  }

  &__boxes {
    width: 100%;
    background: $colorOrangeSoft;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;

    &--list {
      border-radius: 80px;
      padding: 75px;
      display: flex;
      flex-direction: column;
    }

    &.f-column {
      flex-direction: column;
      padding: 50px 15px;

      .home-infos {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &.is-carousel {
      .swiper-button {
        &-main {
          display: flex;
        }
      }
    }

    &-outer {
      // transform: translateY(-50%);
      position: relative;
      z-index: 2;

      &--list {
        transform: translateY(0);
      }
    }

    .swiper-container {
      border-radius: 50px;
    }

    .swiper-slide {
      width: 33.33%;
    }

    .swiper-button {
      &-main {
        display: none;
      }

      &-next {
        right: -10px;
      }

      &-prev {
        left: -10px;
      }
    }

    &-top {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__left {
        width: 40%;
        padding-right: 50px;
      }

      &__right {
        width: 50%;
      }
    }
  }

  &__box {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: $transition;
    user-select: none;

    &:hover {
      background: #fff;
    }

    &-img {
      flex-shrink: 0;
      margin-right: 40px;
      width: 70px;
      height: 130px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      color: $colorTextDark;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.3em;

      span {
        color: $colorOrange;
        display: block;
      }
    }

    &-txt {
      color: $colorTextSoft;
      font-weight: 400;
      margin-top: 15px;
    }
  }
}