.lesson-tags {
  padding: 14px 20px;
  background: $colorOrangeSoft;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 12px;
  margin: 10px 5px 0px 5px;
  transition: $transition;

  &--big {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .lesson-tags {
      padding: 20px 36px;
      border-radius: 22px;
      transform: scale(1);
      animation: filteredScale $transitionEase alternate forwards;

      &.filtering {
        animation: filteringScale $transitionEase alternate forwards;
      }

      &.filtered {
        display: none;
      }

      @keyframes filteringScale {
        from {
          transform: scale(1)
        }

        to {
          transform: scale(0)
        }
      }

      @keyframes filteredScale {
        from {
          transform: scale(0)
        }

        to {
          transform: scale(1)
        }
      }

      &__txt {
        font-size: 22px;
      }
    }
  }

  span {
    color: $colorTextDark;
    transition: $transition2s;
  }

  &:hover,
  &.active {
    background: $colorOrange;

    span {
      color: #fff;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--wrap {
    flex-flow: wrap;
  }

  &__wrp {
    display: flex;
  }
}