.main-dropdowns {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;

  &.w-auto {
    width: auto;
  }
}

.main-dropdown {
  width: 100%;
  background: #F6F7F8;
  border-radius: 25px;
  margin-right: 35px;
  position: relative;
  z-index: 3;

  &.round {
    border-radius: 50px;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    .main-dropdown {
      &__list {
        transform: translateY(0px);
        opacity: 1;
        pointer-events: all;
      }

      &__icon {
        transform: rotate(180deg);
        background: $colorOrange;

        &:before {
          transform: translateY(-1px);
          border-top-color: #fff;
        }
      }
    }
  }

  &__cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 25px;
    cursor: pointer;

    &.uk-open {
      .main-dropdown__icon {
        transform: rotate(180deg);
        background: $colorOrange;

        &:before {
          transform: translateY(-1px);
          border-top-color: #fff;
        }
      }
    }
  }

  &__txt {
    font-weight: 600;
    font-size: 18px;
    color: $colorTextDark;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    flex-shrink: 0;
    margin-left: 25px;
    position: relative;
    transition: $transition;

    &:before {
      content: '';
      position: absolute;
      top: 13.5px;
      left: 10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $colorOrange;
      transition: $transition;
    }
  }

  &__list {
    position: absolute;
    top: calc(80px + 20px);
    background: #fff;
    border-radius: 25px;
    width: 100%;
    padding: 25px 15px;
    @include boxShadowMain;
    transform: translateY(40px);
    opacity: 0;
    pointer-events: none;
    transition: $transition;

    &.uk-open {
      transform: translateY(0px);
      opacity: 1;
      pointer-events: all;
      top: unset !important;
    }
  }

  &__item {
    color: $colorTextSoft;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: $transition;

    &:hover {
      color: $colorTextDark;
    }

    &.active {
      color: $colorTextDark;
      background: #F6F7F8;
    }
  }
}