.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 251;
	pointer-events: none;
	transition: $transition;
	display: flex !important;
	justify-content: center;
	align-items: center;

	&.uk-modal {
		background: rgba(63, 25, 11, 0.1);

		&.uk-open {
			pointer-events: all;

			.modal-main {
				transform: scale(1) translateY(0px);
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&--calendar {

		.modal {
			&-main {
				max-height: unset;
				height: auto;
				max-width: 550px;
			}

			&-content {
				p {
					font-size: 17px;
					font-weight: 400;
					text-align: center;
				}

				.about-info__card {
					margin-top: 50px;

					p {
						text-align: left;
						line-height: 1.4em;
					}
				}
			}
		}
	}

	&.removeLinear {
		.modal-footer {
			&:after {
				opacity: 0 !important;
			}
		}
	}

	&.addLinear {
		.modal-header {
			&:before {
				opacity: 1 !important;
			}
		}
	}

	.scroll-more {

		&:before,
		&:after {
			display: none;
		}

		.modal {
			&-header {
				&:before {
					content: '';
					position: absolute;
					bottom: -61px;
					left: 0;
					width: 100%;
					height: 60px;
					opacity: 0;
					background-image: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0));
					pointer-events: none;
					transition: .3s;
					z-index: 1;
				}
			}

			&-footer {
				&:after {
					content: '';
					position: absolute;
					top: -60px;
					left: 0;
					width: 100%;
					height: 60px;
					opacity: 1;
					background-image: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
					pointer-events: none;
					transition: .3s;
				}
			}
		}
	}

	&-main {
		background: #fff;
		border-radius: 28px;
		@include boxShadowDark;
		max-width: 650px !important;
		max-height: 650px;
		height: 100%;
		width: 100%;
		opacity: 0;
		transform: scale(0.8) translateY(60px);
		transition: $transition;
		padding-top: 30px;
		// padding-bottom: 30px;
		overflow-y: auto;
	}

	&.active {
		.modal {
			&-main {
				transform: scale(1) translateY(0px);
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&-overlay {
		z-index: 250;
	}

	&-header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba($colorBorder, .2);
		padding-bottom: 25px;
		margin-bottom: 30px;
		position: sticky;
		top: 0;
		background: #fff;

		&__calendar {
			display: flex;
			align-items: center;
			width: 100%;
			margin-right: 20px;

			&-icon {
				border-radius: 14px;
				width: 90px;
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				font-size: 40px;
				background: $colorYellowSoft;
				margin-right: 20px;
			}

			&-cnt {
				display: flex;
				flex-direction: column;
			}

			&-title {
				color: $colorTextDark;
				font-weight: 500;
				font-size: 26px;
			}

			&-txt {
				color: $colorTextSoft;
				font-weight: 500;
				font-size: 20px;
				margin-top: 10px;
			}
		}
	}

	&-footer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 30px;
		// border-top: 1px solid rgba($colorBorder, .2);
		position: sticky;
		bottom: 0;
		background: #fff;
	}

	&-content {
		p {
			color: $colorTextSoft;
			font-weight: 300;
			font-size: 16px;
			line-height: 1.5em;
			margin-bottom: 0;
		}
	}

	&-header,
	&-content,
	&-footer {
		padding-left: 30px;
		padding-right: 30px;
	}

	&-title {
		color: $colorTextDark;
		font-weight: 500;
		font-size: 25px;
	}

	&-close {
		background: #fff;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50% !important;
		@include boxShadowMain;
		transition: $transition;
		cursor: pointer;
		flex-shrink: 0;
		top: 0;
		right: 0;

		&>svg {
			display: none;
		}

		&:hover {
			background: $colorOrange;

			&:before,
			&:after {
				background: #fff;
			}

			&:before {
				transform: rotate(180deg);
			}

			&:after {
				opacity: 0;
				transform: rotate(180deg);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 24px;
			left: 15px;
			transform: rotate(45deg);
			width: 20px;
			height: 3px;
			border-radius: 10px;
			background: $colorOrange;
			transition: $transition;
		}

		&:after {
			content: '';
			position: absolute;
			top: 24px;
			left: 15px;
			transform: rotate(-45deg);
			width: 20px;
			height: 3px;
			border-radius: 10px;
			background: $colorOrange;
			transition: $transition;
		}
	}
}