.popup-box {
  background: #fff;
  @include boxShadowDark;
  border-radius: 25px;
  position: absolute;
  z-index: 6;
  transition: $transition;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(60px);

  &.uk-dropdown {
    opacity: 1;
    pointer-events: all;
    padding: 0;
    min-width: 260px;
    transform: translateY(0px);
    margin-top: 0;

    &.uk-open {
      top: unset !important;
      transform: translateY(20px) !important;
    }

    &>.popup-box {
      &__item {
        position: static;
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(20px);
  }

  &__inner {
    display: flex;
    flex-direction: column;

    &.with-r-line {
      position: relative;
      padding-right: 10px;
      margin-right: 10px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: -15px;
        width: 1px;
        height: calc(100% + 30px);
        background: rgba($colorBorder, .15);
      }
    }

    &.w-335 {
      width: 335px;
    }
  }

  &__item {
    padding: 15px 25px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: $transition2s;
    max-height: 600px;
    overflow-y: auto;

    &-inner {
      display: flex;
    }

    &.w-100-percent {
      width: 100%;
    }

    &.active {
      transform: translateX(0px);
      opacity: 1;
      pointer-events: all;
    }
  }

  &__title {
    color: $colorTextSoft;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
  }

  &__line {
    width: calc(100% + 50px);
    height: 1px;
    margin-left: -25px;
    background: rgba($colorBorder, .15);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;


    &-item {
      transition: $transition;

      &:hover {
        background: #F9FAFB;
        border-radius: 12px;

        .popup-box__list {
          &-txt {
            color: $colorOrange;
          }
        }
      }
    }

    &-txt {
      color: $colorTextDark;
      font-weight: 500;
      padding: 10px 10px;
      transition: $transition2s;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $colorTextDark;
    transition: $transition;
    border-top: 1px solid rgba($colorBorder, .15);
    padding-top: 10px;
    margin-top: 10px;

    &:hover {
      .popup-box__list {
        &-txt {
          color: $colorOrange;
        }
      }

      color: $colorOrange;
    }
  }

}