.product-simple {
  &-wrp {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    width: 100%;
    margin-right: 50px;
    border-radius: 35px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &__month {
      padding: 25px 30px;
      background: $colorOrange;
      color: #fff;
      border-radius: 25px;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 35px;
    }

    &__title {
      font-weight: 500;
      color: $colorTextDark;
      font-size: 24px;
      margin-bottom: 0;

      &.big {
        font-size: 35px;
      }
    }

    &__txt {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.15px;
      text-align: center;
      color: $colorTextSoft;
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 1.33em;
    }

    .uk-button {
      width: 100%;

      &.pb-0 {
        padding-bottom: 0;
      }
    }
  }
}


.product-slider {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  &__wrp {
    .swiper-container {
      overflow: hidden;
      margin-left: -10px;
      margin-right: -10px;
      border-radius: 35px;
    }

    .swiper-wrapper {
      margin-left: -20px;
    }

    .swiper-button {
      &-prev {
        left: 10px;
      }

      &-next {
        right: 10px;
      }
    }

    .swiper-slide {
      opacity: 1;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;

    .uk-btn-w {
      max-width: unset;
      width: auto;

      .uk-button__txt {
        margin-right: 20px;
      }
    }
  }

  &-item {
    padding: 25px;
    background: $colorOrangeSoft;
    border-radius: 35px;
    display: block;

    &.pink {
      .product-slider-item {
        &__img {
          filter: drop-shadow(0 5px 0.4rem rgba(#fd74a2, 0.6));
        }
      }
    }

    &__img {
      max-width: 60%;
      margin: 20px auto 50px auto;
      border-radius: 35px;
      overflow: hidden;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateY(1px);
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -0.24px;
      text-align: center;
      color: $colorTextDark;
    }

    &__txt {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.15px;
      text-align: center;
      color: $colorTextSoft;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 1.33em;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .uk-button {
        &__icon {
          font-size: 28px;
        }
      }
    }

    &__price {
      font-weight: 500;
      color: $colorTextDark;
      letter-spacing: -0.22px;
      font-size: 30px;
    }
  }
}

.section-product-slider {
  overflow: hidden;
}