.subheader {
	padding-top: 200px;
	min-height: 400px;
	display: flex;
	align-items: flex-end;
	position: relative;
	z-index: 3;

	&-other {
		width: 100%;
		display: flex;
		position: relative;
		margin-top: 75px;
		z-index: 2;

		&:after {
			content: '';
			position: absolute;
			bottom: -100%;
			left: 0;
			width: 100px;
			height: 100px;
			background: #fff;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background: rgba($colorBorder, 0.35);
			z-index: -1;
		}
	}

	&__wrp {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 850px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		.main-txt {
			text-align: center;
		}
	}

	&--quality-standart {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 84%;
					left: 12%;
				}

				&.tr-1 {
					top: 65%;
					right: 13%;
				}
			}
		}
	}

	&--catalog {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 75%;
					left: 10%;
				}

				&.tr-1 {
					top: 55%;
					right: 4%;
				}

				&.tr-2 {
					top: 90%;
					right: 12%;
				}
			}
		}
	}

	&--subjects {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 60%;
					left: 15%;
				}

				&.tr-1 {
					top: 55%;
					right: 4%;
				}
			}
		}
	}

	&--subjects-detail {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 57%;
					left: 10%;
				}

				&.bl-1 {
					bottom: 10%;
					left: 2%;
				}

				&.tr-1 {
					top: 40%;
					right: 0%;
				}

				&.tr-2 {
					top: 55%;
					right: 8%;
				}
			}
		}
	}

	&--sss {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 51%;
					left: 20%;
				}

				&.tl-2 {
					top: 101%;
					left: 5%;
				}

				&.tr-1 {
					top: 72%;
					right: 18%;
				}

				&.tr-2 {
					top: 87%;
					right: 1%;
				}

				&.shape-img {
					&:before {
						display: none;
					}

					&.b-l {
						bottom: 30%;
						left: 10%;

						&-2 {
							bottom: 4%;
							left: 16%;
						}
					}

					&.b-r {
						bottom: 40%;
						right: 12%;

						&-2 {
							bottom: 10%;
							right: 6%;
						}
					}

					&.md {
						width: 80px;
						height: 80px;
					}

					&.sm {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}

	&--exam {
		.main-shapes {
			.main-shape {
				&.tl-1 {
					top: 70%;
					left: 11%;
				}

				&.tl-2 {
					top: 99%;
					left: -2%;
				}

				&.tr-1 {
					top: 84%;
					right: 12%;
				}
			}
		}
	}
}
