.tab {

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colorYellowSoft;
    border-radius: 25px;
    padding: 10px;

    .vertical-magic-line-tab {
      background: $colorYellow;
      border-radius: 21px;
    }

    &.fw {
      width: 100%;
    }
  }

  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    border-radius: 21px;
    color: $colorTextDark;
    font-weight: 500;
    transition: $transition;
    cursor: pointer;

    &:hover {
      color: $colorOrange900;
    }

    &.active {
      color: #fff;
    }

    &.noactive {
      color: $colorTextDark;

      &:hover {
        color: #fff;
      }
    }
  }
}