<!DOCTYPE html>
<html lang="tr" class="h-percent-100">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="h-percent-100">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="section section--simple section--simple__centered">
    <div class="container mb-60">
      <div class="simple-wrp">
        <div class="simple-centered m-w-500">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/404_img.png" alt="">
          <h1 class="main-title main-title--sm mt-50 mb-30">
            <span class="main-title__in orange">Ooops</span>, sayfa bulunamadı!
          </h1>
          <a href="./index.html" class="btn-w btn-lg uk-button uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              ANASAYFA
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <%= require('html-loader!../partials/footer-simple.html') %>
    <%= require('html-loader!../partials/scripts.html') %>
  </section>
</body>

</html>