<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>
  <div class="subheader subheader--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          <span class="main-title__in orange">
            Arama
          </span>
          Sonuçları
        </h1>
        <p class="main-txt main-txt--lg">
          “İlkokul” aramanız ile ilgili “4” sonuç bulunmuştur.
        </p>
        <div class="main-search mt-30">
          <input type="text" id="filterSearch" placeholder="Arama Yapın...">
          <span class="icon-font">
            <svg class="icon icon-font">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader-other">
    <div class="container">
      <div class="sss-tab-header sss-tab-header--yellow">
        <div class="sss-tab-header__wrp js-vertical-magic-line-tab">
          <div class='vertical-magic-line-tab'></div>
          <a data-filter="sayfalar" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item active">
            <span class="uk-button__txt">
              Sayfalar
            </span>
          </a>
          <a data-filter="urunler" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Ürünler
            </span>
          </a>
          <a data-filter="blog" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Blog
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section--search-result">
    <div class="container container--xw js-filter-tab">
      <div class="sss-tab__item js-filter-tab-item sayfalar">
        <div class="search-result__wrp">
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sss-tab__item js-filter-tab-item urunler filtered">
        <div class="search-result__wrp">
          <div class="search-result-product">
            <div class="search-result-product__img">
              <img src="https://via.placeholder.com/376x525" alt="">
            </div>
            <div class="search-result-product__cnt">
              <h4 class="search-result-product__title">1. Sınıf Taptal</h4>
              <div class="search-result-product__txt">İlk Okuma Yazma - Uyum ve Hazırlık - Türkçe - Matematik - Hayat
                Bilgisi</div>
            </div>
            <div class="search-result-product__price">₺40</div>
          </div>
          <div class="search-result-product">
            <div class="search-result-product__img">
              <img src="https://via.placeholder.com/376x525" alt="">
            </div>
            <div class="search-result-product__cnt">
              <h4 class="search-result-product__title">1. Sınıf Taptal</h4>
              <div class="search-result-product__txt">İlk Okuma Yazma - Uyum ve Hazırlık - Türkçe - Matematik - Hayat
                Bilgisi</div>
            </div>
            <div class="search-result-product__price">₺40</div>
          </div>
          <div class="search-result-product">
            <div class="search-result-product__img">
              <img src="https://via.placeholder.com/376x525" alt="">
            </div>
            <div class="search-result-product__cnt">
              <h4 class="search-result-product__title">1. Sınıf Taptal</h4>
              <div class="search-result-product__txt">İlk Okuma Yazma - Uyum ve Hazırlık - Türkçe - Matematik - Hayat
                Bilgisi</div>
            </div>
            <div class="search-result-product__price">₺40</div>
          </div>
          <div class="search-result-product">
            <div class="search-result-product__img">
              <img src="https://via.placeholder.com/376x525" alt="">
            </div>
            <div class="search-result-product__cnt">
              <h4 class="search-result-product__title">1. Sınıf Taptal</h4>
              <div class="search-result-product__txt">İlk Okuma Yazma - Uyum ve Hazırlık - Türkçe - Matematik - Hayat
                Bilgisi</div>
            </div>
            <div class="search-result-product__price">₺40</div>
          </div>
          <div class="search-result-product">
            <div class="search-result-product__img">
              <img src="https://via.placeholder.com/376x525" alt="">
            </div>
            <div class="search-result-product__cnt">
              <h4 class="search-result-product__title">1. Sınıf Taptal</h4>
              <div class="search-result-product__txt">İlk Okuma Yazma - Uyum ve Hazırlık - Türkçe - Matematik - Hayat
                Bilgisi</div>
            </div>
            <div class="search-result-product__price">₺40</div>
          </div>
          <div class="search-result-product">
            <div class="search-result-product__img">
              <img src="https://via.placeholder.com/376x525" alt="">
            </div>
            <div class="search-result-product__cnt">
              <h4 class="search-result-product__title">1. Sınıf Taptal</h4>
              <div class="search-result-product__txt">İlk Okuma Yazma - Uyum ve Hazırlık - Türkçe - Matematik - Hayat
                Bilgisi</div>
            </div>
            <div class="search-result-product__price">₺40</div>
          </div>
        </div>
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right uk-button--loadmore mt-100">
          <span class="uk-button__txt">
            DAHA FAZLA GÖR
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item blog filtered">
        <div class="search-result__wrp">
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
          <div class="search-result-blog">
            <div class="search-result-blog__img">
              <img src="https://via.placeholder.com/488x488" alt="">
            </div>
            <div class="search-result-blog__cnt">
              <div class="main-tags">
                <div class="main-tag main-tag--orange-soft">
                  <span class="main-tag__txt">
                    Genel
                  </span>
                </div>
              </div>
              <h4 class="search-result-blog__title">
                Çocuklar İçin İnternet Güvenliği ve Ebeveynlere Öneriler
              </h4>
              <p class="search-result-blog__txt">
                Günümüzde, bilgiye ulaşmak artık çok daha kolay. Globalleşen bir dünyada ve neticesinde gittikçe
                yaygınlaşan bir İnternet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam alias eius
                similique, expedita mollitia id enim repellat iusto blanditiis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>