<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="dark">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="section checkout">
    <div class="container container--w">
      <div class="checkout-steps">
        <a href="./checkout-1.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sepet
          </div>
        </a>
        <a href="./checkout-2.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-invoice"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Fatura Bilgileri
          </div>
        </a>
        <a href="./checkout-3.html" class="checkout-steps__item">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-credit-card"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Ödeme Bilgileri
          </div>
        </a>
        <a href="./checkout-4.html" class="checkout-steps__item">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-list-check"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sipariş Özeti
          </div>
        </a>
      </div>
      <div class="checkout-wrp">
        <div class="checkout-left">
          <div class="checkout-content">
            <div class="checkout-subtitle mb-40">
              Kayıtlı Adreslerim
            </div>
            <div class="addresses">
              <div class="address js-checkout-address">
                <label class="main-radio">
                  <input type="radio" class="checkradio" checked="checked" name="radio">
                  <span class="main-radio__checkmark"></span>
                  <div class="address__icon">🏠</div>
                  <div class="address__cnt">
                    <div class="address__title">
                      Ev Adresim
                    </div>
                    <div class="address__txt">
                      Acıbadem Mah. Acıbadem Mah. Aydın Sk. No:9/10 Acıbadem
                      Üsküdar / İstanbul
                    </div>
                  </div>
                </label>
                <div class="address__edit">
                  <span class="address__edit-dot"></span>
                </div>
              </div>
              <div class="address js-checkout-address">
                <label class="main-radio">
                  <input type="radio" class="checkradio" name="radio">
                  <span class="main-radio__checkmark"></span>
                  <div class="address__icon">💼</div>
                  <div class="address__cnt">
                    <div class="address__title">
                      Ev Adresim
                    </div>
                    <div class="address__txt">
                      Acıbadem Mah. Acıbadem Mah. Aydın Sk. No:9/10 Acıbadem
                      Üsküdar / İstanbul
                    </div>
                  </div>
                </label>
                <div class="address__edit">
                  <span class="address__edit-dot"></span>
                </div>
              </div>
              <div class="address js-checkout-address">
                <label class="main-radio">
                  <input type="radio" class="checkradio" name="radio">
                  <span class="main-radio__checkmark"></span>
                  <div class="address__icon">💼</div>
                  <div class="address__cnt">
                    <div class="address__title">
                      Ev Adresim
                    </div>
                    <div class="address__txt">
                      Acıbadem Mah. Acıbadem Mah. Aydın Sk. No:9/10 Acıbadem
                      Üsküdar / İstanbul
                    </div>
                  </div>
                </label>
                <div class="address__edit">
                  <span class="address__edit-dot"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="checkout-content" uk-accordion>
            <div class="accordion js-filter-search js-checkout-newaddress uk-open">
              <div class="accordion-header js-accordion uk-accordion-title">
                <div class="accordion-header__txt">
                  Yeni Adres Ekle
                </div>
                <span class="accordion-header__icon"></span>
              </div>
              <div class="accordion-content uk-accordion-content">
                <div class="js-accordion-height">
                  <form data-form novalidate class="validateForm">
                    <div class="input-group">
                      <div class="input-outer mb-25" data-field-holder>
                        <span class="input-icon icon-font">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-bag"></use>
                          </svg>
                        </span>
                        <input class="input" type="text" name="cname" placeholder="Firma Ünvanı">
                        <label data-field-error class="error"></label>
                      </div>
                      <div class="input-outer mb-25" data-field-holder>
                        <span class="input-icon icon-font">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-mail"></use>
                          </svg>
                        </span>
                        <input class="input" name="cmail" type="email" placeholder="E-posta Adresiniz">
                        <label data-field-error class="error"></label>
                      </div>
                    </div>
                    <div class="input-outer w-textarea mb-25" data-field-holder>
                      <span class="input-icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-mappin"></use>
                        </svg>
                      </span>
                      <textarea class="input" name="ctextarea" placeholder="Fatura Adresiniz"></textarea>
                      <label data-field-error class="error"></label>
                    </div>
                    <div class="input-group mb-25">
                      <div class="select-outer select-icon-outer select-il-outer">
                        <select class="select-il uk-select" name="cil">
                          <option value hidden disabled selected>İl Seçiniz</option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                        </select>
                      </div>
                      <div class="select-outer select-icon-outer select-ilce-outer" data-field-holder>
                        <select class="select-ilce uk-select" name="cilce">
                          <option value hidden disabled selected>İlçe Seçiniz</option>
                          <option value="Ocak">Ocak</option>
                          <option value="Şubat">Şubat</option>
                          <option value="Mart">Mart</option>
                          <option value="Nisan">Nisan</option>
                          <option value="Mayıs">Mayıs</option>
                          <option value="Haziran">Haziran</option>
                          <option value="Temmuz">Temmuz</option>
                          <option value="Ağustos">Ağustos</option>
                          <option value="Eylül">Eylül</option>
                          <option value="Ekim">Ekim</option>
                          <option value="Kasım">Kasım</option>
                          <option value="Aralık">Aralık</option>
                        </select>
                        <label data-field-error class="error"></label>
                      </div>
                    </div>
                    <div class="new-address__footer">
                      <div>
                        Adres bilgilerin kayıtlı adreslerine eklenecektir.
                      </div>
                      <button type="submit" class="uk-button uk-button--orange">
                        <span class="uk-button__txt">
                          Kaydet
                        </span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <a href="./checkout-1.html" class="checkout-back">
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="uk-button__txt">
              Sepet Özetine Dön
            </span>
          </a>
        </div>
        <div class="checkout-right">
          <div class="checkout-basket">
            <div class="checkout-basket__title">Sepetim</div>
            <div class="checkout-items">
              <div class="checkout-item">
                <div class="checkout-item__img">
                  <div class="checkout-item__img-num">8.</div>
                  <div class="checkout-item__img-txt">Sınıf</div>
                </div>
                <div class="checkout-item__cnt">
                  <div class="checkout-item__title">6 AY İçerik Paketi</div>
                  <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
                </div>
                <div class="checkout-item__right">
                  <div class="checkout-item__price">
                    <div class="checkout-item__price-num">
                      ₺25
                    </div>
                    <div class="checkout-item__price-info">
                      aylık
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-item">
                <div class="checkout-item__img">
                  <div class="checkout-item__img-num">8.</div>
                  <div class="checkout-item__img-txt">Sınıf</div>
                </div>
                <div class="checkout-item__cnt">
                  <div class="checkout-item__title">LGS Sınav Paketi</div>
                  <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
                </div>
                <div class="checkout-item__right">
                  <div class="checkout-item__price">
                    <div class="checkout-item__price-num">
                      ₺25
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-item">
                <div class="checkout-item__img">
                  <img src="https://via.placeholder.com/376x525" class="checkout-item__img-img" alt="">
                </div>
                <div class="checkout-item__cnt">
                  <div class="checkout-item__title">Kitap / İçerik Adı</div>
                  <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
                </div>
                <div class="checkout-item__right">
                  <div class="checkout-item__price">
                    <div class="checkout-item__price-num">
                      ₺25
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-basket__totally js-discounts">
              <div class="checkout-basket__totally-item">
                <div class="checkout-basket__totally-txt">Toplam Tutar</div>
                <div class="checkout-basket__totally-price">₺300</div>
              </div>
            </div>
          </div>
          <form class="checkout-coupon js-cupon-form">
            <div class="loading-container">
              <div class="loading">Loading...</div>
            </div>
            <div class="checkout-coupon__result js-cupon-form-result">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              İndirim Başarılı ile Uygulandı!
            </div>
            <input type="text" placeholder="İndirim Kodu" class="checkout-coupon__input" />
            <span class="checkout-coupon__icon js-cupon-btn"></span>
            <div class='cupon-error' style="display: none;">Lütfen Bu alanı doldurunuz.</div>
          </form>
          <a href="./checkout-3.html" class="checkout-next uk-button btn-lg uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              DEVAM ET
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </a>
          <div class="checkout__checkboxes">
            <label class="main-checkbox">
              <input type="checkbox" checked="checked">
              <span class="main-checkbox__checkmark"></span>
              <div class="main-checkbox__txt">
                <span uk-toggle="target: #obfModal">Ön Bilgilendirme Formu,</span>
                <span uk-toggle="target: #mssModal">
                  Mesafeli
                  Satış Sözleşmesi,</span>
                <span uk-toggle="target: #kvkkModal">KVKK Aydınlatma
                  Metnini</span>
                okudum ve kabul ediyorum.
              </div>
            </label>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div id="obfModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          Ön Bilgilendirme Formu
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="mssModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          Mesafeli Satış Sözleşmesi
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="kvkkModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          KİŞİSEL VERİLERİ KORUMA KANUNU
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!../partials/footer-checkout.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
  <script>
    function removeSale() {
      var el = document.getElementsByClassName('js-remove-sale')[0].parentNode;
      el.parentNode.removeChild(el);
      document.getElementsByClassName('js-cupon-form')[0].classList.remove('result');
    }
  </script>
</body>

</html>