<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="dark">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="section checkout">
    <div class="container container--xw">
      <div class="checkout-steps">
        <a href="./checkout-1.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sepet
          </div>
        </a>
        <a href="./checkout-2.html" class="checkout-steps__item">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-invoice"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Fatura Bilgileri
          </div>
        </a>
        <a href="./checkout-3.html" class="checkout-steps__item">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-credit-card"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Ödeme Bilgileri
          </div>
        </a>
        <a href="./checkout-4.html" class="checkout-steps__item">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-list-check"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sipariş Özeti
          </div>
        </a>
      </div>
      <div class="checkout__wrp">
        <div class="main-txt main-txt--lg mb-50 text-center">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik <br>
          süreçlerden geçerek <span class="main-txt main-txt--lg main-txt--dark">ilerlemeleri için sizlerle birlikte
            çalışıyoruz.</span>
        </div>
        <div class="checkout-items js-deleted-item">
          <div class="checkout-item">
            <div class="checkout-item__img">
              <div class="checkout-item__img-num">8.</div>
              <div class="checkout-item__img-txt">Sınıf</div>
            </div>
            <div class="checkout-item__cnt">
              <div class="checkout-item__title">6 AY İçerik Paketi</div>
              <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
            </div>
            <div class="checkout-item__right">
              <div class="checkout-item__price">
                <div class="checkout-item__price-num">
                  ₺25 / aylık
                </div>
                <div class="checkout-item__price-info">
                  6 Ay İçerik Paketi <span>150 TL</span>
                </div>
              </div>
              <div class="checkout-item__remove js-delete-item">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-crash-remove"></use>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="checkout-item">
            <div class="checkout-item__img">
              <div class="checkout-item__img-num">8.</div>
              <div class="checkout-item__img-txt">Sınıf</div>
            </div>
            <div class="checkout-item__cnt">
              <div class="checkout-item__title">LGS Sınav Paketi</div>
              <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
            </div>
            <div class="checkout-item__right">
              <div class="checkout-item__price">
                <div class="checkout-item__price-num">
                  ₺150
                </div>
              </div>
              <div class="checkout-item__remove js-delete-item">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-crash-remove"></use>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="checkout-item">
            <div class="checkout-item__img">
              <img src="https://via.placeholder.com/376x525" class="checkout-item__img-img" alt="">
            </div>
            <div class="checkout-item__cnt">
              <div class="checkout-item__title">Kitap / İçerik Adı</div>
              <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
            </div>
            <div class="checkout-item__right">
              <div class="checkout-item__count">
                <div class="main-count">
                  <div type="button" class="main-count__btn js-count-down">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-minus"></use>
                      </svg>
                    </span>
                  </div>
                  <input type="number" class="main-count__num js-count-num" min="1" value="1" />
                  <div type="button" class="main-count__btn js-count-up">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-plus"></use>
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <div class="checkout-item__price">
                <div class="checkout-item__price-num">
                  ₺25 / aylık
                </div>
                <div class="checkout-item__price-info">
                  6 Ay İçerik Paketi <span>150 TL</span>
                </div>
              </div>
              <div class="checkout-item__remove js-delete-item">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-crash-remove"></use>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="checkout-basket-next">
            <div class="checkout-basket-next__price">
              <span>Toplam Tutar</span>
              <div>
                ₺300
              </div>
            </div>
            <a href="./checkout-2.html" class="btn-w uk-button uk-button--orange uk-button--icon-right">
              <span class="uk-button__txt">
                Devam Et
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%= require('html-loader!../partials/footer-checkout.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>