<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="dark">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>


  <section class="section checkout">
    <div class="container container--w">
      <div class="checkout-steps">
        <a href="./checkout-1.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sepet
          </div>
        </a>
        <a href="./checkout-2.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-invoice"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Fatura Bilgileri
          </div>
        </a>
        <a href="./checkout-3.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-credit-card"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Ödeme Bilgileri
          </div>
        </a>
        <a href="./checkout-4.html" class="checkout-steps__item">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-list-check"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sipariş Özeti
          </div>
        </a>
      </div>
      <div class="checkout-wrp">
        <div class="checkout-left">
          <div class="checkout-content checkout-tab-header">
            <div class="sss-tab-header sss-tab-header--yellow">
              <div class="sss-tab-header__wrp js-vertical-magic-line-tab">
                <div class='vertical-magic-line-tab'></div>
                <a data-filter="kredikarti"
                  class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item active">
                  <span class="uk-button__txt">
                    Kredi Kartı
                  </span>
                </a>
                <a data-filter="havale" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
                  <span class="uk-button__txt">
                    Havale
                  </span>
                </a>
                <a data-filter="mobilodeme" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
                  <span class="uk-button__txt">
                    Mobil Ödeme
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="js-filter-tab">
            <div class="sss-tab__item js-filter-tab-item kredikarti">
              <div class="checkout-content">
                <form action="" class="card-form validateForm">
                  <div class="input--card-top">
                    <div class="input--card-left">
                      <div class="input-outer mb-25">
                        <span class="input-icon icon-font">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-user"></use>
                          </svg>
                        </span>
                        <input class="input card__name" name="ccardname" type="text" placeholder="Adınız Soyadınız">
                      </div>
                      <div class="input-outer">
                        <span class="input-icon icon-font">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-credit-card-2"></use>
                          </svg>
                        </span>
                        <input class="input card__number" name="ccardnumber" type="text"
                          placeholder="16 Haneli Kart Numaranız">
                      </div>
                    </div>
                    <div class='card-wrapper card-wrapper--form'></div>
                  </div>
                  <div class="input--card-bottom">
                    <div class="input--card-bottom-left">
                      <div class="input-group">
                        <div class="input-outer">
                          <input class="input card__expiry" name="ccarday" type="text" placeholder="Ay">
                        </div>
                        <div class="input-outer">
                          <input class="input card__expiry" name="ccardyil" type="text" placeholder="Yıl">
                        </div>
                      </div>
                      <div class="input-outer ccv-info">
                        <input class="input card__cvc" name="ccardccv" type="text" placeholder="CCV">
                        <span class="icon-font">
                          <svg class="icon icon-font ccv-tooltip">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="input--card-bottom-right">
                      <div class="input--card-bottom-right-labels">
                        <label class="main-radio">
                          <input type="radio" class="checkradio" checked="checked" name="radio">
                          <span class="main-radio__checkmark"></span>
                          <span class="main-radio__txt">
                            Tek Çekim
                          </span>
                        </label>
                        <label class="main-radio">
                          <input type="radio" class="checkradio" name="radio">
                          <span class="main-radio__checkmark"></span>
                          <span class="main-radio__txt">
                            Taksit
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="sss-tab__item js-filter-tab-item havale filtered">
              <div class="checkout-content">
                <div class="checkout-transfer">
                  <div class="checkout-transfer__item">
                    <label class="main-radio">
                      <input type="radio" class="checkradio" checked="checked" name="radio">
                      <span class="main-radio__checkmark"></span>
                      <div class="checkout-transfer__inner">
                        <div class="checkout-transfer__img">
                          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/is_bankasi-logo.svg"
                            alt="">
                        </div>
                        <div class="checkout-transfer__info">
                          <div class="checkout-transfer__title">Firma Bilgileri</div>
                          <div class="checkout-transfer__txt">Okulistik eğitim Kurumları</div>
                        </div>
                        <div class="checkout-transfer__info">
                          <div class="checkout-transfer__title">IBAN</div>
                          <div id="isbankasi_iban" class="checkout-transfer__txt">1234 5678 2342 2323</div>
                        </div>
                      </div>
                    </label>
                    <div onclick="copyToClipboard('#isbankasi_iban')" class="checkout-transfer__copy iban-tooltip">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-copy"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div class="checkout-transfer__item">
                    <label class="main-radio">
                      <input type="radio" class="checkradio" name="radio">
                      <span class="main-radio__checkmark"></span>
                      <div class="checkout-transfer__inner">
                        <div class="checkout-transfer__img">
                          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/akbank-logo.svg"
                            alt="">
                        </div>
                        <div class="checkout-transfer__info">
                          <div class="checkout-transfer__title">Firma Bilgileri</div>
                          <div class="checkout-transfer__txt">Okulistik eğitim Kurumları</div>
                        </div>
                        <div class="checkout-transfer__info">
                          <div class="checkout-transfer__title">IBAN</div>
                          <div id="akbank_iban" class="checkout-transfer__txt">2342 6112 6479 5254</div>
                        </div>
                      </div>
                    </label>
                    <div onclick="copyToClipboard('#akbank_iban')" class="checkout-transfer__copy iban-tooltip">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-copy"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div class="checkout-transfer__item">
                    <label class="main-radio">
                      <input type="radio" class="checkradio" name="radio">
                      <span class="main-radio__checkmark"></span>
                      <div class="checkout-transfer__inner">
                        <div class="checkout-transfer__img">
                          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/denizbank-logo.svg"
                            alt="">
                        </div>
                        <div class="checkout-transfer__info">
                          <div class="checkout-transfer__title">Firma Bilgileri</div>
                          <div class="checkout-transfer__txt">Okulistik eğitim Kurumları</div>
                        </div>
                        <div class="checkout-transfer__info">
                          <div class="checkout-transfer__title">IBAN</div>
                          <div id="denizbank_iban" class="checkout-transfer__txt">1234 5678 2342 2323</div>
                        </div>
                      </div>
                    </label>
                    <div onclick="copyToClipboard('#denizbank_iban')" class="checkout-transfer__copy iban-tooltip">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-copy"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-content" uk-accordion>
                <div class="accordion uk-open">
                  <div class="accordion-header js-accordion uk-accordion-title">
                    <div class="accordion-header__txt">
                      Açıklamalar
                    </div>
                    <span class="accordion-header__icon"></span>
                  </div>
                  <div class="accordion-content uk-accordion-content">
                    <div class="js-accordion-height">
                      <p class="main-txt main-txt--lg">
                        EFT yapacak kullanıcılarımız! Lütfen alıcı bilgilerini doğru girdiğinizden emin olunuz.
                        Havele/EFT'nizin açıklama bölümüne cep telefonu numaranızı yazmayı unutmayınız.
                        Ödeme dekontunu <strong class="main-txt--dark">destek@okulistik.com </strong> adresine yollayın.
                        E-İçerik paketinizi
                        başlatmak
                        için Okulistik Çağrı Merkezi sizi arayacaktır.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-content o-hidden">
                <div class="checkout-phone-required">
                  <div class="checkout-phone-required__top">
                    Telefon Doğrulama
                  </div>
                  <div class="checkout-phone-required__cnt">
                    <div class="checkout-phone-required__in in1 active">
                      <div class="input-outer">
                        <span class="input-icon icon-font">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-smart-phone"></use>
                          </svg>
                        </span>
                        <input class="input" name="" type="text" placeholder="Telefon">
                      </div>
                      <div class="uk-button uk-button--orange js-next-phone-required">
                        <span class="uk-button__txt">
                          Kod Gönder
                        </span>
                      </div>
                    </div>
                    <div class="checkout-phone-required__in in2">
                      <div class="input-outer">
                        <span class="input-icon icon-font">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-lock-key"></use>
                          </svg>
                        </span>
                        <input class="input" name="" type="text" placeholder="Onay Kodu">
                        <span class="input-icon__right input-icon-oranged icon-font yenikod-tooltip">
                          <svg class="icon icon-font">
                            <use xlink:href="#icon-reload"></use>
                          </svg>
                        </span>
                      </div>
                      <div class="uk-button uk-button--orange">
                        <span class="uk-button__txt">
                          Onayla
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sss-tab__item js-filter-tab-item mobilodeme filtered">
              <div class="checkout-content">
                <div class="checkout-paymentmobile">
                  <div class="checkout-paymentmobile__top">
                    <div class="checkout-paymentmobile__top-item">
                      <div class="checkout-paymentmobile__top-title">
                        Okul03 &nbsp;
                      </div>
                      <div class="checkout-paymentmobile__top-txt">
                        yazın
                      </div>
                    </div>
                    <div class="checkout-paymentmobile__top-arrow">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-arrow"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="checkout-paymentmobile__top-item">
                      <div class="checkout-paymentmobile__top-title">
                        7979
                      </div>
                      <div class="checkout-paymentmobile__top-txt">
                        'a gönderin
                      </div>
                    </div>
                    <div class="checkout-paymentmobile__top-arrow">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-arrow"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="checkout-paymentmobile__top-item">
                      <div class="checkout-paymentmobile__top-title">
                        3 aylık &nbsp;
                      </div>
                      <div class="checkout-paymentmobile__top-txt">
                        içerik paketi alın.
                      </div>
                    </div>
                  </div>
                  <div class="checkout-paymentmobile__wrp">
                    <p>Telefonunuza kısa mesaj ile gelen PIN Kodunuzu üyelik sayfanızdaki aktivasyon alanına girerek
                      hemen
                      E-İçerik Paketinizi başlatın.</p> <br>
                    <strong>
                      3 aylık içerik paketi tek çekim 120 TL’dir. <br>
                    </strong>
                    <p>
                      <strong>7979’a</strong> gönderilen her SMS; Türk Telekom ve Turkcell hatlarından <strong>50 kr
                        (KDV
                        ve ÖİV</strong>
                      dahil), Vodafone
                      hatlarından <strong>41 kr (KDV ve ÖİV dahil)</strong> olarak ücretlendirilir. <br>
                      * Bilgilendirme mesajları ücretsizdir. <br>
                      * Ödeme işleminizle ilgili operatörünüz tarafından ücretsiz bilgi mesajı (SMS) gönderilecektir
                    </p>
                  </div>
                  <div class="checkout-paymentmobile__button js-video-btn" data-video-id="-70iaCdo-ok">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-play"></use>
                      </svg>
                    </span>
                    <span> Okulistik Üyelik Başlatma ve Aktivasyon İzle</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="./checkout-2.html" class="checkout-back">
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="uk-button__txt">
              Fatura Bilgilerine Dön
            </span>
          </a>
        </div>
        <div class="checkout-right">
          <div class="checkout-basket">
            <div class="checkout-basket__title">Sepetim</div>
            <div class="checkout-items">
              <div class="checkout-item">
                <div class="checkout-item__img">
                  <div class="checkout-item__img-num">8.</div>
                  <div class="checkout-item__img-txt">Sınıf</div>
                </div>
                <div class="checkout-item__cnt">
                  <div class="checkout-item__title">6 AY İçerik Paketi</div>
                  <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
                </div>
                <div class="checkout-item__right">
                  <div class="checkout-item__price">
                    <div class="checkout-item__price-num">
                      ₺25
                    </div>
                    <div class="checkout-item__price-info">
                      aylık
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-item">
                <div class="checkout-item__img">
                  <div class="checkout-item__img-num">8.</div>
                  <div class="checkout-item__img-txt">Sınıf</div>
                </div>
                <div class="checkout-item__cnt">
                  <div class="checkout-item__title">LGS Sınav Paketi</div>
                  <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
                </div>
                <div class="checkout-item__right">
                  <div class="checkout-item__price">
                    <div class="checkout-item__price-num">
                      ₺25
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-item">
                <div class="checkout-item__img">
                  <img src="https://via.placeholder.com/376x525" class="checkout-item__img-img" alt="">
                </div>
                <div class="checkout-item__cnt">
                  <div class="checkout-item__title">Kitap / İçerik Adı</div>
                  <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
                </div>
                <div class="checkout-item__right">
                  <div class="checkout-item__price">
                    <div class="checkout-item__price-num">
                      ₺25
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-basket__totally js-discounts">
              <div class="checkout-basket__totally-item">
                <div class="checkout-basket__totally-txt">Toplam Tutar</div>
                <div class="checkout-basket__totally-price">₺300</div>
              </div>
            </div>
          </div>
          <form class="checkout-coupon js-cupon-form">
            <div class="loading-container">
              <div class="loading">Loading...</div>
            </div>
            <div class="checkout-coupon__result js-cupon-form-result">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              İndirim Başarılı ile Uygulandı!
            </div>
            <input type="text" placeholder="İndirim Kodu" class="checkout-coupon__input" />
            <span class="checkout-coupon__icon js-cupon-btn"></span>
            <div class='cupon-error' style="display: none;">Lütfen Bu alanı doldurunuz.</div>
          </form>
          <a href="./checkout-4.html" class="checkout-next uk-button btn-lg uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              DEVAM ET
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </a>
          <div class="checkout__checkboxes">
            <label class="main-checkbox">
              <input type="checkbox" checked="checked">
              <span class="main-checkbox__checkmark"></span>
              <div class="main-checkbox__txt">
                <span uk-toggle="target: #obfModal">Ön Bilgilendirme Formu,</span>
                <span uk-toggle="target: #mssModal">
                  Mesafeli
                  Satış Sözleşmesi,</span>
                <span uk-toggle="target: #kvkkModal">KVKK Aydınlatma
                  Metnini</span>
                okudum ve kabul ediyorum.
              </div>
            </label>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div id="obfModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          Ön Bilgilendirme Formu
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="mssModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          Mesafeli Satış Sözleşmesi
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div id="kvkkModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          KİŞİSEL VERİLERİ KORUMA KANUNU
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!../partials/footer-checkout.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>