<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="dark">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="section checkout">
    <div class="container container--xw">
      <div class="checkout-steps">
        <a href="./checkout-1.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sepet
          </div>
        </a>
        <a href="./checkout-2.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-invoice"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Fatura Bilgileri
          </div>
        </a>
        <a href="./checkout-3.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-credit-card"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Ödeme Bilgileri
          </div>
        </a>
        <a href="./checkout-4.html" class="checkout-steps__item active">
          <div class="checkout-steps__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-list-check"></use>
              </svg>
            </span>
          </div>
          <div class="checkout-steps__txt">
            Sipariş Özeti
          </div>
        </a>
      </div>
      <div class="checkout__wrp">
        <div class="main-title main-title--xs text-center"><span class="main-title__in orange">Siparişiniz
            tamamlandı!</span></div>
        <div class="main-txt main-txt--lg mb-50 text-center">
          Siparişinizi sonu <span class="main-txt main-txt--lg main-txt--dark">**** **** **** **49</span> numaralı <br>
          kartınızdan <span class="main-txt main-txt--lg main-txt--dark"> 450 TL </span>tahsil edilmiştir.
        </div>
        <div class="checkout-basket checkout-final">
          <div class="checkout-basket__title">Ödeme Bilgileri</div>
          <div class="checkout-items">
            <div class="checkout-item">
              <div class="checkout-item__img">
                <div class="checkout-item__img-num">8.</div>
                <div class="checkout-item__img-txt">Sınıf</div>
              </div>
              <div class="checkout-item__cnt">
                <div class="checkout-item__title">6 AY İçerik Paketi</div>
                <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
              </div>
              <div class="checkout-item__right">
                <div class="checkout-item__price">
                  <div class="checkout-item__price-num">
                    ₺25 / aylık
                  </div>
                  <div class="checkout-item__price-info">
                    6 Ay İçerik Paketi <span>150 TL</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-item">
              <div class="checkout-item__img">
                <div class="checkout-item__img-num">8.</div>
                <div class="checkout-item__img-txt">Sınıf</div>
              </div>
              <div class="checkout-item__cnt">
                <div class="checkout-item__title">LGS Sınav Paketi</div>
                <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
              </div>
              <div class="checkout-item__right">
                <div class="checkout-item__price">
                  <div class="checkout-item__price-num">
                    ₺150
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-item">
              <div class="checkout-item__img">
                <img src="https://via.placeholder.com/376x525" class="checkout-item__img-img" alt="">
              </div>
              <div class="checkout-item__cnt">
                <div class="checkout-item__title">Kitap / İçerik Adı</div>
                <div class="checkout-item__txt">Buraya paket içeriği ile ilgili bilgi gelebilir.</div>
              </div>
              <div class="checkout-item__right">
                <div class="checkout-item__price">
                  <div class="checkout-item__price-num">
                    ₺150.00
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkout-final__bottom">
          <a href="./checkout-2.html" class="checkout-back">
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="uk-button__txt">
              Anasayfaya Dön
            </span>
          </a>
          <a href="./index.html" class="checkout-next uk-button btn-lg uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              HESABIMA GİT
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-checkout.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>