<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <div class="main-dropdowns w-auto round mb-30">
          <div class="main-dropdown round">
            <div class="main-dropdown__cnt js-dropdown">
              <div class="main-dropdown__txt">Sınıf Seçiniz</div>
              <div class="main-dropdown__icon"></div>
            </div>
            <div class="main-dropdown__list" uk-dropdown="mode: click">
              <div class="main-dropdown__item">1. Sınıf</div>
              <div class="main-dropdown__item">2. Sınıf</div>
              <div class="main-dropdown__item">3. Sınıf</div>
              <div class="main-dropdown__item">4. Sınıf</div>
              <div class="main-dropdown__item">5. Sınıf</div>
              <div class="main-dropdown__item">6. Sınıf</div>
              <div class="main-dropdown__item">7. Sınıf</div>
              <div class="main-dropdown__item">8. Sınıf</div>
            </div>
          </div>
        </div>
        <h1 class="main-title mb-30">
          <span class="main-title__in orange">
            Ders
          </span>
          İçerikleri
        </h1>
        <p class="main-txt main-txt--lg">
          Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu <br>
          sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
        </p>
      </div>
    </div>
  </div>
  <div class="subheader-other">
    <div class="container">
      <div class="sss-tab-header sss-tab-header--yellow sss-tab-header--big">
        <div class="sss-tab-header__wrp js-vertical-magic-line-tab">
          <div class='vertical-magic-line-tab'></div>
          <a data-filter="turkce" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item active">
            <span class="uk-button__txt">
              Türkçe
            </span>
          </a>
          <a data-filter="matematik" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Matematik
            </span>
          </a>
          <a data-filter="hayatbilgisi" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Hayat Bilgisi
            </span>
          </a>
          <a data-filter="fenbilgisi" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Fen Bilgisi
            </span>
          </a>
          <a data-filter="ingilizce" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              İngilizce
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs green"></div>
        <div class="main-shape tl-2 shape xs blue"></div>
        <div class="main-shape tr-1 shape xs green"></div>
        <div class="main-shape tr-2 shape xs-2 pink"></div>
      </div>
    </div>
    <div class="container container--xw js-filter-tab">
      <div class="sss-tab__item js-filter-tab-item turkce">
        <div class="lesson-contents">
          <div class="lesson-contents__left">
            <p class="main-txt main-txt--lg mb-50">
              Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu
              sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
            </p>
            <a href="#0" class="uk-button uk-button--orange uk-button--icon-right  js-video-btn"
              data-video-id="-70iaCdo-ok">
              <span class="uk-button__txt">
                Örnek Ders Video
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="lesson-contents__right">
            <div class="accordion--orange accordion--arrow" uk-accordion>
              <div class="accordion uk-open">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <div class="accordion-header__cnt-subtitle">
                        1. ünite
                      </div>
                      <h4 class="accordion-header__cnt-subtxt">
                        OKUMA
                      </h4>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        2. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        YAZMA
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        3. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        Dil bilgisi
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        4. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        konu anlatımı
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item matematik filtered">
        <div class="lesson-contents">
          <div class="lesson-contents__left">
            <p class="main-txt main-txt--lg mb-50">
              Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu
              sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
            </p>
            <a href="#0" class="uk-button uk-button--orange uk-button--icon-right  js-video-btn"
              data-video-id="-70iaCdo-ok">
              <span class="uk-button__txt">
                Örnek Ders Video
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="lesson-contents__right">
            <div class="accordion--orange accordion--arrow" uk-accordion>
              <div class="accordion uk-open">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <div class="accordion-header__cnt-subtitle">
                        1. ünite
                      </div>
                      <h4 class="accordion-header__cnt-subtxt">
                        OKUMA
                      </h4>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        2. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        YAZMA
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        3. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        Dil bilgisi
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        4. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        konu anlatımı
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item hayatbilgisi filtered">
        <div class="lesson-contents">
          <div class="lesson-contents__left">
            <p class="main-txt main-txt--lg mb-50">
              Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu
              sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
            </p>
            <a href="#0" class="uk-button uk-button--orange uk-button--icon-right  js-video-btn"
              data-video-id="-70iaCdo-ok">
              <span class="uk-button__txt">
                Örnek Ders Video
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="lesson-contents__right">
            <div class="accordion--orange accordion--arrow" uk-accordion>
              <div class="accordion uk-open">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <div class="accordion-header__cnt-subtitle">
                        1. ünite
                      </div>
                      <h4 class="accordion-header__cnt-subtxt">
                        OKUMA
                      </h4>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        2. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        YAZMA
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        3. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        Dil bilgisi
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        4. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        konu anlatımı
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item fenbilgisi filtered">
        <div class="lesson-contents">
          <div class="lesson-contents__left">
            <p class="main-txt main-txt--lg mb-50">
              Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu
              sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
            </p>
            <a href="#0" class="uk-button uk-button--orange uk-button--icon-right  js-video-btn"
              data-video-id="-70iaCdo-ok">
              <span class="uk-button__txt">
                Örnek Ders Video
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="lesson-contents__right">
            <div class="accordion--orange accordion--arrow" uk-accordion>
              <div class="accordion uk-open">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <div class="accordion-header__cnt-subtitle">
                        1. ünite
                      </div>
                      <h4 class="accordion-header__cnt-subtxt">
                        OKUMA
                      </h4>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        2. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        YAZMA
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        3. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        Dil bilgisi
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        4. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        konu anlatımı
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item ingilizce filtered">
        <div class="lesson-contents">
          <div class="lesson-contents__left">
            <p class="main-txt main-txt--lg mb-50">
              Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu
              sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
            </p>
            <a href="#0" class="uk-button uk-button--orange uk-button--icon-right  js-video-btn"
              data-video-id="-70iaCdo-ok">
              <span class="uk-button__txt">
                Örnek Ders Video
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="lesson-contents__right">
            <div class="accordion--orange accordion--arrow" uk-accordion>
              <div class="accordion uk-open">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <div class="accordion-header__cnt-subtitle">
                        1. ünite
                      </div>
                      <h4 class="accordion-header__cnt-subtxt">
                        OKUMA
                      </h4>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        2. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        YAZMA
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        3. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        Dil bilgisi
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter uk-accordion-title">
                  <div class="accordion-header__cnt">
                    <div class="accordion-header__cnt-icon">
                      <span class="icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-doc-pen"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="accordion-header__cnt-wrp">
                      <h4 class="accordion-header__cnt-subtitle">
                        4. ünite
                      </h4>
                      <div class="accordion-header__cnt-subtxt">
                        konu anlatımı
                      </div>
                    </div>
                  </div>
                  <span class="accordion-header__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-arrow"></use>
                      </svg>
                    </span>
                  </span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <ul class="accordion-ul">
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.1 Metnin Konusu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.2 Ana Fikir/Ana Duygu</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.3 5N 1K</span>
                      </li>
                      <li class="accordion-li">
                        <span class="accordion-li__txt">1.4 Başlık Belirleme</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>