<!DOCTYPE html>
<html lang="tr" class="h-percent-100">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="h-percent-100">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="section section--simple section--simple__centered">
    <div class="container">
      <div class="simple-wrp">
        <div class="simple-centered m-w-500">
          <h1 class="main-title main-title--sm mb-10">
            <span class="main-title__in orange">Ooops</span>, bir hata oluştu!
          </h1>
          <p class="main-txt main-txt--lg text-center mb-10">
            Web sitemize şu anda erişilemiyor. Anlık bir durum ya da bir güncelleme olabilir.<br>
            <strong class="main-txt__strong">Lütfen daha sonra tekrar deneyin!</strong>
          </p>
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/505_img.png" class="simple__505"
            alt="">
        </div>
      </div>
    </div>
    <%= require('html-loader!../partials/footer-simple.html') %>
    <%= require('html-loader!../partials/scripts.html') %>
  </section>
</body>

</html>