<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>
  <section class="hero mt-index">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-2 blue"></div>
        <div class="main-shape tl-3 shape xs-2 orange"></div>
        <div class="main-shape tr-1 shape xs-3 pink"></div>
        <div class="main-shape tr-2 shape xs yellow"></div>
        <div class="main-shape tr-3 shape xs green"></div>
        <div class="main-shape br-1 shape xs-3 orange"></div>

        <div class="main-shape t-l shape-icon sm pink">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_shape-cloud.svg" alt="">
        </div>
        <div class="main-shape b-l shape-icon md orange">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_shape-clock.svg" alt="">
        </div>
        <div class="main-shape t-r shape-icon lg orange">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_shape-dart.svg" alt="">
        </div>
        <div class="main-shape b-r shape-icon sm green">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_shape-world.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero__wrp">
        <div class="hero__cnt">
          <h1 class="main-title text-center">
            İlkokul ve Ortaokullar için, <br>
            <span class="main-title__in orange with-border">
              Online eğitim!
            </span>
          </h1>
          <div class="hero__buttons">
            <a href="#scrolledStudent"
              class="uk-button uk-button--soft-orange uk-button--icon-left js-scrolled-student">
              <span class="uk-button__icon">
                👨🏻‍🎓
              </span>
              <span class="uk-button__txt">
                Öğrenci & Veli
              </span>
            </a>
            <a href="#scrolledTeacher"
              class="uk-button uk-button--soft-orange uk-button--icon-left js-scrolled-teacher">
              <span class="uk-button__icon">
                📚
              </span>
              <span class="uk-button__txt">
                Öğretmen & Yönetici
              </span>
            </a>
          </div>
        </div>
        <div class="hero__img">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_img.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <div class="container hero__boxes-outer">
    <div class="hero__boxes">
      <!-- masaüstünde 3'ten fazla item olunca swiper çalışıyor. Mobilde ise 1'den fazla -->

      <a href="javascript:void(0)" class="hero__box" uk-toggle="target: #heroModal">
        <div class="hero__box-img">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_box-1.png" alt="">
        </div>
        <div class="hero__box-cnt">
          <div class="hero__box-title">
            Modal Duyurular
            <span>için Örnek</span>
          </div>
          <div class="hero__box-txt">
            Erkek Öğrenci Duyuru İllüstrasyonu
          </div>
        </div>
      </a>

      <a href="./index.html" target="_blank" class="hero__box">
        <div class="hero__box-img">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_box-2.png" alt="">
        </div>
        <div class="hero__box-cnt">
          <div class="hero__box-title">
            Link Duyurular
            <span>için Örnek</span>
          </div>
          <div class="hero__box-txt">
            Kız Öğrenci Duyuru İllüstrasyonu
          </div>
        </div>
      </a>

      <div class="hero__box">
        <div class="hero__box-img">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_box-3.png" alt="">
        </div>
        <div class="hero__box-cnt">
          <div class="hero__box-title">
            Modal ve Linksiz
            <span>Örnek</span>
          </div>
          <div class="hero__box-txt">
            Öğretmenleri ilgilendiren Duyuru İllüstrasyonu
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev swiper-button-main">
        <span class="icon-font">
          <svg class="icon icon-font">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </span>
      </div>
      <div class="swiper-button-next swiper-button-main">
        <span class="icon-font">
          <svg class="icon icon-font">
            <use xlink:href="#icon-long-arrow"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="section section-voice section-bordered">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-2 shape xs-3 green"></div>
        <div class="main-shape tl-3 shape xs-2 pink"></div>
        <div class="main-shape tr-1 shape xs orange"></div>
        <div class="main-shape br-1 shape xs-4 blue"></div>

        <div class="main-shape t-l shape-img lg">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/veli_img-1.png" alt="">
        </div>
        <div class="main-shape b-l shape-img md">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/veli_img-2.png" alt="">
        </div>
        <div class="main-shape b-l-2 shape-img md">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/veli_img-3.png" alt="">
        </div>
        <div class="main-shape b-r shape-img md">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/veli_img-4.png" alt="">
        </div>
        <div class="main-shape t-r shape-img md">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/veli_img-5.png" alt="">
        </div>
        <div class="main-shape t-r-2 shape-img lg">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/veli_img-6.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="voice__wrp">
        <div class="voice__emoji">
          🤙🏻
        </div>
        <h3 class="main-title main-title--md mb-50">
          Sizin memnuniyetiniz <br>
          bizim
          <span class="main-title__in orange with-border">
            mutluluğumuz!
          </span>
        </h3>
        <p class="main-txt main-txt--lg mb-50 text-center">
          Kullanıcılarımızın memnuniyeti bizim için en büyük armağan, <br> Okulistik ailesinde olmanın gururunu gelin
          hep
          birlikte yaşayalım.
        </p>
        <audio id="sizdenGelenlerAudio">
          <source src="http://pixelateworks.com/client/okulistik-webpack/assets/audio/sizden-gelenler.ogg"
            type="audio/ogg">
          <source src="http://pixelateworks.com/client/okulistik-webpack/assets/audio/sizden-gelenler.mp3"
            type="audio/mpeg">
          Tarayıcınız Bu mp3'ü destekleyecek güncellemeye sahip değil. Lütfen tarayıcınızı güncelleyin.
        </audio>
        <div class="voice__btn js-voice-play">
          <span class="uk-button__icon voice__btn-icon played">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-play"></use>
              </svg>
            </span>
          </span>
          <div class="voice__equalizer paused">
            <div id="levels">
              <div class="level level1"></div>
              <div class="level level2"></div>
              <div class="level level3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-bordered section-index-info-student">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-2 green"></div>
        <div class="main-shape tr-1 shape xs-2 yellow"></div>
        <div class="main-shape tl-2 shape xs yellow"></div>
        <div class="main-shape tr-2 shape xs-4 pink"></div>
        <div class="main-shape bl-1 shape xs-2 blue"></div>
        <div class="main-shape br-1 shape xs yellow"></div>
        <div class="main-shape br-2 shape xs green"></div>
        <div class="main-shape br-3 shape xs-3 orange"></div>
        <div class="main-shape bl-2 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container">
      <h3 class="main-title main-title--sm text-center mb-50">
        20 yıllık eğitim tecrübesiyle Okulistik etkili ve güvenilir!
      </h3>
      <div class="home-infos">
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/cap.svg" alt="">
          </div>
          <div class="home-info__txt">
            2 Milyon
            <span>Kayıtlı Öğrenci</span>
          </div>
        </div>
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/books.svg" alt="">
          </div>
          <div class="home-info__txt">
            250 Bin
            <span>Kayıtlı Öğretmen</span>
          </div>
        </div>
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/abc-board.svg" alt="">
          </div>
          <div class="home-info__txt">
            %100 MEB
            <span>Uyumlu İçerikler</span>
          </div>
        </div>
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ads-browser.svg" alt="">
          </div>
          <div class="home-info__txt">
            Reklamsız
            <span>Güvenli Ekran</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="scrolledStudent" class="home-content js-scroll-student">
        <div class="home-left">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/home_img-2.png" alt="">
        </div>
        <div class="home-right">
          <div class="home__cnt">
            <div class="main-subtitle">
              <div class="main-subtitle__icon">
                👨🏻‍🎓
              </div>
              <div class="main-subtitle__txt">
                ÖĞRENCİLER VE VELİLER İÇİN
              </div>
            </div>
            <h3 class="main-title main-title--lg mt-20 mb-50">
              Yüzde yüz MEB uyumlu<br>
              <span class="main-title__in orange">
                üst düzey içerikler!
              </span>
            </h3>
            <p class="main-txt main-txt--lg">
              Bütün veliler öğrencilerinin okulda ve sınavlarda başarılı olmasını ister. Başarının basit bir kuralı var:
              Konuları iyi öğrenmek ve soruları çözme becerisi kazanmak. Okulistik; çok yönlü üst düzey içerikleriyle
              öğrencilerin emin adımlarla ilerlemesini sağlar. Velilere, çocuklarını geleceğe güvenle hazırlamanın
              huzuru kalır.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="home-classes">
        <div class="home-classes__title text-center">
          <span>Öğrenciler</span> için sınıfınızı seçiniz:
        </div>
        <div class="class-box__wrp class-box--big">
          <a href="#0" class="class-box">
            <div class="class-box__num">1</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">2</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">3</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">4</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">5</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">6</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">7</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
          <a href="#0" class="class-box">
            <div class="class-box__num">8</div>
            <div class="class-box__txt">SINIF</div>
            <div class="uk-button btn-sm uk-button--white uk-button--icon-right">
              <span class="uk-button__txt">Detay</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-index-info-teacher">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-3 orange"></div>
        <div class="main-shape tr-1 shape xs-3 pink"></div>
        <div class="main-shape br-1 shape xs-4 blue"></div>
        <div class="main-shape bl-1 shape xs-3 green"></div>
      </div>
    </div>
    <div class="container">
      <div id="scrolledTeacher" class="home-content home-content--reverse js-scroll-teacher">
        <div class="home-left">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/home_img-3.png" alt="">
        </div>
        <div class="home-right">
          <div class="home__cnt">
            <div class="main-subtitle">
              <div class="main-subtitle__icon">
                📚
              </div>
              <div class="main-subtitle__txt">
                ÖĞRETMENLER VE YÖNETİCİLER İÇİN
              </div>
            </div>
            <div class="tab-header mt-20 fw js-vertical-magic-line-tab">
              <div class='vertical-magic-line-tab'></div>
              <div data-filter="sinifogretmeni" class="tab-item js-vertical-magic-line-item-tab js-tab-item active">
                Sınıf Öğretmenleri
              </div>
              <div data-filter="bransogretmeni" class="tab-item js-vertical-magic-line-item-tab js-tab-item">
                Branş Öğretmenleri
              </div>
              <div data-filter="yoneticiler" class="tab-item js-vertical-magic-line-item-tab js-tab-item">
                Yöneticiler
              </div>
            </div>
            <h3 class="main-title main-title--lg mt-20 mb-50">
              Okulistik kullanarak öğrencilerinizi<br> kolayca
              <span class="main-title__in orange">
                başarıya taşıyın!
              </span>
            </h3>
            <p class="main-txt main-txt--lg">
              Tüm içerikler güncel, arayüzler kullanışlı. Okulistik düşünceli bir dost. <br> Sizi yormadan, detaylara
              boğmadan dersleri zenginleştirmenizi, <br> öğrencilerinizin başarısını ölçmenizi sağlıyor. Üstelik bütün
              <br>
              öğretmen ve yöneticilere ücretsiz, daha ne olsun!
            </p>
          </div>
        </div>
      </div>
      <div class="home-tags">
        <div class="home-classes__title text-center">
          <span class="js-filter-tab-title">Aşağıdan</span> branşınızı seçiniz:
        </div>
        <div class="lesson-tags__wrp lesson-tags--big js-filter-tab lesson-tags--wrap" style="height: 144px;">
          <a href="#0" class="lesson-tags js-filter-tab-item sinifogretmeni">
            <span class="lesson-tags__txt">
              Türkçe
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item sinifogretmeni bransogretmeni">
            <span class="lesson-tags__txt">
              Matematik
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item sinifogretmeni">
            <span class="lesson-tags__txt">
              Fen Bil.
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item sinifogretmeni bransogretmeni">
            <span class="lesson-tags__txt">
              İngilizce
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item sinifogretmeni bransogretmeni">
            <span class="lesson-tags__txt">
              PDR
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item yoneticiler bransogretmeni">
            <span class="lesson-tags__txt">
              Bilişim
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item yoneticiler bransogretmeni">
            <span class="lesson-tags__txt">
              Sosyal Bil.
            </span>
          </a>
          <a href="#0" class="lesson-tags js-filter-tab-item yoneticiler bransogretmeni">
            <span class="lesson-tags__txt">
              Din K. ve Ahlak B.
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div id="heroModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          Modal Başlığı Buraya Gelebilir
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>