<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--quality-standart">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          Okulistik
          <span class="main-title__in orange">
            Kalite Standartları
          </span>
        </h1>
        <p class="main-txt main-txt--lg">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik <br>
          süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz.
        </p>
      </div>
    </div>
  </div>
  <section class="section section--quality-standart">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs green"></div>
        <div class="main-shape tl-2 shape xs-2 orange"></div>
        <div class="main-shape br-1 shape xs green"></div>
      </div>
    </div>
    <div class="container">
      <div class="quality-standart-box">
        <div class="quality-standart-box__left">
          <div class="quality-standart-box__img">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/quality_certificate-1.jpg" alt="">
          </div>
          <h3 class="main-title main-title--lg mb-40">
            <span class="main-title__in orange">
              Kalite <br>
            </span>
            Politikamız
          </h3>
          <p class="main-txt main-txt--md">
            Kalite yönetim sistemimiz, ISO 9001:2015 standartlarının gereklerini yerine getirecek şekilde
            belgelendirilmekte ve sürekli iyileştirilme yaklaşımı doğrultusunda yönetilmektedir.
          </p>

        </div>
        <div class="quality-standart-box__right">
          <ul class="check-list check-list--reverse">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="quality-standart-box">
        <div class="quality-standart-box__left">
          <div class="quality-standart-box__img">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/quality_certificate-2.jpg" alt="">
          </div>
          <h3 class="main-title main-title--lg mb-40">
            <span class="main-title__in orange">
              BGYS <br>
            </span>
            Politikamız
          </h3>
          <p class="main-txt main-txt--md">
            Çalışanlarımızın bilgi güvenliği farkındalığını artırmayı, kaynağı, eğitimi ve liderliği sağlamayı,
          </p>

        </div>
        <div class="quality-standart-box__right">
          <ul class="check-list check-list--reverse">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--mini-info section--mini-info__quality-standart">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs blue"></div>
        <div class="main-shape tl-2 shape xs green"></div>
        <div class="main-shape tr-1 shape xs green"></div>
        <div class="main-shape tr-2 shape xs-3 pink"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="mini-info">
        <div class="main-title main-title--lg mb-20">
          Kalite Standartları Partneri
        </div>
        <p class="main-txt main-txt--lg">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik
          süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz.
        </p>
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right mt-30">
          <span class="uk-button__txt">
            ADL Belge
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>