<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--catalog">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tr-1 shape xs green"></div>
        <div class="main-shape tr-2 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          Kataloglar
        </h1>
        <p class="main-txt main-txt--lg">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik <br>
          süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz.
        </p>
      </div>
    </div>
  </div>
  <section class="section section--catalog">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-3 yellow"></div>
        <div class="main-shape bl-1 shape xs green"></div>
        <div class="main-shape br-1 shape xs pink"></div>
        <div class="main-shape br-2 shape xs yellow"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="catalog__wrp">
        <div class="catalog__item">
          <div class="catalog__img">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/catalog_img.jpg" alt="">
          </div>
          <div class="catalog__year">2019 / 2020</div>
          <h4 class="catalog__title">İlkokul Ürün Kataloğu</h4>
          <ul class="check-list check-list--reverse">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Okulistik Etkinlik Uygulamaları
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Taragöz
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                1,2,3,4. Sınıflar
              </span>
            </li>
          </ul>
          <div class="uk-button uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              Kataloğu İncele
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </div>
        <div class="catalog__item">
          <div class="catalog__img">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/catalog_img.jpg" alt="">
          </div>
          <div class="catalog__year">2019 / 2020</div>
          <h4 class="catalog__title">Ortaokul Ürün Kataloğu</h4>
          <ul class="check-list check-list--reverse">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Okulistik Etkinlik Uygulamaları
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Okulistik Etkinlik Uygulamaları
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Taragöz
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                1,2,3,4. Sınıflar
              </span>
            </li>
          </ul>
          <div class="uk-button uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              Kataloğu İncele
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>