<!DOCTYPE html>
<html lang="tr" class="h-percent-100">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="h-percent-100">
  <section class="section section--simple signup">
    <div class="container">
      <div class="simple-wrp">
        <div class="simple-left">
          <div class="simple-left__wrp">
            <a href="./index.html" class="simple-left__logo">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-logo.svg" alt="">
            </a>
            <h1 class="main-title main-title--lg mb-30 changed-signup-text">
              Başarılı bir eğitim için<br><span class="main-title__in orange changed-signup-text-orange">öğrenci
                hesabınızı</span> oluşturun.
            </h1>
            <ul class="check-list check-list--reverse mb-50">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                  dummy!
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply
                  dummy!
                </span>
              </li>
            </ul>
            <div class="simple-left__img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/sign-up.png" alt="">
            </div>
          </div>
        </div>
        <div class="simple-right">
          <div class=" simple-right__wrp">
            <div class="simple-form">
              <div class="signup-form">
                <h3 class="main-title main-title--sm mb-25">
                  <span class="main-title__in orange">
                    Okulistik'e
                  </span>
                  Hoşgeldiniz!
                </h3>
                <p class="main-txt main-txt--lg mb-20">
                  Öğrenci, öğretmen veya veli olarak kayıt olabilirsiniz!
                </p>
                <div class="signup-buttons mb-35">
                  <div class="signup-buttons__in in-1 active">
                    <div
                      class="uk-button uk-button--soft-orange uk-button--icon-left js-tab-simple-item active clickOgrenci"
                      data-filter="ogrenci">
                      <span class="uk-button__icon">
                        👨🏻‍🎓
                      </span>
                      <span class="uk-button__txt">
                        Öğrenci
                      </span>
                    </div>
                    <div class="uk-button uk-button--soft-orange uk-button--icon-left js-tab-simple-item clickOgretmen"
                      data-filter="ogretmen">
                      <span class="uk-button__icon">
                        📚
                      </span>
                      <span class="uk-button__txt">
                        Öğretmen
                      </span>
                    </div>
                    <div class="uk-button uk-button--soft-orange uk-button--icon-left js-tab-simple-item clickVeli"
                      data-filter="veli">
                      <span class="uk-button__icon">
                        👨🏻
                      </span>
                      <span class="uk-button__txt">
                        Veli
                      </span>
                    </div>
                  </div>
                  <div class="signup-buttons__in in-2">
                    <div class="uk-button uk-button--soft-orange ogrenciStep1btn">
                      <span class="uk-button__icon">
                        1
                      </span>
                      <span class="uk-button__txt">
                        Kişisel Bilgiler
                      </span>
                    </div>
                    <div class="uk-button uk-button--soft-orange ogrenciStep2btn">
                      <span class="uk-button__icon">
                        2
                      </span>
                      <span class="uk-button__txt">
                        Okul Bilgileri
                      </span>
                    </div>
                    <div class="uk-button uk-button--soft-orange ogrenciStep3btn">
                      <span class="uk-button__icon">
                        3
                      </span>
                      <span class="uk-button__txt">
                        Şifre İşlemleri
                      </span>
                    </div>
                    <div class="uk-button uk-button--soft-orange ogrenciStep4btn">
                      <span class="uk-button__icon">
                        4
                      </span>
                      <span class="uk-button__txt">
                        İletişim Bilgileri
                      </span>
                    </div>
                  </div>
                </div>
                <div class="signup-wrp">
                  <div class="signup-item js-filter-tab-item ogrenci">
                    <form class="validateForm noSubmitForm ogrenciForm signup-form__inner" style="height: 404.438px;"
                      method="post" action="./index.html">
                      <div class="ogrenciStep1 signup-form__wrp active">
                        <div class="input-outer mb-25">
                          <span class="input-icon icon-font">
                            <svg class="icon icon-font">
                              <use xlink:href="#icon-user-2"></use>
                            </svg>
                          </span>
                          <input class="input" name="ctckimlik" type="text" placeholder="T.C. Kimlik Numaranız"
                            required>
                        </div>
                        <div class="input-group">
                          <div class="input-outer mb-25">
                            <input class="input" name="cname" type="text" placeholder="Adınız" required>
                          </div>
                          <div class="input-outer mb-25">
                            <input class="input" name="csurname" type="text" placeholder="Soyadınız" required>
                          </div>
                        </div>
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            DOĞUM TARİHİNİZ NEDİR?
                          </div>
                          <div class="input-group mb-25">
                            <div class="select-outer">
                              <select class="select-birthdayDate uk-select" name="cbirthdaydate" required>
                                <option value hidden disabled selected>Gün</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-birthdayMonth uk-select" name="cbirthdaymonth">
                                <option value hidden disabled selected>Ay</option>
                                <option value="Ocak">Ocak</option>
                                <option value="Şubat">Şubat</option>
                                <option value="Mart">Mart</option>
                                <option value="Nisan">Nisan</option>
                                <option value="Mayıs">Mayıs</option>
                                <option value="Haziran">Haziran</option>
                                <option value="Temmuz">Temmuz</option>
                                <option value="Ağustos">Ağustos</option>
                                <option value="Eylül">Eylül</option>
                                <option value="Ekim">Ekim</option>
                                <option value="Kasım">Kasım</option>
                                <option value="Aralık">Aralık</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-birthdayYear uk-select" name="cbirthdayyear">
                                <option value hidden disabled selected>Yıl</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            CİNSİYET
                          </div>
                          <div class="input-group">
                            <div class="select-outer">
                              <select class="select-gender uk-select" name="cgender">
                                <option value hidden disabled selected>Cinsiyetiniz</option>
                                <option value="erkek">Erkek</option>
                                <option value="kadın">Kadın</option>
                              </select>
                            </div>
                            <button type="submit"
                              class="uk-button btn-signup-control uk-button--orange js-ogrenci-next-2 js-go-next">
                              <span class="uk-button__txt">
                                Kontrol Et
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="ogrenciStep2 signup-form__wrp">
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            il / ilçe seç
                          </div>
                          <div class="input-group mb-25">
                            <div class="select-outer">
                              <select class="select-il uk-select">
                                <option value hidden disabled selected>İl</option>
                                <option value="erkek">Adana</option>
                                <option value="kadın">Adıyaman</option>
                                <option value="kadın">Afyon</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-ilce uk-select">
                                <option value hidden disabled selected>İlçe</option>
                                <option value="erkek">Aladağ</option>
                                <option value="kadın">Adıyaman</option>
                                <option value="kadın">Afyon</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            Okul seçiniz
                          </div>
                          <div class="select-outer mb-25">
                            <select class="select-okul uk-select">
                              <option value hidden disabled selected>Okul Seçiniz</option>
                              <option value="erkek">Adana</option>
                              <option value="kadın">Adıyaman</option>
                              <option value="kadın">Afyon</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-group--buttons">
                          <a href="javascript:void(0)"
                            class="uk-button uk-button--soft-orange uk-button--icon-left uk-button--icon-reverse js-signup-back">
                            <span class="uk-button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                            <span class="uk-button__txt">
                              GERİ DÖN</span>
                          </a>
                          <button type="submit"
                            class="uk-button uk-button--orange uk-button--icon-right js-ogrenci-next-3 js-go-next">
                            <span class="uk-button__txt">
                              DEVAM ET
                            </span>
                            <span class="uk-button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ogrenciStep3 signup-form__wrp">
                        <div class="input-group aifs">
                          <div class="input-outer mb-15">
                            <input class="input input-newpassword" type="password" placeholder="Şifreniz">
                          </div>
                          <div class="input-outer mb-15">
                            <input class="input input-newpassword-again" type="password" placeholder="Şifreniz Tekrar">
                          </div>
                        </div>
                        <div class="input-infotitle">
                          *Şifreniz en az 6 karakter olmalıdır.
                        </div>
                        <div class="input-group--buttons">
                          <a href="javascript:void(0)"
                            class="uk-button uk-button--soft-orange uk-button--icon-left uk-button--icon-reverse js-signup-back">
                            <span class="uk-button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                            <span class="uk-button__txt">
                              GERİ DÖN</span>
                          </a>
                          <button type="submit"
                            class="uk-button uk-button--orange uk-button--icon-right js-ogrenci-next-4 js-go-next">
                            <span class="uk-button__txt">
                              DEVAM ET
                            </span>
                            <span class="uk-button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ogrenciStep4 signup-form__wrp">
                        <div class="input-group ">
                          <div class="input-outer input-num-start-outer mb-25">
                            <input class="input input-num-start" type="text" placeholder="+90">
                          </div>
                          <div class="select-outer select-phone-outer mb-25">
                            <select class="select-phone uk-select">
                              <option value hidden disabled selected>530</option>
                              <option value="01">530</option>
                              <option value="02">531</option>
                              <option value="03">532</option>
                              <option value="03">533</option>
                              <option value="03">534</option>
                              <option value="03">535</option>
                              <option value="03">536</option>
                            </select>
                          </div>
                          <div class="input-outer mb-25">
                            <input class="input input-num phoneMask" data-inputmask="'mask': '999 99 99'" type="text"
                              placeholder="xxx xx xx">
                          </div>
                        </div>
                        <div class="input-outer mb-25">
                          <span class="input-icon icon-font">
                            <svg class="icon icon-font">
                              <use xlink:href="#icon-mail"></use>
                            </svg>
                          </span>
                          <input class="input input-email" type="email" placeholder="E-posta Adresiniz">
                        </div>
                        <div class="input-container mb-25">
                          <div class="input-container__text">
                            <span class="js-open-modal" data-modal-id="onbilgilendirmeformu">
                              Ön Bilgilendirme
                              Formu,
                            </span>
                            <span class="js-open-modal" data-modal-id="mesafelisatissozlesmesi">
                              Mesafeli Satış Sözleşmesi,
                            </span>
                            <span class="js-open-modal" data-modal-id="kvkk">
                              KVKK
                              Aydınlatma Metnini
                            </span>
                            okudum ve kabul ediyorum.
                          </div>
                          <label class="input-checkbox">
                            <input type="checkbox" class="input-terms">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                        <div class="input-group--buttons">
                          <button type="submit" class="button button--orange js-ogrenci-finish">
                            <span class="button__txt">
                              Üyeliğimi Başlat
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="signup-item js-filter-tab-item ogretmen filtered">
                    <form class="validateForm noSubmitForm ogretmenForm signup-form__inner" method="post"
                      action="./index.html">
                      <div class="ogretmenStep1 signup-form__wrp active">
                        <div class="input-outer mb-25">
                          <span class="input-icon icon-font">
                            <svg class="icon icon-font">
                              <use xlink:href="#icon-user-2"></use>
                            </svg>
                          </span>
                          <input class="input" name="ctckimlik" type="text" placeholder="T.C. Kimlik Numaranız"
                            required>
                        </div>
                        <div class="input-group">
                          <div class="input-outer mb-25">
                            <input class="input" name="cname" type="text" placeholder="Adınız" required>
                          </div>
                          <div class="input-outer mb-25">
                            <input class="input" name="csurname" type="text" placeholder="Soyadınız" required>
                          </div>
                        </div>
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            DOĞUM TARİHİNİZ NEDİR?
                          </div>
                          <div class="input-group mb-25">
                            <div class="select-outer">
                              <select class="select-birthdayDate uk-select" name="cbirthdaydate" required>
                                <option value hidden disabled selected>Gün</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-birthdayMonth uk-select" name="cbirthdaymonth">
                                <option value hidden disabled selected>Ay</option>
                                <option value="Ocak">Ocak</option>
                                <option value="Şubat">Şubat</option>
                                <option value="Mart">Mart</option>
                                <option value="Nisan">Nisan</option>
                                <option value="Mayıs">Mayıs</option>
                                <option value="Haziran">Haziran</option>
                                <option value="Temmuz">Temmuz</option>
                                <option value="Ağustos">Ağustos</option>
                                <option value="Eylül">Eylül</option>
                                <option value="Ekim">Ekim</option>
                                <option value="Kasım">Kasım</option>
                                <option value="Aralık">Aralık</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-birthdayYear uk-select" name="cbirthdayyear">
                                <option value hidden disabled selected>Yıl</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="input-group">
                          <button type="submit"
                            class="button btn-signup-control button--orange js-ogretmen-next-2 js-go-next">
                            <span class="button__txt">
                              Kontrol Et
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ogretmenStep2 signup-form__wrp">
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            il / ilçe seç
                          </div>
                          <div class="input-group mb-25">
                            <div class="select-outer">
                              <select class="select-il uk-select">
                                <option value hidden disabled selected>İl</option>
                                <option value="erkek">Adana</option>
                                <option value="kadın">Adıyaman</option>
                                <option value="kadın">Afyon</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-ilce uk-select">
                                <option value hidden disabled selected>İlçe</option>
                                <option value="erkek">Aladağ</option>
                                <option value="kadın">Adıyaman</option>
                                <option value="kadın">Afyon</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            Okul seçiniz
                          </div>
                          <div class="select-outer mb-25">
                            <select class="select-okul uk-select">
                              <option value hidden disabled selected>Okul Seçiniz</option>
                              <option value="erkek">Adana</option>
                              <option value="kadın">Adıyaman</option>
                              <option value="kadın">Afyon</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-group">
                          <div class="input-group--w-text">
                            <div class="input-subtitle">
                              branş seçiniz
                            </div>
                            <div class="select-outer mb-25">
                              <select class="select-brans uk-select">
                                <option value hidden disabled selected>Okul Seçiniz</option>
                                <option value="erkek">Adana</option>
                                <option value="kadın">Adıyaman</option>
                                <option value="kadın">Afyon</option>
                              </select>
                            </div>
                          </div>
                          <div class="input-group--w-text">
                            <div class="input-subtitle">
                              görev seçiniz
                            </div>
                            <div class="select-outer mb-25">
                              <select class="select-gorev uk-select">
                                <option value hidden disabled selected>Okul Seçiniz</option>
                                <option value="erkek">Adana</option>
                                <option value="kadın">Adıyaman</option>
                                <option value="kadın">Afyon</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="input-group--buttons">
                          <a href="javascript:void(0)"
                            class="button button--soft-orange button--icon-left button--icon-reverse js-signup-back-2">
                            <span class="button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                            <span class="button__txt">
                              GERİ DÖN</span>
                          </a>
                          <button type="submit"
                            class="button button--orange button--icon-right js-ogretmen-next-3 js-go-next">
                            <span class="button__txt">
                              DEVAM ET
                            </span>
                            <span class="button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ogretmenStep3 signup-form__wrp">
                        <div class="input-outer mb-25">
                          <span class="input-icon icon-font">
                            <svg class="icon icon-font">
                              <use xlink:href="#icon-mail"></use>
                            </svg>
                          </span>
                          <input class="input input-email" type="email" placeholder="E-posta Adresiniz">
                        </div>
                        <div class="input-group">
                          <div class="input-outer input-num-start-outer mb-25">
                            <input class="input input-num-start" type="text" placeholder="+90">
                          </div>
                          <div class="select-outer select-phone-outer mb-25">
                            <select class="select-phone uk-select">
                              <option value hidden disabled selected>530</option>
                              <option value="01">530</option>
                              <option value="02">531</option>
                              <option value="03">532</option>
                              <option value="03">533</option>
                              <option value="03">534</option>
                              <option value="03">535</option>
                              <option value="03">536</option>
                            </select>
                          </div>
                          <div class="input-outer mb-25">
                            <input class="input input-num phoneMask" data-inputmask="'mask': '999 99 99'" type="text"
                              placeholder="xxx xx xx">
                          </div>
                        </div>
                        <div class="input-infotitle">
                          *Şifreniz cep telefonunuza gönderilecektir.
                        </div>
                        <div class="input-group--buttons">
                          <a href="javascript:void(0)"
                            class="button button--soft-orange button--icon-left button--icon-reverse js-signup-back-2">
                            <span class="button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                            <span class="button__txt">
                              GERİ DÖN</span>
                          </a>
                          <button type="submit"
                            class="button button--orange button--icon-right js-ogretmen-next-4 js-go-next">
                            <span class="button__txt">
                              DEVAM ET
                            </span>
                            <span class="button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="ogretmenStep4 signup-form__wrp">
                        <div class="input-group">
                          <div class="input-outer mb-25">
                            <input class="input input-current-code" type="text" placeholder="Onay kodunu girin.">
                          </div>
                          <a href="#0" class="button btn-signup-control button--orange mb-25">
                            <span class="button__txt">
                              Kodu almadım
                            </span>
                          </a>
                        </div>
                        <div class="input-container mb-25">
                          <div class="input-container__text">
                            <span class="js-open-modal" data-modal-id="onbilgilendirmeformu">
                              Ön Bilgilendirme
                              Formu,
                            </span>
                            <span class="js-open-modal" data-modal-id="mesafelisatissozlesmesi">
                              Mesafeli Satış Sözleşmesi,
                            </span>
                            <span class="js-open-modal" data-modal-id="kvkk">
                              KVKK
                              Aydınlatma Metnini
                            </span>
                            okudum ve kabul ediyorum.
                          </div>
                          <label class="input-checkbox">
                            <input type="checkbox" class="input-terms">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                        <div class="input-group--buttons">
                          <button type="submit" class="button button--orange js-ogretmen-finish">
                            <span class="button__txt">
                              Üyeliğimi Başlat
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="signup-item js-filter-tab-item veli filtered">
                    <form class="validateForm noSubmitForm veliForm signup-form__inner" method="post"
                      action="./index.html">
                      <div class="veliStep1 signup-form__wrp active">
                        <div class="input-outer mb-25">
                          <span class="input-icon icon-font">
                            <svg class="icon icon-font">
                              <use xlink:href="#icon-user-2"></use>
                            </svg>
                          </span>
                          <input class="input" name="ctckimlik" type="text" placeholder="T.C. Kimlik Numaranız"
                            required>
                        </div>
                        <div class="input-group">
                          <div class="input-outer mb-25">
                            <input class="input" name="cname" type="text" placeholder="Adınız" required>
                          </div>
                          <div class="input-outer mb-25">
                            <input class="input" name="csurname" type="text" placeholder="Soyadınız" required>
                          </div>
                        </div>
                        <div class="input-group--w-text">
                          <div class="input-subtitle">
                            DOĞUM TARİHİNİZ NEDİR?
                          </div>
                          <div class="input-group mb-25">
                            <div class="select-outer">
                              <select class="select-birthdayDate uk-select" name="cbirthdaydate" required>
                                <option value hidden disabled selected>Gün</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-birthdayMonth uk-select" name="cbirthdaymonth">
                                <option value hidden disabled selected>Ay</option>
                                <option value="Ocak">Ocak</option>
                                <option value="Şubat">Şubat</option>
                                <option value="Mart">Mart</option>
                                <option value="Nisan">Nisan</option>
                                <option value="Mayıs">Mayıs</option>
                                <option value="Haziran">Haziran</option>
                                <option value="Temmuz">Temmuz</option>
                                <option value="Ağustos">Ağustos</option>
                                <option value="Eylül">Eylül</option>
                                <option value="Ekim">Ekim</option>
                                <option value="Kasım">Kasım</option>
                                <option value="Aralık">Aralık</option>
                              </select>
                            </div>
                            <div class="select-outer">
                              <select class="select-birthdayYear uk-select" name="cbirthdayyear">
                                <option value hidden disabled selected>Yıl</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="input-group">
                          <button type="submit"
                            class="button btn-signup-control button--orange js-veli-next-2 js-go-next">
                            <span class="button__txt">
                              Kontrol Et
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="veliStep2 signup-form__wrp">
                        <div class="input-outer mb-25">
                          <span class="input-icon icon-font">
                            <svg class="icon icon-font">
                              <use xlink:href="#icon-mail"></use>
                            </svg>
                          </span>
                          <input class="input input-email" type="email" placeholder="E-posta Adresiniz">
                        </div>
                        <div class="input-group">
                          <div class="input-outer input-num-start-outer mb-25">
                            <input class="input input-num-start" type="text" placeholder="+90">
                          </div>
                          <div class="select-outer select-phone-outer mb-25">
                            <select class="select-phone uk-select">
                              <option value hidden disabled selected>530</option>
                              <option value="01">530</option>
                              <option value="02">531</option>
                              <option value="03">532</option>
                              <option value="03">533</option>
                              <option value="03">534</option>
                              <option value="03">535</option>
                              <option value="03">536</option>
                            </select>
                          </div>
                          <div class="input-outer mb-25">
                            <input class="input input-num phoneMask" data-inputmask="'mask': '999 99 99'" type="text"
                              placeholder="xxx xx xx">
                          </div>
                        </div>
                        <div class="input-infotitle">
                          *Şifreniz cep telefonunuza gönderilecektir.
                        </div>
                        <div class="input-group--buttons">
                          <a href="javascript:void(0)"
                            class="button button--soft-orange button--icon-left button--icon-reverse js-signup-back-3">
                            <span class="button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                            <span class="button__txt">
                              GERİ DÖN</span>
                          </a>
                          <button type="submit"
                            class="button button--orange button--icon-right js-veli-next-3 js-go-next">
                            <span class="button__txt">
                              DEVAM ET
                            </span>
                            <span class="button__icon">
                              <span class="icon-font">
                                <svg class="icon icon-font">
                                  <use xlink:href="#icon-long-arrow"></use>
                                </svg>
                              </span>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="veliStep3 signup-form__wrp">
                        <div class="input-group">
                          <div class="input-outer mb-25">
                            <input class="input input-current-code" type="text" placeholder="Onay kodunu girin.">
                          </div>
                          <a href="#0" class="button btn-signup-control button--orange mb-25">
                            <span class="button__txt">
                              Kodu almadım
                            </span>
                          </a>
                        </div>
                        <div class="input-container mb-25">
                          <div class="input-container__text">
                            <span class="js-open-modal" data-modal-id="onbilgilendirmeformu">
                              Ön Bilgilendirme
                              Formu,
                            </span>
                            <span class="js-open-modal" data-modal-id="mesafelisatissozlesmesi">
                              Mesafeli Satış Sözleşmesi,
                            </span>
                            <span class="js-open-modal" data-modal-id="kvkk">
                              KVKK
                              Aydınlatma Metnini
                            </span>
                            okudum ve kabul ediyorum.
                          </div>
                          <label class="input-checkbox">
                            <input type="checkbox" class="input-terms">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                        <div class="input-group--buttons">
                          <button type="submit" class="button button--orange js-veli-finish">
                            <span class="button__txt">
                              Üyeliğimi Başlat
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div data-modal-id="modal-onbilgilendirmeformu" class="js-modal modal">
    <div class="modal-main scroll-more">
      <div class="modal-header">
        <span class="modal-title">
          Ön Bilgilendirme Formu
        </span>
        <span class="modal-close js-close-modal">
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w button button--orange button--icon-right">
          <span class="button__txt">
            Detaya Git
          </span>
          <span class="button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div data-modal-id="modal-mesafelisatissozlesmesi" class="js-modal modal">
    <div class="modal-main scroll-more">
      <div class="modal-header">
        <span class="modal-title">
          Mesafeli Satış Sözleşmesi
        </span>
        <span class="modal-close js-close-modal">
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w button button--orange button--icon-right">
          <span class="button__txt">
            Detaya Git
          </span>
          <span class="button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div data-modal-id="modal-kvkk" class="js-modal modal">
    <div class="modal-main scroll-more">
      <div class="modal-header">
        <span class="modal-title">
          KVKK
        </span>
        <span class="modal-close js-close-modal">
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w button button--orange button--icon-right">
          <span class="button__txt">
            Detaya Git
          </span>
          <span class="button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>