<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--subjects-detail">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs blue"></div>
        <div class="main-shape bl-1 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
        <div class="main-shape tr-2 shape xs green"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          2. Sınıf Etkinlik Uygulaması 2
        </h1>
        <div class="subject__dates">
          <div class="subject__date">
            <div class="subject__date-title">Sınav Tarihi</div>
            <div class="subject__date-cnt">
              <div class="subject-item__date">
                <div class="subject-item__date-icon">5</div>
                <div class="subject-item__date-cnt">
                  <div class="subject-item__date-month">Aralık</div>
                  <div class="subject-item__date-year">2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="subject__date">
            <div class="subject__date-title">Türkiye Geneli Analiz Tarihi</div>
            <div class="subject__date-cnt">
              <div class="subject-item__date">
                <div class="subject-item__date-icon">10</div>
                <div class="subject-item__date-cnt">
                  <div class="subject-item__date-month">Aralık</div>
                  <div class="subject-item__date-year">2019</div>
                </div>
              </div>
            </div>
          </div>
          <div class="subject__date">
            <div class="subject__date-title">Sonuçların İnternette Yayın Tarihi</div>
            <div class="subject__date-cnt">
              <div class="subject-item__date">
                <div class="subject-item__date-icon">11</div>
                <div class="subject-item__date-cnt">
                  <div class="subject-item__date-month">Aralık</div>
                  <div class="subject-item__date-year">2019</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader-other">
  </div>

  <section class="section section--subjects-detail">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs green"></div>
        <div class="main-shape bl-1 shape xs blue"></div>
        <div class="main-shape bl-2 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container container--w">
      <p class="main-txt main-txt--lg text-center">
        (*) 8. Sınıflarda değişen sınav sistemi doğrultusunda birden fazla kazanımı ölçmeye yönelik muhakeme sorularına
        yer <br>verilmeye başlanmıştır. Muhakeme sorularımız listede belirtilen ana kazanımların yanında yardımcı
        kazanımları da <br> kapsamaktadır.
      </p>
      <div class="subjects__buttons-title">
        Konu Dağılımları
      </div>
      <div class="subjects__buttons">
        <a href="#0" class="uk-button uk-button--soft-orange uk-button--icon-right">
          <span class="uk-button__txt">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/icon-excel.svg" alt="">
            Excel olarak indir</span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </a>
        <a href="#0" class="uk-button uk-button--soft-orange uk-button--icon-right">
          <span class="uk-button__txt">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/icon-pdf.svg" alt="">
            Pdf olarak indir</span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </a>
      </div>
      <div class="subject-detail__wrp">
        <div class="subject-detail__left">
          <div class="subject-detail__left-sticky">
            <div class="main-subtitle">
              <div class="main-subtitle__txt">
                KAZANIMLAR
              </div>
            </div>
            <div class="accordion-outer" uk-accordion>
              <div class="accordion uk-open">
                <div class="accordion-header js-accordion-filter js-tab-simple-item uk-accordion-title"
                  data-filter="turkce">
                  <div class="accordion-header__txt">
                    Türkçe
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <p>
                    Konuları iyi öğrenmek ve öğrenilen ve konularla
                    ilgili Kelime Grubu’nda sizleri nelerin beklediğini
                    infografikten inceleyebilirsiniz.
                  </p>
                  <div class="subject-detail__quest-num">
                    Toplam Soru 20
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter js-tab-simple-item uk-accordion-title"
                  data-filter="hayatbilgisi">
                  <div class="accordion-header__txt">
                    Hayat Bilgisi
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Konuları iyi öğrenmek ve öğrenilen ve konularla
                      ilgili Kelime Grubu’nda sizleri nelerin beklediğini
                      infografikten inceleyebilirsiniz.
                    </p>
                    <div class="subject-detail__quest-num">
                      Toplam Soru 20
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion-header js-accordion-filter js-tab-simple-item uk-accordion-title"
                  data-filter="ingilizce">
                  <div class="accordion-header__txt">
                    İngilizce
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Konuları iyi öğrenmek ve öğrenilen ve konularla
                      ilgili Kelime Grubu’nda sizleri nelerin beklediğini
                      infografikten inceleyebilirsiniz.
                    </p>
                    <div class="subject-detail__quest-num">
                      Toplam Soru 20
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="subject-detail__right js-filter-tab">
          <div class="sss-tab__item js-filter-tab-item turkce">
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
          </div>
          <div class="sss-tab__item js-filter-tab-item hayatbilgisi filtered">
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI hayat bilgisi</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
          </div>
          <div class="sss-tab__item js-filter-tab-item ingilizce filtered">
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI ingilizce</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Noktalama İşaretleri</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 3</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Harf ve Hece Bilgisi</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 4</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">SÖZ VARLIĞI</div>
                  <h4 class="subject-detail__item-title">Sözcüğün Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 1</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.2.1. T.2.2.1. T.2.2.1. Kelimeleri anlamlarına uygun kullanır.
              </p>
            </div>
            <div class="subject-detail__item">
              <div class="subject-detail__item-top">
                <div class="subject-detail__item-left">
                  <div class="subject-detail__item-subtitle">yazma</div>
                  <h4 class="subject-detail__item-title">Büyük Harflerin Anlamı</h4>
                </div>
                <div class="subject-detail__item-quest-num">SORU: 2</div>
              </div>
              <p class="subject-detail__item-bottom">
                T.2.4.8. T.2.4.8. T.2.4.8. Büyük harf ve noktalama işaretlerini uygun yerlerde
                kullanır.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section section--mini-info">
    <div class="container container--w">
      <div class="mini-info">
        <div class="main-title main-title--sm mb-20">
          Değerlendirme Kılavuzu
        </div>
        <p class="main-txt main-txt--lg">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik
          süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz.
        </p>
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right mt-30 js-video-btn"
          data-video-id="-70iaCdo-ok">
          <span class="uk-button__txt">
            Video&apos;yu İzle
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-play"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>