<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--subjects">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs blue"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          Konu
          <span class="main-title__in orange with-border">
            Dağılımları
          </span>
        </h1>
        <p class="main-txt main-txt--lg">
          Merak ettiğiniz soruları arayabilir veya aşağıdan <br>
          bir kategori seçebilirsiniz.
        </p>
        <div class="main-dropdowns mt-30">
          <div class="main-dropdown">
            <div class="main-dropdown__cnt js-dropdown">
              <div class="main-dropdown__txt">Sınıf Seçiniz</div>
              <div class="main-dropdown__icon"></div>
            </div>
            <div class="main-dropdown__list" uk-dropdown="mode: click">
              <div class="main-dropdown__item">1. Sınıf</div>
              <div class="main-dropdown__item">2. Sınıf</div>
              <div class="main-dropdown__item">3. Sınıf</div>
              <div class="main-dropdown__item">4. Sınıf</div>
              <div class="main-dropdown__item">5. Sınıf</div>
              <div class="main-dropdown__item">6. Sınıf</div>
              <div class="main-dropdown__item">7. Sınıf</div>
              <div class="main-dropdown__item">8. Sınıf</div>
            </div>
          </div>
          <div class="main-dropdown">
            <div class="main-dropdown__cnt js-dropdown">
              <div class="main-dropdown__txt">Seçiniz</div>
              <div class="main-dropdown__icon"></div>
            </div>
            <div class="main-dropdown__list" uk-dropdown="mode: click">
              <div class="main-dropdown__item">Etkinlik Uygulamaları</div>
              <div class="main-dropdown__item">Etkinlik Uygulamaları 2</div>
              <div class="main-dropdown__item">Etkinlik Uygulamaları 3</div>
              <div class="main-dropdown__item">Etkinlik Uygulamaları 4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader-other">
  </div>
  <section class="section section--subjects">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-3 yellow"></div>
        <div class="main-shape tl-2 shape xs green"></div>
        <div class="main-shape bl-1 shape xs blue"></div>
        <div class="main-shape tr-1 shape xs green"></div>
      </div>
    </div>
    <div class="container container--w">
      <p class="main-txt main-txt--lg text-center">
        (*) 8. Sınıflarda değişen sınav sistemi doğrultusunda birden fazla kazanımı ölçmeye yönelik muhakeme sorularına
        yer <br>verilmeye başlanmıştır. Muhakeme sorularımız listede belirtilen ana kazanımların yanında yardımcı
        kazanımları da <br> kapsamaktadır.
      </p>
      <div class="subjects__buttons-title">
        Sınav Takvimi
      </div>
      <div class="subjects__buttons">
        <a href="#0" class="uk-button uk-button--soft-orange uk-button--icon-right">
          <span class="uk-button__txt">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/icon-excel.svg" alt="">
            Excel olarak indir</span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </a>
        <a href="#0" class="uk-button uk-button--soft-orange uk-button--icon-right">
          <span class="uk-button__txt">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/icon-pdf.svg" alt="">
            Pdf olarak indir</span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </a>
      </div>
      <div class="subject__wrp">
        <div class="subject-item">
          <div class="subject-item__top">
            <div class="subject-item__date">
              <div class="subject-item__date-icon">16</div>
              <div class="subject-item__date-cnt">
                <div class="subject-item__date-month">Ekim</div>
                <div class="subject-item__date-year">2019</div>
              </div>
            </div>
            <div class="subject-item__exam">
              <h4 class="subject-item__exam-name">Değerlendirme Sınavı 1</h4>
              <div class="subject-item__exam-day">Salı</div>
            </div>
            <a href="./konu-detay.html" class="subject-item__button">
              <span class="subject-item__button-txt">Konu dağılımlarını gör</span>
              <span class="subject-item__button-icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="subject-item__bottom">
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Türkiye geneli analiz tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">21 Ekim 2019</div>
            </div>
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Sonuçların internette yayınlanma tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">22 Ekim 2019</div>
            </div>
          </div>
        </div>
        <div class="subject-item">
          <div class="subject-item__top">
            <div class="subject-item__date">
              <div class="subject-item__date-icon">16</div>
              <div class="subject-item__date-cnt">
                <div class="subject-item__date-month">Ekim</div>
                <div class="subject-item__date-year">2019</div>
              </div>
            </div>
            <div class="subject-item__exam">
              <h4 class="subject-item__exam-name">Değerlendirme Sınavı 1</h4>
              <div class="subject-item__exam-day">Salı</div>
            </div>
            <a href="./konu-detay.html" class="subject-item__button">
              <span class="subject-item__button-txt">Konu dağılımlarını gör</span>
              <span class="subject-item__button-icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="subject-item__bottom">
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Türkiye geneli analiz tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">21 Ekim 2019</div>
            </div>
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Sonuçların internette yayınlanma tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">22 Ekim 2019</div>
            </div>
          </div>
        </div>
        <div class="subject-item">
          <div class="subject-item__top">
            <div class="subject-item__date">
              <div class="subject-item__date-icon">16</div>
              <div class="subject-item__date-cnt">
                <div class="subject-item__date-month">Ekim</div>
                <div class="subject-item__date-year">2019</div>
              </div>
            </div>
            <div class="subject-item__exam">
              <h4 class="subject-item__exam-name">Değerlendirme Sınavı 1</h4>
              <div class="subject-item__exam-day">Salı</div>
            </div>
            <a href="./konu-detay.html" class="subject-item__button">
              <span class="subject-item__button-txt">Konu dağılımlarını gör</span>
              <span class="subject-item__button-icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="subject-item__bottom">
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Türkiye geneli analiz tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">21 Ekim 2019</div>
            </div>
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Sonuçların internette yayınlanma tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">22 Ekim 2019</div>
            </div>
          </div>
        </div>
        <div class="subject-item">
          <div class="subject-item__top">
            <div class="subject-item__date">
              <div class="subject-item__date-icon">16</div>
              <div class="subject-item__date-cnt">
                <div class="subject-item__date-month">Ekim</div>
                <div class="subject-item__date-year">2019</div>
              </div>
            </div>
            <div class="subject-item__exam">
              <h4 class="subject-item__exam-name">Değerlendirme Sınavı 1</h4>
              <div class="subject-item__exam-day">Salı</div>
            </div>
            <a href="./konu-detay.html" class="subject-item__button">
              <span class="subject-item__button-txt">Konu dağılımlarını gör</span>
              <span class="subject-item__button-icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="subject-item__bottom">
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Türkiye geneli analiz tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">21 Ekim 2019</div>
            </div>
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Sonuçların internette yayınlanma tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">22 Ekim 2019</div>
            </div>
          </div>
        </div>
        <div class="subject-item">
          <div class="subject-item__top">
            <div class="subject-item__date">
              <div class="subject-item__date-icon">16</div>
              <div class="subject-item__date-cnt">
                <div class="subject-item__date-month">Ekim</div>
                <div class="subject-item__date-year">2019</div>
              </div>
            </div>
            <div class="subject-item__exam">
              <h4 class="subject-item__exam-name">Değerlendirme Sınavı 1</h4>
              <div class="subject-item__exam-day">Salı</div>
            </div>
            <a href="./konu-detay.html" class="subject-item__button">
              <span class="subject-item__button-txt">Konu dağılımlarını gör</span>
              <span class="subject-item__button-icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </span>
            </a>
          </div>
          <div class="subject-item__bottom">
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Türkiye geneli analiz tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">21 Ekim 2019</div>
            </div>
            <div class="subject-item__bottom-item">
              <div class="subject-item__bottom-title">Sonuçların internette yayınlanma tarihi</div>
              <span>:</span>
              <div class="subject-item__bottom-txt">22 Ekim 2019</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section section--mini-info">
    <div class="container container--w">
      <div class="mini-info">
        <h3 class="main-title main-title--sm mb-20">
          Değerlendirme Kılavuzu
        </h3>
        <p class="main-txt main-txt--lg">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik
          süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz.
        </p>
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right mt-30 js-video-btn"
          data-video-id="-70iaCdo-ok">
          <span class="uk-button__txt">
            Video&apos;yu İzle
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-play"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>