<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <div class="main-title mb-30">
          <span class="main-title__in orange">
            Kişisel Verilerin Korunması
          </span>
        </div>
        <p class="main-txt main-txt--lg">
          Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik <br>
          süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz.
        </p>
      </div>
    </div>
  </div>
  <div class="subheader-other">
  </div>
  <section class="section section--kvkk">
    <div class="container container--w">
      <div class="sss-tab__wrp">
        <div class="sss-tab__item">
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Üyelik <br> Bilgilendirme
              </h3>
            </div>
            <div class="sss-right" uk-accordion>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      murat bahçeden üzüm çaldı.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim? Ahmet
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Şifre <br> İşlemleri
                </h>
            </div>
            <div class="sss-right -outer" uk-accordion>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Teknik <br> Konular
              </h3>
            </div>
            <div class="sss-right -outer" uk-accordion>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim? qweqwe
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Okulistik <br> Market
              </h3>
            </div>
            <div class="sss-right -outer" uk-accordion>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion ">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="-empty main-not-found" style="display: none;">sonuç bulunamadı!</span>
    </div>
  </section>


  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>