<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="hero hero--centered hero--about">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-2 blue"></div>
        <div class="main-shape tl-3 shape xs-3 yellow"></div>
        <div class="main-shape bl-1 shape xs green"></div>
        <div class="main-shape tr-1 shape xs-2 blue"></div>
        <div class="main-shape tr-2 shape xs yellow"></div>
        <div class="main-shape tr-3 shape xs green"></div>
        <div class="main-shape br-1 shape xs-3 orange"></div>
        <div class="main-shape br-2 shape xs-3 orange"></div>

        <div class="main-shape t-l shape-icon lg pink">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_shape-cloud.svg" alt="">
        </div>
        <div class="main-shape b-r shape-icon md green">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/hero_shape-world.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero__wrp">
        <div class="hero__img--left">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/manifesto_img.png" alt="">
        </div>
        <div class="hero__cnt">
          <div class="main-subtitle mb-20">
            <div class="main-subtitle__txt">MANIFESTO</div>
          </div>
          <h1 class="main-title mb-20">
            Okulistik Nedir?
          </h1>
          <p class="main-txt main-txt--lg">
            Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik
            süreçlerden geçerek ilerlemeleri için sizlerle birlikte çalışıyoruz. <br>
            <strong>Biz “sonuç”la değil, “süreç”le ilgilenmekteyiz.</strong>
          </p>
          <div class="hero__buttons">
            <div class="uk-button uk-button--orange uk-button--icon-right js-video-btn" data-video-id="-70iaCdo-ok">
              <span class="uk-button__txt">
                Tanıtım Videosunu İzle
              </span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="hero__img--right">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/manifesto_img-2.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <div class="container hero__boxes-outer container--w">
    <div class="hero__boxes f-column">
      <div class="main-title main-title--xs text-center mb-40">
        20 yıllık eğitim tecrübemizle!
      </div>
      <div class="home-infos home-infos--reverse">
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/cap.svg" alt="">
          </div>
          <div class="home-info__txt">
            2 Milyon
            <span>Kayıtlı Öğrenci</span>
          </div>
        </div>
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/books.svg" alt="">
          </div>
          <div class="home-info__txt">
            250 Bin
            <span>Kayıtlı Öğretmen</span>
          </div>
        </div>
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/abc-board.svg" alt="">
          </div>
          <div class="home-info__txt">
            %100 MEB
            <span>Uyumlu İçerikler</span>
          </div>
        </div>
        <div class="home-info">
          <div class="home-info__icon">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ads-browser.svg" alt="">
          </div>
          <div class="home-info__txt">
            Reklamsız
            <span>Güvenli Ekran</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about--info section-bordered">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-3 orange"></div>
        <div class="main-shape tr-1 shape xs-2 blue"></div>
        <div class="main-shape tr-2 shape xs-2 yellow"></div>
        <div class="main-shape br-1 shape xs yellow"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="about-info">
        <div class="about-info__left">
          <h3 class="main-title main-title--lg mt-20 mb-50">
            Ölçme ve Değerlendirme<br>
            <span class="main-title__in orange">
              Uygulamalarımız Hakkında
            </span>
          </h3>
          <p class="main-txt main-txt--lg mb-50">
            Okulistik olarak 2004 yılından beri kurumsal ölçme ve
            değerlendirme çözümleri sunmaktayız. Sorularımız güncel
            MEB Öğretim Programı ile %100 uyumlu olarak
            hazırlanmaktadır.
          </p>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
          </ul>
        </div>
        <div class="about-info__right">
          <div class="about-info__img">
            <div class="about-info__img-info top">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/chart-shape.svg" alt="">
              <span>
                Ölçümlenebilir
              </span>
              <p>
                bu infografikten başka inceleyebilir.
              </p>
            </div>
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/teacher_img-4.jpg"
              class="about-info__img-info-leftimg" alt="">
            <div class="about-info__img-info left">
              <span>
                Çocuklarımız için Güvenli
              </span>
              <p>
                Kelime Grubu’nda sizleri de nelerin
              </p>
            </div>
            <div class="about-info__img-info right">
              <div>
                <span>
                  ⚡
                </span>
                Hızlı Erişilebilir
              </div>
              <p>
                Kelime Grubu’nda sizleri de nelerin bekle
                bu infografikten başka inceleyebilir.
              </p>
            </div>
            <div class="about-info__img-top">
              <span class="about-info__img-round"></span>
              <span class="about-info__img-round"></span>
              <span class="about-info__img-round"></span>
            </div>
            <div class="about-info__img-inner">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/video-img.jpg" alt="">
            </div>
          </div>
          <div class="about-info__card-wrp">
            <a href="#0" class="about-info__card">
              <div class="about-info__card-title">
                <p class="main-txt main-txt--lg">
                  Puan hesaplamaları ile ilgili ayrıntılı bilgilere erişin.
                </p>
              </div>
              <div class="about-info__card-btn">
                Değerlendirme Kılavuzu
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </div>
            </a>
            <a href="#0" class="about-info__card">
              <div class="about-info__card-title">
                <p class="main-txt main-txt--lg">
                  Puan hesaplamaları ile ilgili ayrıntılı bilgilere erişin.
                </p>
              </div>
              <div class="about-info__card-btn">
                Değerlendirme Kılavuzu
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-long-arrow"></use>
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about--boxes">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-2 yellow"></div>
        <div class="main-shape tr-1 shape xs-2 blue"></div>
        <div class="main-shape tl-2 shape xs-3 blue"></div>
        <div class="main-shape tr-2 shape xs-3 pink"></div>
        <div class="main-shape bl-1 shape xs green"></div>
        <div class="main-shape tr-3 shape xs green"></div>
        <div class="main-shape br-1 shape xs orange"></div>
      </div>
    </div>

    <div class="container container--w">
      <div class="home-content about-content">
        <div class="home-left">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/home_img-4.png" alt="">
        </div>
        <div class="home-right">
          <div class="home__cnt">
            <div class="main-subtitle">
              <div class="main-subtitle__txt">
                VELİ OLARAK SORUMLULUKLARINIZ
              </div>
            </div>
            <h3 class="main-title main-title--lg mt-20 mb-50">
              Velilerimize
              <span class="main-title__in orange">
                Öneriler
              </span>
            </h3>
            <p class="main-txt main-txt--lg">
              Sadece bir sınav sonucuna bakarak öğrencimizin gelişimi hakkında fikir sahibi olmak mümkün değildir.
              Unutmayın! Eğitim sürecini değerlendiriyorsunuz, sonucunu değil, dolayısıyla “sıralama” asıl odağınız
              olmasın.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container container--w">
      <div class="about-boxes">
        <div class="about-box">
          <div class="about-box__top">
            <div class="about-box__top-icon">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/abc-board.svg" alt="">
            </div>
            <h4 class="main-title main-title--sm">
              Konuları <br>
              <span class="main-title__in orange">
                Tekrar Ediniz
              </span>
            </h4>
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik süreçlerden geçerek
                ilerlemeleri için sizlerle birlikte çalışıyoruz.
              </span>
            </li>
          </ul>
        </div>
        <div class="about-box">
          <div class="about-box__top">
            <div class="about-box__top-icon">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/sertificate.svg" alt="">
            </div>
            <h4 class="main-title main-title--sm">
              Konuları <br>
              <span class="main-title__in orange">
                Tekrar Ediniz
              </span>
            </h4>
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik süreçlerden geçerek
                ilerlemeleri için sizlerle birlikte çalışıyoruz.
              </span>
            </li>
          </ul>
        </div>
        <div class="about-box">
          <div class="about-box__top">
            <div class="about-box__top-icon">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/cap.svg" alt="">
            </div>
            <h4 class="main-title main-title--sm">
              Konuları <br>
              <span class="main-title__in orange">
                Tekrar Ediniz
              </span>
            </h4>
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik süreçlerden geçerek
                ilerlemeleri için sizlerle birlikte çalışıyoruz.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Türkiye geneli zorluk dereceleri 2 ve 3. sınıflarda kolay, 4–7. sınıflarda orta, 8. sınıflarda zor
                olarak planlanmaktadır ancak zorluk şubeden şubeye değişiklik gösterebilir. Türkiye genelinde çok zor
                olan bir soru şubede çok kolay veya tersi gibi durumlar olabilir.
              </span>
            </li>
          </ul>
        </div>
        <div class="about-box">
          <div class="about-box__top">
            <div class="about-box__top-icon">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/books.svg" alt="">
            </div>
            <h4 class="main-title main-title--sm">
              Konuları <br>
              <span class="main-title__in orange">
                Tekrar Ediniz
              </span>
            </h4>
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Set budgets, get instant spending notifications, and see
                weekly insights to keep your spending on track.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Öğrencilerimiz en değerli varlıklarımız, onların temelleri sağlam atılmış akademik süreçlerden geçerek
                ilerlemeleri için sizlerle birlikte çalışıyoruz.
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div data-modal-id="modal-heroModal" class="js-modal modal">
    <div class="modal-main scroll-more">
      <div class="modal-header">
        <span class="modal-title">
          Modal Başlığı Buraya Gelebilir
        </span>
        <span class="modal-close js-close-modal">
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Detaya Git
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>