<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body class="dark">
  <header class="header header--light">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="main-product">
    <div class="container container--w">
      <div class="main-product__item">
        <div class="main-product__left">
          <div class="main-product__img">
            <img src="https://via.placeholder.com/850x850" alt="">
          </div>
        </div>
        <div class="main-product__right">
          <div class="main-product__cnt">
            <div class="main-tags">
              <div class="main-tag main-tag--orange-soft">
                <span class="main-tag__icon icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-mouse-c"></use>
                  </svg>
                </span>
                <span class="main-tag__txt">
                  Online Ürün
                </span>
              </div>
            </div>
            <h3 class="main-product__title">
              Online
              <span class="main-title__in orange">
                Değerlendirme Sınavı 1
              </span>
            </h3>
            <div class="main-txt main-txt--lg main-txt--dark mb-50 with-required">
              <span class="main-txt__required">*</span>
              Öğretmen ve yöneticilere satış işlemi kurumsal olarak bayiler
              üzerinden yapılmaktadır
            </div>
            <p class="main-txt main-txt--lg mb-20">
              Okulistik olarak 2004 yılından beri kurumsal ölçme ve değerlendirme çözümleri sunmaktayız. Sorularımız
              güncel MEB Öğretim Programı hazırlanmaktadır.Okulistik olarak 2004 yılından beri kurumsal ölçme ve
              değerlendirme çözümleri sunmaktayız.
            </p>
            <div class="main-txt main-txt--lg main-txt--dark">
              Ürünlere Ulaşmak için bayilere ulaşın:
            </div>
            <div class="main-product__bottom with-teacher">
              <div class="btn-mw btn-teacherlist uk-button uk-button--soft-orange-dark uk-button--icon-left">
                <span class="uk-button__icon">
                  🎉
                </span>
                <span class="uk-button__txt">
                  Öğretmenlere Ücretsizdir</span>
              </div>
              <div class="uk-button uk-button--orange uk-button--icon-right main-product__btn">
                <span class="uk-button__txt">
                  Bayii Bul
                </span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-mappin"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main-product-tab-header">
    <div class="container container--w">
      <div class="sss-tab-header sss-tab-header--yellow sss-tab-header--big">
        <div class="sss-tab-header__wrp js-vertical-magic-line-tab">
          <div class='vertical-magic-line-tab'></div>
          <a data-filter="urunozellikleri"
            class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item active">
            <span class="uk-button__txt">
              Ürün Özellikleri
            </span>
          </a>
          <a data-filter="kapsam" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Kapsam
            </span>
          </a>
          <a data-filter="konudagilimi" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Konu Dağılımı
            </span>
          </a>
          <a data-filter="tarihler" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Tarihler
            </span>
          </a>
          <a data-filter="tanitimvideosu" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              Tanıtım Videosu
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-product-tab-outer">
    <div class="container container--w">
      <div class="main-product-tab js-filter-tab">
        <div class="sss-tab__item js-filter-tab-item urunozellikleri">
          <div class="main-product__product-features">
            <h3 class="main-title main-title--md">
              <span class="main-title__in orange">
                Ürün
              </span>
              Özellikleri
            </h3>
            <div class="main-product__product-features-wrp">
              <div class="main-txt main-txt--lg">
                Okulistik olarak 2004 yılından beri kurumsal ölçme ve
                değerlendirme çözümleri sunmaktayız. Sorularımız güncel
                MEB Öğretim Programı hazırlanmaktadır.Okulistik olarak 2004 yılından beri kurumsal ölçme ve
                değerlendirme çözümleri sunmaktayız.
              </div>
              <ul class="check-list">
                <li class="check-list__item">
                  <span class="check-list__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-check"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="check-list__txt">
                    Sınırsız ders tekrarı yap. Bütün konular elinin altında!
                  </span>
                </li>
                <li class="check-list__item">
                  <span class="check-list__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-check"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="check-list__txt">
                    Üst düzey içeriklerle soru çözme becerisi kazan.
                  </span>
                </li>
                <li class="check-list__item">
                  <span class="check-list__icon">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-check"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="check-list__txt">
                    Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
                  </span>
                </li>
              </ul>
            </div>
            <div class="main-product__product-features-video">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/video_img.jpg" alt="">
              <span class="main-play-icon">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-play"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="sss-tab__item js-filter-tab-item kapsam filtered">
          kapsam tabı
        </div>
        <div class="sss-tab__item js-filter-tab-item konudagilimi filtered">
          konu dağılımı tabı
        </div>
        <div class="sss-tab__item js-filter-tab-item tarihler filtered">
          tarihler tabı
        </div>
        <div class="sss-tab__item js-filter-tab-item tanitimvideosu filtered">
          tanıtım videosu tabı
        </div>
      </div>
    </div>
  </div>

  <section class="section section-product-slider">
    <div class="container container--w">
      <div class="product-slider__top">
        <div class="main-tag main-tag--orange-soft">
          <span class="main-tag__icon icon-font">
            <svg class="icon icon-font">
              <use xlink:href="#icon-basket"></use>
            </svg>
          </span>
          <span class="main-tag__txt">
            Diğer <span class="colored-orange">Market Ürünleri</span>
          </span>
        </div>
        <div class="main-title main-title--md mt-10">
          Eğitim için yüzlerce ek içerik
          <span class="main-title__in orange">
            sizlerle!
          </span>
        </div>
      </div>
      <div class="product-slider__wrp">
        <div class="swiper-container" tabindex="-1" uk-slider>
          <div class="swiper-wrapper uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="swiper-button-prev swiper-button-main">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </div>
          <div class="swiper-button-next swiper-button-main">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </div>

        </div>
      </div>
    </div>
  </section>


  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>