<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          <span class="main-title__in orange">
            Sınav Değerlendirme
          </span>
          Kılavuzu
        </h1>
        <p class="main-txt main-txt--lg">
          Merak ettiğiniz soruları arayabilir veya aşağıdan <br>
          bir kategori seçebilirsiniz.
        </p>
      </div>
    </div>
  </div>
  <div class="subheader-other">
    <div class="container">
      <div class="sss-tab-header sss-tab-header--yellow">
        <div class="sss-tab-header__wrp js-vertical-magic-line-tab">
          <div class='vertical-magic-line-tab'></div>
          <a data-filter="2sinif" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item active">
            <span class="uk-button__txt">
              2. Sınıf
            </span>
          </a>
          <a data-filter="3sinif" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              3. Sınıf
            </span>
          </a>
          <a data-filter="4sinif" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              4. Sınıf
            </span>
          </a>
          <a data-filter="567sinif" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              5.6.7, Sınıf
            </span>
          </a>
          <a data-filter="8sinif" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__txt">
              8. Sınıf
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs green"></div>
        <div class="main-shape tl-2 shape xs blue"></div>
        <div class="main-shape tr-1 shape xs green"></div>
        <div class="main-shape tr-2 shape xs-2 pink"></div>
      </div>
    </div>
    <div class="container container--w js-filter-tab">
      <div class="sss-tab__item js-filter-tab-item 2sinif">
        <div class="home-content exam-content">
          <div class="home-left">
            <div class="home__cnt">
              <div class="main-subtitle">
                <div class="main-subtitle__txt">
                  İLKOKUL
                </div>
              </div>
              <h3 class="main-title main-title--lg mt-20 mb-50">
                2. Sınıflar İçin<br>
                Değerlendirme
                <span class="main-title__in orange">
                  Yöntemleri
                </span>
              </h3>
              <div class="main-txt main-txt--lg">
                Bu sınıfların yaş gruplarında, eğitim bilimcilerin tavsiyeleri
                dikkate alınarak aşağıdaki değerlendirme yöntemi
                kullanılmaktadır.
              </div>
            </div>
          </div>
          <div class="home-right">
            <ul class="check-list">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Öğrencilerin cevapları değerlendirilerek Türkçe, Hayat Bilgisi, Matematik ve İngilizce grubu
                  soruları için verilen doğru cevap ile yanlış cevap sayısı ayrı ayrı belirlenir. Bu gruba yapılan
                  sınavlarda yanlış cevap, doğru cevabı götürmez.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-info info mt-50">
          <div class="main-info__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-info"></use>
              </svg>
            </span>
          </div>
          <div class="main-info__txt">
            Etkinlik Uygulamaları, Online Değerlendirme / Genel Değerlendirme / Hazırlık Sınavları Bölüm Ağırlıkları
            Tablosu
          </div>
        </div>
        <div class="exam-table mt-50">
          <div class="exam-table__row head">
            <div class="exam-table__col">
              <div class="exam-table__title">Test No</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Test Adı</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Soru Sayıları</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Bölüm Ağırlıkları</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">01</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Türkçe</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">02</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Matematik</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">03</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Hayat Bilgisi</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">04</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">İngilizce</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row totally">
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">TOPLAM</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">65</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">100%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item 3sinif filtered">
        <div class="home-content exam-content">
          <div class="home-left">
            <div class="home__cnt">
              <div class="main-subtitle">
                <div class="main-subtitle__txt">
                  İLKOKUL
                </div>
              </div>
              <h3 class="main-title main-title--lg mt-20 mb-50">
                3. Sınıflar İçin<br>
                Değerlendirme
                <span class="main-title__in orange">
                  Yöntemleri
                </span>
              </h3>
              <div class="main-txt main-txt--lg">
                Bu sınıfların yaş gruplarında, eğitim bilimcilerin tavsiyeleri
                dikkate alınarak aşağıdaki değerlendirme yöntemi
                kullanılmaktadır.
              </div>
            </div>
          </div>
          <div class="home-right">
            <ul class="check-list">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Öğrencilerin cevapları değerlendirilerek Türkçe, Hayat Bilgisi, Matematik ve İngilizce grubu
                  soruları için verilen doğru cevap ile yanlış cevap sayısı ayrı ayrı belirlenir. Bu gruba yapılan
                  sınavlarda yanlış cevap, doğru cevabı götürmez.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-info info mt-50">
          <div class="main-info__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-info"></use>
              </svg>
            </span>
          </div>
          <div class="main-info__txt">
            Etkinlik Uygulamaları, Online Değerlendirme / Genel Değerlendirme / Hazırlık Sınavları Bölüm Ağırlıkları
            Tablosu
          </div>
        </div>
        <div class="exam-table mt-50">
          <div class="exam-table__row head">
            <div class="exam-table__col">
              <div class="exam-table__title">Test No</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Test Adı</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Soru Sayıları</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Bölüm Ağırlıkları</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">01</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Türkçe</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">02</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Matematik</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">03</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Hayat Bilgisi</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">04</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">İngilizce</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">05</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Yabancı Dil</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%12.72</div>
            </div>
          </div>
          <div class="exam-table__row totally">
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">TOPLAM</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">65</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">100%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item 4sinif filtered">
        <div class="home-content exam-content">
          <div class="home-left">
            <div class="home__cnt">
              <div class="main-subtitle">
                <div class="main-subtitle__txt">
                  İLKOKUL
                </div>
              </div>
              <h3 class="main-title main-title--lg mt-20 mb-50">
                4. Sınıflar İçin<br>
                Değerlendirme
                <span class="main-title__in orange">
                  Yöntemleri
                </span>
              </h3>
              <div class="main-txt main-txt--lg">
                Bu sınıfların yaş gruplarında, eğitim bilimcilerin tavsiyeleri
                dikkate alınarak aşağıdaki değerlendirme yöntemi
                kullanılmaktadır.
              </div>
            </div>
          </div>
          <div class="home-right">
            <ul class="check-list">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Öğrencilerin cevapları değerlendirilerek Türkçe, Hayat Bilgisi, Matematik ve İngilizce grubu
                  soruları için verilen doğru cevap ile yanlış cevap sayısı ayrı ayrı belirlenir. Bu gruba yapılan
                  sınavlarda yanlış cevap, doğru cevabı götürmez.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-info info mt-50">
          <div class="main-info__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-info"></use>
              </svg>
            </span>
          </div>
          <div class="main-info__txt">
            Etkinlik Uygulamaları, Online Değerlendirme / Genel Değerlendirme / Hazırlık Sınavları Bölüm Ağırlıkları
            Tablosu
          </div>
        </div>
        <div class="exam-table mt-50">
          <div class="exam-table__row head">
            <div class="exam-table__col">
              <div class="exam-table__title">Test No</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Test Adı</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Soru Sayıları</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Bölüm Ağırlıkları</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">01</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Türkçe</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">02</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Matematik</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">03</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Hayat Bilgisi</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">04</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">İngilizce</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">05</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Yabancı Dil</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%12.72</div>
            </div>
          </div>
          <div class="exam-table__row totally">
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">TOPLAM</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">65</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">100%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item 567sinif filtered">
        <div class="home-content exam-content">
          <div class="home-left">
            <div class="home__cnt">
              <div class="main-subtitle">
                <div class="main-subtitle__txt">
                  İLKOKUL
                </div>
              </div>
              <h3 class="main-title main-title--lg mt-20 mb-50">
                5,6,7. Sınıflar İçin<br>
                Değerlendirme
                <span class="main-title__in orange">
                  Yöntemleri
                </span>
              </h3>
              <div class="main-txt main-txt--lg">
                Bu sınıfların yaş gruplarında, eğitim bilimcilerin tavsiyeleri
                dikkate alınarak aşağıdaki değerlendirme yöntemi
                kullanılmaktadır.
              </div>
              <a href="#0" class="about-info__card mt-50">
                <div class="about-info__card-title">
                  <p class="main-txt main-txt--lg">
                    MEB Merkesi sınav puan hesaplama yönergesi,
                  </p>
                </div>
                <div class="about-info__card-btn">
                  Yönergeyi inceleyin
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-long-arrow"></use>
                    </svg>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="home-right">
            <ul class="check-list">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Öğrencilerin cevapları değerlendirilerek Türkçe, Hayat Bilgisi, Matematik ve İngilizce grubu
                  soruları için verilen doğru cevap ile yanlış cevap sayısı ayrı ayrı belirlenir. Bu gruba yapılan
                  sınavlarda yanlış cevap, doğru cevabı götürmez.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-info info mt-50">
          <div class="main-info__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-info"></use>
              </svg>
            </span>
          </div>
          <div class="main-info__txt">
            Etkinlik Uygulamaları, Online Değerlendirme / Genel Değerlendirme / Hazırlık Sınavları Bölüm Ağırlıkları
            Tablosu
          </div>
        </div>
        <div class="exam-table mt-50 js-with-type">
          <div class="exam-table__row head">
            <div class="exam-table__col">
              <div class="exam-table__title">Test No</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Test Adı</div>
            </div>
            <div class="exam-table__col js-calc-type">
              <div class="exam-table__title">Tür</div>
              <div class="exam-table__col-type-sozel">
                <div class="exam-table__txt">Sözel</div>
              </div>
              <div class="exam-table__col-type-sayisal">
                <div class="exam-table__txt">Sayısal</div>
              </div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Soru Sayıları</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Bölüm Ağırlıkları</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">01</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Türkçe</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">02</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">T.C. İnk.</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">03</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Hayat Bilgisi</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">04</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">İngilizce</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">05</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Yabancı Dil</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sayısal</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%12.72</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">05</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Yabancı Dil</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sayısal</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%12.72</div>
            </div>
          </div>
          <div class="exam-table__row totally">
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">TOPLAM</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">65</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">100%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sss-tab__item js-filter-tab-item 8sinif filtered">
        <div class="home-content exam-content">
          <div class="home-left">
            <div class="home__cnt">
              <div class="main-subtitle">
                <div class="main-subtitle__txt">
                  İLKOKUL
                </div>
              </div>
              <h3 class="main-title main-title--lg mt-20 mb-50">
                8. Sınıflar İçin<br>
                Değerlendirme
                <span class="main-title__in orange">
                  Yöntemleri
                </span>
              </h3>
              <div class="main-txt main-txt--lg">
                Bu sınıfların yaş gruplarında, eğitim bilimcilerin tavsiyeleri
                dikkate alınarak aşağıdaki değerlendirme yöntemi
                kullanılmaktadır.
              </div>
              <a href="#0" class="about-info__card mt-50">
                <div class="about-info__card-title">
                  <p class="main-txt main-txt--lg">
                    MEB Merkesi sınav puan hesaplama yönergesi,
                  </p>
                </div>
                <div class="about-info__card-btn">
                  Yönergeyi inceleyin
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-long-arrow"></use>
                    </svg>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="home-right">
            <ul class="check-list">
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Öğrencilerin cevapları değerlendirilerek Türkçe, Hayat Bilgisi, Matematik ve İngilizce grubu
                  soruları için verilen doğru cevap ile yanlış cevap sayısı ayrı ayrı belirlenir. Bu gruba yapılan
                  sınavlarda yanlış cevap, doğru cevabı götürmez.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Her bir soruya eşit ağırlık verilir. Sınav puanı her bir soru grubunda öğrencinin doğru yaptığı
                  soruların toplam soru sayısına oranlanması ve bu oranların toplanarak yüzlük sisteme çevrilmesi ile
                  yapılır.
                </span>
              </li>
              <li class="check-list__item">
                <span class="check-list__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-check"></use>
                    </svg>
                  </span>
                </span>
                <span class="check-list__txt">
                  Sıralama yapılırken eşit puana sahip öğrenciler, aynı sırada yer alır.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-info info mt-50">
          <div class="main-info__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-info"></use>
              </svg>
            </span>
          </div>
          <div class="main-info__txt">
            Etkinlik Uygulamaları, Online Değerlendirme / Genel Değerlendirme / Hazırlık Sınavları Bölüm Ağırlıkları
            Tablosu
          </div>
        </div>
        <div class="exam-table mt-50 js-with-type2">
          <div class="exam-table__row head">
            <div class="exam-table__col">
              <div class="exam-table__title">Test No</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Test Adı</div>
            </div>
            <div class="exam-table__col js-calc-type">
              <div class="exam-table__title">Tür</div>
              <div class="exam-table__col-type-sozel">
                <div class="exam-table__txt">Sözel</div>
              </div>
              <div class="exam-table__col-type-sayisal">
                <div class="exam-table__txt">Sayısal</div>
              </div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Soru Sayıları</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__title">Bölüm Ağırlıkları</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">01</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Türkçe</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">02</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">T.C. İnk.</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">03</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Hayat Bilgisi</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">20</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">04</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">İngilizce</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sözel</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%30.7692</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">05</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Yabancı Dil</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sayısal</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%12.72</div>
            </div>
          </div>
          <div class="exam-table__row">
            <div class="exam-table__col">
              <div class="exam-table__txt">05</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Yabancı Dil</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">Sayısal</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">10</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">%12.72</div>
            </div>
          </div>
          <div class="exam-table__row totally">
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">&nbsp;</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">TOPLAM</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">65</div>
            </div>
            <div class="exam-table__col">
              <div class="exam-table__txt">100%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>