<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>
  <div class="subheader subheader--sss">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs-3 yellow"></div>
        <div class="main-shape tl-2 shape xs-2 blue"></div>
        <div class="main-shape tr-1 shape xs-3 pink"></div>
        <div class="main-shape tr-2 shape xs yellow"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          Sıkça Sorulan
          <span class="main-title__in orange">
            Sorular
          </span>
        </h1>
        <p class="main-txt main-txt--lg">
          Merak ettiğiniz soruları arayabilir veya aşağıdan <br>
          bir kategori seçebilirsiniz.
        </p>
        <div class="main-search mt-30">
          <input type="text" id="filterSearch" placeholder="Bir konum ya da şube arayın...">
          <span class="icon-font">
            <svg class="icon icon-font">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader-other">
    <div class="container">
      <div class="sss-tab-header">
        <div class="sss-tab-header__wrp js-vertical-magic-line-tab">
          <div class='vertical-magic-line-tab'></div>
          <a data-filter="ogrenciveli" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item active">
            <span class="uk-button__icon">
              👨🏻‍🎓
            </span>
            <span class="uk-button__txt">
              Öğrenci & Veli
            </span>
          </a>
          <a data-filter="ogretmenyonetici" class="sss-tab-header__item js-vertical-magic-line-item-tab js-tab-item ">
            <span class="uk-button__icon">
              📚
            </span>
            <span class="uk-button__txt">
              Öğretmen & Yönetici
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section--sss">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tr-1 shape xs-3 orange"></div>
        <div class="main-shape tl-1 shape xs-3 yellow"></div>
        <div class="main-shape br-1 shape xs-3 pink"></div>
        <div class="main-shape bl-1 shape xs-2 green"></div>
        <div class="main-shape bl-2 shape xs-3 blue"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="sss-tab__wrp js-filter-tab">
        <div class="sss-tab__item js-filter-tab-item ogrenciveli">
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Üyelik <br> Bilgilendirme
              </h3>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      murat bahçeden üzüm çaldı.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim? Ahmet
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <div class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </div>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Şifre <br> İşlemleri
                </h>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Teknik <br> Konular
              </h3>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim? qweqwe
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <h3 class="sss-main-title">
                Okulistik <br> Market
              </h3>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sss-tab__item js-filter-tab-item ogretmenyonetici filtered">
          <div class="sss-wrp">
            <div class="sss-left">
              <div class="sss-main-title">
                Üyelik 2. tab <br> Bilgilendirme
              </div>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      murat bahçeden üzüm çaldı.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim? Ahmet
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <div class="sss-main-title">
                Şifre <br> İşlemleri
              </div>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <div class="sss-main-title">
                Teknik <br> Konular
              </div>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim? qweqwe
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sss-wrp">
            <div class="sss-left">
              <div class="sss-main-title">
                Okulistik <br> Market
              </div>
            </div>
            <div class="sss-right js-filter-search-outer" uk-accordion>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Veli Üyeliği Nedir? Ücretli Mi? Ne İşe Yarıyor. Bilgi Alabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Üyelik Başlatma İşlemini Yaparken Cep Telefonuma Onay Kodu Mesajı Gelmedi?
                    Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Birden Fazla Öğrencim Var. Veli Üyeliğimi Birden Fazla Öğrencim İçin
                    Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Farklı Sınıf Seviyelerinde Birden Fazla Öğrencim Var. Tek Bir İçerik Paketi Satın
                    Aldığımda Tüm Öğrencilerim İçin İçerik Hizmetlerini Kullanabilir Miyim?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion js-filter-search">
                <div class="accordion-header js-accordion uk-accordion-title">
                  <h4 class="accordion-header__txt">
                    Yabancı Uyruklu Öğrencim Var. Üyelik Başlatma İşlemini Yaparken Sistem
                    Öğrencimin Bilgilerini Kabul Etmedi. Ne Yapmalıyım?
                  </h4>
                  <span class="accordion-header__icon"></span>
                </div>
                <div class="accordion-content uk-accordion-content">
                  <div class="js-accordion-height">
                    <p>
                      Şu an için Veli üyeliğinde sadece bir öğrenciyi kayıt ederek takip edebilirsiniz. Birden fazla
                      öğrencinin aynı veli üyeliğinde kayıt edilebilmesi ve takip edilebilmesi için gerekli olan
                      teknik çalışmalarımız devam etmektedir.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="js-filter-search-empty main-not-found" style="display: none;">sonuç bulunamadı!</span>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>