<!DOCTYPE html>
<html lang="tr" class="h-percent-100">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
  <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css" />
</head>

<body class="h-percent-100">
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <section class="section section--branch">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs green"></div>
        <div class="main-shape tl-2 shape xs-2 blue"></div>
        <div class="main-shape tl-3 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container">
      <div class="branches__wrp">
        <div class="branches__left">
          <div class="branches__top">
            <h1 class="main-title main-title--sm mb-40">
              <span class="main-title__in orange">
                Okulistik
              </span><br>
              Şubelerimiz!
            </h1>
            <div class="main-search">
              <input type="search" id="filterSearch" placeholder="Bir konum ya da şube arayın...">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-search"></use>
                </svg>
              </span>
            </div>
          </div>
          <div class="branches__bottom scroll-more">
            <div class="branches__subtitle">
              ÖNE ÇIKAN ŞUBELER
            </div>
            <div class="branches__content js-filter-search-outer">
              <div class="branches-item js-filter-search kadikoy">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Kadıköy Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <div class="branches-item js-filter-search uskudar">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Üsküdar Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <div class="branches-item js-filter-search esenler">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Esenler Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <div class="branches-item js-filter-search umraniye">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Ümraniye Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <div class="branches-item js-filter-search atasehir">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Ataşehir Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <div class="branches-item js-filter-search kartal">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Kartal Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <div class="branches-item js-filter-search beykoz">
                <div class="branches-item__icon">
                  <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-pencil.svg"
                    alt="">
                </div>
                <div class="branches-item__cnt">
                  <h4 class="branches-item__title">
                    Beykoz Şubesi
                  </h4>
                  <div class="branches-item__txt">
                    <span class="icon-font">
                      <svg class="icon icon-font">
                        <use xlink:href="#icon-mappin"></use>
                      </svg>
                    </span>
                    Küçük Çamlıca Mh. Şeker Maslağı Sok. 34
                  </div>
                </div>
              </div>
              <span class="js-filter-search-empty main-not-found" style="display: none;">sonuç bulunamadı.</span>
            </div>
          </div>
          <div class="uk-button btn-w uk-button--white uk-button--icon-right branches__button scroll-more-btn">
            <span class="uk-button__txt">Devamı için kaydır</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </div>
        <div class="branches__right">
          <div id='map'></div>
          <div class="branches-popup">
            <div class="branches-popup__img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/collage_img.jpg" alt="">
            </div>
            <div class="branches-popup__cnt">
              <div class="branches-popup__title">
                <div class="branches-popup__title-txt">Kadıköy Şubesi</div>
              </div>
              <div class="branches-popup__address">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-mappin"></use>
                  </svg>
                </span>
                <div class="branches-popup__address-txt">Küçük Çamlıca Mh. Şeker Maslağı Sok. 34</div>
              </div>
              <div class="branches-popup__phone">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-phone"></use>
                  </svg>
                </span>
                444 36 19
              </div>
              <div class="branches-popup__phone">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-phone"></use>
                  </svg>
                </span>
                530 700 08 23
              </div>
              <div class="branches-popup__mail">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-mail"></use>
                  </svg>
                </span>
                murat.akcay@teknolist.com
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="overlay"></div>
  <%= require('html-loader!../partials/scripts.html') %>
  <script src="http://pixelateworks.com/client/okulistik-webpack/assets/js/mapbox.js"></script>
  <script>
    var map = L.mapbox.map('map', 'diccfish.map-fwz7rlzv')
      .setView([41.01655, 29.03217], 13);

    var markerKadikoy = L.marker([40.98005, 29.07217]).addTo(map);
    var markerUskudar = L.marker([41.02655, 29.03287]).addTo(map);
    var markerEsenler = L.marker([41.05255, 28.98087]).addTo(map);
    var markerUmraniye = L.marker([41.02455, 29.09087]).addTo(map);
    var markerAtasehir = L.marker([40.99005, 29.10227]).addTo(map);
    var markerKartal = L.marker([41.01655, 28.92887]).addTo(map);
    var markerBeykoz = L.marker([41.05555, 29.05717]).addTo(map);
    let mainMarker = document.getElementsByClassName('leaflet-marker-pane')[0].querySelectorAll('.leaflet-marker-icon');
    for (var i = 0; i < mainMarker.length; i++) {
      var anchor = mainMarker[i];
      anchor.src =
        "http://pixelateworks.com/client/okulistik-webpack/assets/images/branch-pin.svg";
    }

    markerKadikoy.addEventListener('click', function () {
      document.querySelector('.branches-item.kadikoy').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    markerUskudar.addEventListener('click', function () {
      document.querySelector('.branches-item.uskudar').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    markerEsenler.addEventListener('click', function () {
      document.querySelector('.branches-item.esenler').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    markerUmraniye.addEventListener('click', function () {
      document.querySelector('.branches-item.umraniye').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    markerAtasehir.addEventListener('click', function () {
      document.querySelector('.branches-item.atasehir').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    markerKartal.addEventListener('click', function () {
      document.querySelector('.branches-item.kartal').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    markerBeykoz.addEventListener('click', function () {
      document.querySelector('.branches-item.beykoz').click();
      document.querySelector('.branches-popup').classList.add('active');
    });
    let branchesItem = document.getElementsByClassName('branches-item');
    for (var i = 0; i < branchesItem.length; i++) {
      var anchor = branchesItem[i];
      anchor.onclick = function () {
        document.querySelector('.branches-popup').classList.add('active');
      };
    }
    let mainMap = document.getElementsByClassName('leaflet-container')[0];
    mainMap.addEventListener('click', function () {
      document.querySelector('.branches-popup').classList.remove('active');
    });
    document.querySelector('.branches-item.kadikoy').addEventListener('click', function () {
      map.panTo(new L.LatLng(40.98005, 29.07217));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Kadıköy Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML = "Küçük Çamlıca Mh. Şeker Maslağı Sok. 34";
    });
    document.querySelector('.branches-item.uskudar').addEventListener('click', function () {
      map.panTo(new L.LatLng(41.02655, 29.03287));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Üsküdar Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML = "Küçük Çamlıca Mh. Şeker Maslağı Sok. 14";
    });
    document.querySelector('.branches-item.esenler').addEventListener('click', function () {
      map.panTo(new L.LatLng(41.05255, 28.98087));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Esenler Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML = "Esenler asdlkş Mh. Şeker Maslağı Sok. 14";
    });
    document.querySelector('.branches-item.umraniye').addEventListener('click', function () {
      map.panTo(new L.LatLng(41.02455, 29.09087));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Ümraniye Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML =
        "Ümraniye asdlkş Mh. Şeker Maslağı Sok. 14";
    });
    document.querySelector('.branches-item.atasehir').addEventListener('click', function () {
      map.panTo(new L.LatLng(40.99005, 29.10227));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Ataşehir Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML =
        "Ataşehir asdlkş Mh. Şeker Maslağı Sok. 14";
    });
    document.querySelector('.branches-item.kartal').addEventListener('click', function () {
      map.panTo(new L.LatLng(41.01655, 28.92887));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Kartal Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML =
        "Kartal xdxd Mh. Şeker Maslağı Sok. 14";
    });
    document.querySelector('.branches-item.beykoz').addEventListener('click', function () {
      map.panTo(new L.LatLng(41.05555, 29.05717));
      document.querySelector('.branches-popup__title-txt').innerHTML = "Beykoz Şubesi";
      document.querySelector('.branches-popup__address-txt').innerHTML =
        "Beykoz asdfjdsş Mh. Şeker Maslağı Sok. 14";
    });
    document.getElementsByClassName('leaflet-control-zoom-in').innerHTML = " ";
    document.getElementsByClassName('leaflet-control-zoom-out').innerHTML = " ";
    map.scrollWheelZoom.enable();
  </script>
</body>

</html>