<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>
  <div uk-filter="target: .js-filter">
    <div class="subheader subheader--exam">
      <div class="main-shapes">
        <div class="container">
          <div class="main-shape tl-1 shape xs yellow"></div>
          <div class="main-shape tl-2 shape xs-3 yellow"></div>
          <div class="main-shape tr-1 shape xs-3 orange"></div>
        </div>
      </div>
      <div class="container">
        <div class="subheader__wrp">
          <h1 class="main-title mb-30">
            Okulistik
            <span class="main-title__in orange with-border">
              Takvim
            </span>
          </h1>
          <p class="main-txt main-txt--lg">
            Konuları iyi öğrenmek ve öğrenilen ve bu konularla ilgili Kelime Grubu <br>
            sizleri nelerin beklediğini bu infografikten inceleyebilirsiniz.
          </p>
        </div>
        <div class="calendar-filter">
          <div class="calendar-filter__subtitle">
            Etkinliklere göre filtrele:
          </div>
          <div class="calendar-filter__wrp">
            <div class="calendar-filter__buttons">
              <div class="calendar-filter__button js-calendar-event-filter hepsi uk-active" data-event-filter="hepsi"
                uk-filter-control>Hepsi
              </div>
              <div class="calendar-filter__button js-calendar-event-filter meb" data-event-filter="meb"
                uk-filter-control="[data-event='meb']">M.E.B.</div>
              <div class="calendar-filter__button js-calendar-event-filter resmi-tatil" data-event-filter="resmitatil"
                uk-filter-control="[data-event='resmitatil']">
                Resmi Tatiller
              </div>
              <div class="calendar-filter__button js-calendar-event-filter sinav" data-event-filter="sinav"
                uk-filter-control="[data-event='sinav']">Sınavlar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subheader-other">
    </div>
    <section class="section section--calendar">
      <div class="container">
        <div class="swiper-container js-calendar-slider" tabindex="-1" uk-slider>
<div class="o-hidden">
  <div class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">
    <div class="calendar-months js-find-event">
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Nisan</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Mayıs</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event meb js-open-modal"
                uk-toggle="target: #calendarModal" data-event="meb">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    M.E.B.
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Değerlendirme Sınavı 3
                        LGS Başvuruları Başlıyor.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Perş.
              </div>
              <div class="calendar-month__item-daynum">
                18
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Perş.
              </div>
              <div class="calendar-month__item-daynum">
                20
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Haziran</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event meb js-open-modal"
                uk-toggle="target: #calendarModal" data-event="meb">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    meb
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="calendar-months js-find-event">
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Temmuz</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Ağustos</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event meb js-open-modal"
                uk-toggle="target: #calendarModal" data-event="meb">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    M.E.B.
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Değerlendirme Sınavı 3
                        LGS Başvuruları Başlıyor.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Perş.
              </div>
              <div class="calendar-month__item-daynum">
                18
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Perş.
              </div>
              <div class="calendar-month__item-daynum">
                20
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Eylül</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event meb js-open-modal"
                uk-toggle="target: #calendarModal" data-event="meb">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    meb
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="calendar-months js-find-event">
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Ekim</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Sömestr Tatili Başlangıcı</li>
                      <li>Ramazan Bayramı</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Kasım</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event meb js-open-modal"
                uk-toggle="target: #calendarModal" data-event="meb">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    M.E.B.
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Değerlendirme Sınavı 3
                        LGS Başvuruları Başlıyor.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Perş.
              </div>
              <div class="calendar-month__item-daynum">
                18
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Perş.
              </div>
              <div class="calendar-month__item-daynum">
                20
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event sinav js-open-modal"
                uk-toggle="target: #calendarModal" data-event="sinav">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Sınav
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>Çanakkale Zaferi</li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  ✏️
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-month">
        <div class="calendar-month__top">
          <div class="calendar-month__top-title">Aralık</div>
          <div class="calendar-month__top-year">2020</div>
        </div>
        <div class="calendar-month__events">
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-month__item">
            <div class="calendar-month__item-left">
              <div class="calendar-month__item-day">
                Salı
              </div>
              <div class="calendar-month__item-daynum">
                6
              </div>
            </div>
            <div class="calendar-month__item-cnt js-filter">
              <div class="calendar-month__item-event js-event meb js-open-modal"
                uk-toggle="target: #calendarModal" data-event="meb">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    meb
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
              <div class="calendar-month__item-event js-event resmitatil js-open-modal"
                uk-toggle="target: #calendarModal" data-event="resmitatil">
                <div class="calendar-month__item-wrp">
                  <div class="calendar-month__item-tag">
                    Resmi Tatil
                  </div>
                  <div class="calendar-month__item-txt">
                    <ul>
                      <li>
                        Ulusal Egemenlik ve Çocuk
                        Bayramı
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="calendar-month__item-icon">
                  🎉
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
          <div class="calendar-filter__prev" uk-slider-item="previous">
            <span class="calendar-filter__prev-icon"></span>
            <span class="calendar-filter__prev-txt">Önceki Ay</span>
          </div>
          <div class="calendar-filter__next" uk-slider-item="next">
            <span class="calendar-filter__next-txt">Sonraki Ay</span>
            <span class="calendar-filter__next-icon"></span>
          </div>
        </div>
      </div>
  </div>
  </section>
  </div>

  <div id="calendarModal" uk-modal class="js-modal modal uk-modal">
    <div class="modal-main scroll-more uk-modal-dialog">
      <div class="modal-header">
        <span class="modal-title">
          Modal Başlığı Buraya Gelebilir
        </span>
        <span class="modal-close js-close-modal uk-modal-close-default" type="button" uk-close>
        </span>
      </div>
      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta accusamus nemo ex sunt pariatur, aut unde
          cupiditate repellat doloremque in maxime veniam minus explicabo omnis et soluta veritatis magnam velit quos
          commodi exercitationem. Neque voluptatibus iusto placeat, dolor repellendus exercitationem. Doloribus vero
          tenetur nulla. Atque omnis modi magnam impedit amet cupiditate facilis, rerum optio fuga? Inventore deleniti
          expedita adipisci vel, ex magni veniam architecto minus velit voluptatum odit natus perspiciatis, sapiente
          quidem delectus asperiores, voluptatibus enim mollitia iste? Vitae dicta dolor quibusdam, a porro
          praesentium
          eaque optio voluptates, ipsam corrupti perspiciatis voluptas magni libero magnam aspernatur beatae
          voluptatem
          quo eum obcaecati facilis deleniti. Dolores, dignissimos sint! Voluptates, nam. Alias, dolor dolorum
          deserunt
          quas ullam officiis magni ipsam laboriosam minus mollitia nisi perspiciatis adipisci ducimus, iusto corporis
          fugit voluptas temporibus tenetur distinctio in eveniet? Cupiditate, nesciunt alias. Aliquid saepe
          doloremque
          commodi, asperiores molestias voluptatum debitis. Placeat dicta magnam id voluptate ducimus consectetur
          quasi
          quibusdam culpa sapiente cum ex tenetur tempora expedita, ipsum animi accusantium voluptas provident harum
          veniam quo maiores hic minus officiis. Repudiandae quia aliquam omnis porro tempore suscipit dolorem
          nesciunt
          accusamus, deleniti est obcaecati facere similique natus repellendus qui labore ab architecto illo expedita
          veritatis vitae quae. Numquam, error!
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-w button button--orange button--icon-right">
          <span class="button__txt">
            Detaya Git
          </span>
          <span class="button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>