<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../partials/header.html') %>
  </header>
  <%= require('html-loader!../partials/header-popups.html') %>

  <div class="subheader subheader--exam">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-3 yellow"></div>
        <div class="main-shape tr-1 shape xs-3 orange"></div>
      </div>
    </div>
    <div class="container">
      <div class="subheader__wrp">
        <h1 class="main-title mb-30">
          Uyumluluk
          <span class="main-title__in orange">
            Testi
          </span>
        </h1>
        <p class="main-txt main-txt--lg">
          Tıpkı her cihazın farklı donanım özelliklerine sahip olması gibi web tarayıcılarının da farklı özellikleri
          vardır ve her kullanıcı bu farklar nedeni ile bir tarayıcıyı diğerine tercih edebilir.
        </p>
        <div class="is-compatibility">
          <span class="is-compatibility__icon">
            ⚠️
          </span>
          <div class="is-compatibility__title">
            Web Tarayıcınız <span class="colored-orange">Güncel Değildir!</span>
          </div>
          <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
            <span class="uk-button__txt">
              Tarayıcımı Güncelle
            </span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subheader-other">
  </div>
  <section class="section section--compatibility">
    <div class="container container--w">
      <div class="compatibility__wrp">
        <div class="compatibility__item">
          <h4 class="compatibility__title">Tarayıcı</h4>
          <div class="compatibility__browser">
            <span class="compatibility__browser-icon">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/chrome_logo.svg" alt="">
            </span>
            <div class="compatibility__browser-cnt">
              <span class="compatibility__browser-title">Google Chrome</span>
              <span class="compatibility__browser-version">Version: 84.0.4147.89</span>
            </div>
          </div>
        </div>
        <div class="compatibility__item notsupport">
          <h4 class="compatibility__title">Tarayıcı</h4>
          <div class="compatibility__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-times"></use>
              </svg>
            </span>
          </div>
        </div>
        <div class="compatibility__item support">
          <h4 class="compatibility__title">Flash Desteği</h4>
          <div class="compatibility__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-check"></use>
              </svg>
            </span>
          </div>
        </div>
        <div class="compatibility__item support">
          <h4 class="compatibility__title">Video Desteği</h4>
          <div class="compatibility__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-check"></use>
              </svg>
            </span>
          </div>
        </div>
        <div class="compatibility__item notsupport">
          <h4 class="compatibility__title">SVG Desteği</h4>
          <div class="compatibility__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-times"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader!../partials/footer-banner.html') %>
  <%= require('html-loader!../partials/footer.html') %>
  <%= require('html-loader!../partials/scripts.html') %>
</body>

</html>