.about-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 200px;

  &--teacher {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 100px;
    margin-top: 0;

    .about-info {
      &__img {
        &-info {
          &-hand {
            position: absolute;
            right: -125px;
            bottom: -50px;
            width: 100% !important;
          }

          &.top {
            left: auto;
            right: 18%;
            top: 10%;
          }

          &.right {
            right: auto;
            left: -100px;
          }
        }
      }

      &__right {
        margin-left: 0;
        width: 50%;
        margin-right: 5%;
      }
    }
  }

  &__left {
    width: 40%;

    .main-txt {
      max-width: 85%;
      width: 100%;
    }
  }

  &__right {
    width: calc(50% - 100px);
    margin-left: 10%;
  }

  &__card {
    background: $colorYellowSoft;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 25px 40px;

    &:hover {
      .about-info__card-btn {
        span {
          transform: translateX(10px);
        }
      }
    }

    &:first-child {
      margin-top: 120px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-wrp {
      display: flex;
      flex-direction: column;
    }

    &-title {
      p {
        line-height: 1em;
      }
    }

    &-btn {
      color: $colorOrange900;
      font-weight: 500;
      font-size: 20px;
      display: flex;
      align-items: center;

      span {
        margin-left: 15px;
        flex-shrink: 0;
        margin-top: 1px;
        transition: $transition;
      }
    }
  }

  &__img {
    position: relative;
    background: #FFFBF7;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 40px 40px -18px rgba(#B56529, 0.28);
    -moz-box-shadow: 0px 40px 40px -18px rgba(#B56529, 0.28);
    box-shadow: 0px 40px 40px -18px rgba(#B56529, 0.28);

    &-info {
      position: absolute;
      -webkit-box-shadow: 0px 40px 40px -18px rgba(#B56529, 0.3);
      -moz-box-shadow: 0px 40px 40px -18px rgba(#B56529, 0.3);
      box-shadow: 0px 40px 40px -18px rgba(#B56529, 0.3);

      &-leftimg {
        position: absolute;
        left: -100px;
        bottom: 80px;
        border-radius: 50%;
        width: 50px;
      }

      &.top {
        top: 0;
        left: 18%;
        transform: translateY(-50%);
        width: 170px;
        height: auto;
        padding: 25px 20px;
        background: $colorYellowSoft;
        border-radius: 25px;
        text-align: center;

        img {
          width: 80%;
          margin-bottom: 20px;
        }

        span {
          font-size: 16px;
          color: $colorTextDark;
          font-weight: 500;
        }

        p {
          margin-bottom: 0;
          font-size: 13px;
          color: $colorTextSoft;
          font-weight: 400;
          margin-top: 15px;
        }
      }

      &.left {
        left: -40px;
        bottom: 35px;
        transform: translateY(-50%);
        width: auto;
        height: auto;
        padding: 20px 30px;
        background: $colorYellowSoft;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        text-align: left;

        img {
          width: 80%;
          margin-bottom: 20px;
        }

        span {
          font-size: 15px;
          color: $colorTextDark;
          font-weight: 500;
        }

        p {
          margin-bottom: 0;
          font-size: 15px;
          color: $colorTextSoft;
          font-weight: 400;
          margin-top: 15px;
        }
      }

      &.right {
        right: -100px;
        bottom: 0;
        transform: translateY(30%);
        width: 320px;
        height: auto;
        padding: 20px 20px;
        background: $colorYellowSoft;
        border-radius: 25px;
        text-align: left;

        img {
          width: 80%;
          margin-bottom: 20px;
        }

        &>div {
          display: flex;
          align-items: center;
          font-size: 20px;
          font-weight: 500;

          &>span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $colorTextDark;
            font-weight: 500;
            background: #fff;
            font-size: 37px;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            margin-right: 15px;
            flex-shrink: 0;
          }
        }

        p {
          margin-bottom: 0;
          font-size: 15px;
          color: $colorTextSoft;
          font-weight: 400;
          margin-top: 15px;
          line-height: 1.3em;
        }
      }
    }

    &-top {
      width: 100%;
      display: flex;
      padding-bottom: 15px;
    }

    &-round {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 10px;
      background: rgba($colorTextSoft, .3);

      &:last-child {
        margin-right: 0;
      }
    }

    &-inner {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.about-content {
  padding-top: 50px;
}

.about-boxes {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

}

.about-box {
  width: 50%;
  padding-right: 100px;
  margin-top: 100px;
  margin-bottom: 50px;

  &:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }

  &:nth-child(1) {
    .about-box__top-icon {
      img {
        filter: drop-shadow(0 7px 0.5rem rgba(#cd8958, 1));
      }
    }
  }

  &:nth-child(2) {
    .about-box__top-icon {
      img {
        filter: drop-shadow(0 2px 0.6rem rgba(#60919a, 0.4));
      }
    }
  }

  &:nth-child(3) {
    .about-box__top-icon {
      img {

        filter: drop-shadow(0 7px 0.5rem rgba(#51626e, 0.8));
      }
    }
  }

  &:nth-child(4) {
    .about-box__top-icon {
      img {

        filter: drop-shadow(0 7px 0.5rem rgba(#ef5e31, 0.6));
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &-icon {
      background: $colorOrangeSoft;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      flex-shrink: 0;
      margin-right: 25px;

      img {
        width: 60%;
      }
    }

    h4 {
      margin-bottom: 0;
    }
  }
}

.section-about {
  &--info {
    margin-top: -175px;

    .main-shape {
      &.tl-1 {
        top: 40%;
        left: -7%;
      }

      &.tr-1 {
        top: 54%;
        right: 38%;
      }

      &.tr-2 {
        top: 15%;
        right: 7%;
      }

      &.br-1 {
        bottom: 27%;
        right: 2%;
      }
    }
  }

  &--boxes {
    .main-shape {
      &.tl-1 {
        top: 14%;
        left: 2%;
      }

      &.tr-1 {
        top: 12%;
        right: 3%;
      }

      &.tl-2 {
        top: 63%;
        left: 0;
      }

      &.tr-2 {
        top: 36%;
        right: 9%;
      }

      &.tr-3 {
        top: 62%;
        right: 9%;
      }

      &.bl-1 {
        bottom: 8%;
        left: -1%;
      }

      &.br-1 {
        bottom: 8%;
        right: -2%;
      }
    }
  }
}