.branches {
  &__wrp {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: calc(100%);
  }

  &__left {
    width: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &.removeLinear {
      &:after {
        opacity: 0;
      }
    }

    &.addLinear {
      .branches__top {
        &:before {
          opacity: 1;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      opacity: 1;
      background-image: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
      pointer-events: none;
      transition: 0.3s;
    }
  }

  &__right {
    width: 100%;
    background: #f6f7f8;
    border-radius: 36px;
    overflow: hidden;
    height: calc(100% - 60px);
    position: relative;
  }

  &__top {
    padding-right: 100px;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 40px;

    &:before {
      content: '';
      position: absolute;
      bottom: -144px;
      left: 0;
      width: calc(100% - 100px);
      height: 60px;
      opacity: 0;
      background-image: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0));
      pointer-events: none;
      transition: 0.3s;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -250px;
      width: calc(100% + 250px);
      height: 1px;
      background: rgba($colorBorder, 0.15);
    }
  }

  &__bottom {
    padding-right: 100px;
    height: 100%;
    overflow-y: auto;

    &:before,
    &:after {
      display: none;
    }
  }

  &__button {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 50px);
    z-index: 1;
    transform: translateX(-50%);

    .uk-button {
      &__icon {
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    padding-bottom: 60px;
  }

  &__subtitle {
    font-weight: 700;
    color: $colorTextSoft;
    font-size: 14px;
    padding-bottom: 30px;
    position: sticky;
    top: 0px;
    background: #fff;
  }

  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    background: $colorYellowSoft;
    margin-bottom: 15px;
    transition: background $transition;
    cursor: pointer;

    &.hiding {
      display: none;
    }

    &.hidden {
      display: none;
    }

    &:hover {
      background: $colorOrange;

      .branches-item {

        &__title,
        &__txt {
          color: #fff;

          span {
            color: $colorYellow;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__icon {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__cnt {
      display: flex;
      flex-direction: column;
    }

    &__title {
      color: $colorOrange900;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 10px;
      transition: $transition2s;
    }

    &__txt {
      color: $colorTextSoft;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      transition: $transition2s;

      span {
        color: $colorOrange900;
        margin-right: 10px;
        font-size: 18px;
        transition: $transition2s;
      }
    }
  }

  &-popup {
    background: #fff;
    border-radius: 25px;
    @include boxShadowMain;
    position: absolute;
    top: 29%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    opacity: 0;
    transition: $transition;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -22px;
      left: calc(50% - 20px);
      transform: translateY(-50%);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
    }

    &__img {
      width: 138.11px;
      height: 138.11px;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 20px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cnt {
      display: flex;
      flex-flow: wrap;
      width: 100%;

      &>div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 400;
        color: $colorTextSoft;

        &>span {
          color: $colorYellow;
          margin-right: 15px;
          flex-shrink: 0;
          font-size: 18px;
        }
      }
    }

    &__title {
      color: $colorOrange900 !important;
      font-weight: 600 !important;
      font-size: 22px !important;
      width: 100%;
    }

    &__phone {
      margin-right: 25px;
    }

    &__mail {
      margin-bottom: 0 !important;
      width: 100%;
    }
  }
}

.section--branch {
  padding-top: 140px;
  padding-bottom: 0;
  height: 100%;
  width: 100%;

  &>div {
    height: 100%;
  }

  .main-shapes {
    .main-shape {
      &.tl-1 {
        top: 18%;
        left: 32%;
      }

      &.tl-2 {
        top: 34%;
        left: -7%;
      }

      &.tl-3 {
        top: 50%;
        left: 36%;
      }

    }
  }
}