.calendar {
  &-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 75px;

    &__subtitle {
      color: rgba($colorTextSoft, .5);
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 30px;
    }

    &__wrp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &__next {
      display: flex;
      align-items: center;
      cursor: pointer;
      outline: none;
      position: absolute;
      top: -220px;
      right: 0;

      &-txt {
        color: $colorTextDark;
        font-weight: 600;
        font-size: 18px;
        transition: $transition2s;
      }

      &-icon {
        margin-left: 20px;
        flex-shrink: 0;
        background: #F6F7F8;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition2s;

        &:after {
          content: '';
          width: 0;
          height: 0;
          position: relative;
          top: 1px;
          left: 1px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 7px solid $colorOrange;
          transition: $transition2s;
        }
      }

      &:hover {
        .calendar-filter__next {
          &-txt {
            color: $colorOrange;
          }

          &-icon {
            background: $colorOrange;

            &:after {
              border-left-color: #fff;
            }
          }
        }
      }
    }

    &__prev {
      display: flex;
      align-items: center;
      cursor: pointer;
      outline: none;
      position: absolute;
      top: -220px;

      &-txt {
        color: $colorTextDark;
        font-weight: 600;
        font-size: 18px;
        transition: $transition2s;
      }

      &-icon {
        margin-right: 20px;
        flex-shrink: 0;
        background: #F6F7F8;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition2s;

        &:after {
          content: '';
          width: 0;
          height: 0;
          position: relative;
          top: 1px;
          right: 1px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 7px solid $colorOrange;
          transition: $transition2s;
        }
      }

      &:hover {
        .calendar-filter__prev {
          &-txt {
            color: $colorOrange;
          }

          &-icon {
            background: $colorOrange;

            &:after {
              border-right-color: #fff;
            }
          }
        }
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 25px;
      height: 55px;
      cursor: pointer;
      margin-right: 20px;
      background: $colorOrangeSoft;
      color: $colorTextSoft;
      border-radius: 15px;
      font-weight: 400;
      font-size: 16px;
      position: relative;
      transition: $transition;

      &:before {
        content: '';
        margin-right: 15px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        position: relative;
        top: 1px;
        border: 1px solid transparent;
      }

      &.active,
      &.uk-active {
        background: $colorOrange800;
        color: #fff;
      }

      &.hepsi {
        &:before {
          display: none;
        }
      }

      &.meb {
        &:before {
          background: rgba(#89D1FD, .75);
        }
      }

      &.resmi-tatil {
        &:before {
          background: rgba(#F2C42C, 1);
        }
      }

      &.sinav {
        &:before {
          background: rgba(#80CC45, 1);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-months {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }

  &-month {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &__top {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &-title {
        color: $colorOrange900;
        font-weight: 500;
        font-size: 34px;
        margin-bottom: 15px;
      }

      &-year {
        color: $colorTextSoft;
        font-weight: 400;
        font-size: 16px;
      }
    }

    &__events {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      background: $colorYellowSoft;
      padding: 30px 30px 16px 20px;
      border-radius: 22px;
      margin-bottom: 20px;
      transition: $transition;
      opacity: 1;
      height: auto;
      overflow: hidden;

      &.js-added-notfound {
        padding-bottom: 30px;
      }

      &.disabled {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-left {
        width: 70px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 15px 20px;
        flex-shrink: 0;
        background: #fff;
        border-radius: 15px;
      }

      &-day {
        color: $colorTextDark;
        font-weight: 500;
        font-size: 17px;
      }

      &-daynum {
        color: $colorOrange900;
        font-weight: 600;
        font-size: 32px;
        margin-top: 8px;
      }

      &-cnt {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &-event {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba($colorBorder, .35);
        margin-bottom: 20px;
        padding-bottom: 14px;

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 14px;
        }

        &.showed {
          opacity: 1;
        }


        &.disabled {
          opacity: 0;
          height: 0;
          overflow: hidden;
          padding-bottom: 0;
          margin-bottom: 0;
          pointer-events: none;
        }

        &.no-border {
          margin-bottom: 0;
          border-bottom: none;
        }

        &.resmitatil {
          .calendar-month__item {
            &-tag {
              background: #F2C42C;
            }
          }
        }

        &.meb {
          .calendar-month__item {
            &-tag {
              background: #89D1FF;
            }
          }
        }

        &.sinav {
          .calendar-month__item {
            &-tag {
              background: #80CC45;
            }
          }
        }
      }

      &-wrp {
        display: flex;
        flex-direction: column;
      }

      &-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        height: 32px;
        border-radius: 12px;
        padding: 0 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
      }

      &-txt {

        ul,
        li {
          margin: 0;
          padding: 0;
        }

        li {
          list-style: none;
          color: $colorTextSoft;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.6em;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-icon {
        font-size: 35px;
        flex-shrink: 0;
        margin-left: 20px;
      }
    }
  }
}

.section {
  &--calendar {
    z-index: 3;

    .swiper-container {
      overflow: initial;

      .uk-slider-items {
        overflow: initial;
      }
    }
  }
}