.checkout {
  padding-top: 150px;
  padding-bottom: 50px;

  &-steps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;

    &:before {
      content: '';
      position: absolute;
      top: calc(65px / 2);
      left: 0;
      width: calc(100% - 25px);
      height: 5px;
      background: #fff;
      z-index: -1;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.active {
        .checkout-steps {
          &__icon {
            background: $colorOrange800;
            color: #fff;
          }

          &__txt {
            color: $colorOrange800;
          }
        }
      }
    }

    &__icon {
      width: 65px;
      height: 65px;
      border-radius: 17px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      color: rgba($colorOrange800, .5);
      border: 5px solid #fff;
    }

    &__txt {
      margin-top: 15px;
      color: $colorTextDark;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &-back {
    margin-top: 40px;
    display: flex;
    align-items: center;

    &:hover {
      .uk-button__icon {
        left: -15px;
      }
    }

    .uk-button {

      &__icon {
        position: relative;
        color: $colorOrange;
        transition: $transition;
        left: 0;

        svg {
          transform: rotate(180deg);
          margin-right: 25px;
        }
      }

      &__txt {
        color: $colorOrange;
      }
    }
  }

  &-wrp {
    display: flex;
    width: 100%;
  }

  &-left {
    width: 100%;
  }

  &-right {
    width: 500px;
    margin-left: 50px;
    flex-shrink: 0;
  }

  &-content {
    background: #fff;
    border-radius: 30px;
    padding: 40px 30px !important;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .accordion {
      &.active {
        .accordion-header__icon {
          background: $colorOrange;

          &:before,
          &:after {
            background: #fff;
          }
        }
      }
    }

    .accordion-header__txt {
      font-size: 20px;
    }


    &:last-child {
      margin-bottom: 0;
    }
  }

  &-basket {
    background: #fff;
    border-radius: 30px;
    padding: 40px 25px;

    &__title {
      color: $colorOrange;
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 40px;
    }

    .checkout-item {
      &s {
        border-bottom: 1px solid rgba($colorBorder, .35);
        margin-bottom: 30px;
        padding-bottom: 30px;

        .checkout-item {
          padding: 0;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }

          &__price {
            &-num {
              font-size: 26px;
            }

            &-info {
              margin-top: 7.5px;
            }
          }
        }
      }
    }

    &.checkout-final {
      .checkout {
        &-item {
          border-bottom: 1px solid rgba($colorBorder, .35);
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-radius: 0;

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }

          &s {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
    }

    &__totally {
      display: flex;
      flex-direction: column-reverse;

      &-item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        &:first-child {
          margin-bottom: 0;
        }
      }

      &-txt {
        font-size: 18px;
        font-weight: 400;
        color: $colorTextSoft;
      }

      &-price {
        font-size: 28px;
        font-weight: 500;
        color: $colorTextDark;
        margin-left: auto;
      }
    }
  }

  &-subtitle {
    color: $colorTextDark;
    font-weight: 500;
    font-size: 20px;
  }

  &-item {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-bottom: 15px;
    opacity: 1;
    transition: $transition;

    &.deleting {
      opacity: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &s {
      display: flex;
      flex-direction: column;

      .checkout-item {
        padding: 30px;
        border-radius: 30px;
        background: #fff;
      }
    }

    &__img {
      width: 60px;
      height: 75px;
      border-radius: 13px;
      background: $colorOrange;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      flex-shrink: 0;
      margin-right: 20px;
      overflow: hidden;

      &-num {
        font-size: 27px;
        font-weight: 500;
      }

      &-txt {
        font-size: 14px;
        font-weight: 400;
        margin-top: 8px;
        text-transform: uppercase;
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cnt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: auto;
    }

    &__title {
      font-size: 20px;
      font-weight: 500;
      color: $colorTextDark;
      text-transform: capitalize;
    }

    &__txt {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 15px;
      margin-top: 10px;
    }

    &__right {
      display: flex;
      align-items: center;
    }

    &__count {
      margin-right: 25px;
    }

    &__price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-num {
        font-size: 32px;
        font-weight: 500;
        color: $colorTextDark;
      }

      &-info {
        margin-top: 15px;
        color: $colorTextSoft;
        font-size: 15px;
        font-weight: 400;

        span {
          color: $colorTextDark;
        }
      }
    }

    &__remove {
      background: $colorYellowSoft;
      border-radius: 13px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      color: $colorOrange;
      cursor: pointer;
      transition: $transition2s;
      flex-shrink: 0;
      margin-left: 20px;

      &:hover {
        background: $colorOrange;
        color: #fff;
      }
    }
  }

  &-coupon {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    transition: $transition;

    &.active {
      width: calc(20%);

      .loading-container {
        opacity: 1;
        pointer-events: all;
      }

      .checkout-coupon {
        &__input {
          opacity: 0;
        }

        &__icon {
          display: none;
        }
      }
    }

    &.result {
      .checkout-coupon__result {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__result {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 30px;
      z-index: 4;
      font-weight: 600;
      font-size: 16px;
      color: $colorTextDark;
      font-weight: 500;
      opacity: 0;
      pointer-events: none;
      transition: all .5s;
      border-radius: 30px;
    }

    &__input {
      height: 60px;
      width: 100%;
      border: none;
      padding-left: 20px;
      font-weight: 500;
      color: $colorTextDark;
      font-size: 18px;
      outline: none;

      &::placeholder {
        color: $colorTextSoft;
        font-weight: 400;
      }
    }

    &__icon {
      background: $colorYellowSoft;
      border-radius: 15px;
      width: 55px;
      height: 55px;
      position: relative;
      flex-shrink: 0;
      transition: $transition;
      margin-left: 25px;
      cursor: pointer;

      &:hover {
        background: $colorOrange;

        &:before,
        &:after {
          background: #fff;
        }
      }


      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $colorOrange;
        border-radius: 10px;
        transition: $transition;
      }

      &:before {
        height: 20px;
        width: 3px;
      }

      &:after {
        height: 3px;
        width: 20px;
      }
    }
  }

  &-next {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &-basket-next {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    align-items: center;

    &__price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 30px;

      &>span {
        color: $colorTextSoft;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
      }

      &>div {
        color: $colorTextDark;
        font-weight: 500;
        font-size: 36px;
      }
    }

    .uk-button {
      text-transform: uppercase;
    }
  }

  &-tab {
    &-header {
      padding: 0 !important;

      .sss-tab {
        &-header {
          &__wrp {
            max-width: 100%;
            background: #fff;
          }
        }
      }
    }
  }

  &-transfer {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba($colorBorder, .35);

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &>label {
        width: calc(100% - 50px - 50px);
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__img {
      width: 160px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__title {
      color: $colorTextDark;
      font-weight: 600;
      font-size: 17px;
    }

    &__txt {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 16px;
      margin-top: 10px;
    }

    &__copy {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 12px;
      background: $colorOrangeSoft;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $colorOrange !important;
      cursor: pointer;
      font-size: 20px;
      margin-left: 50px;
    }
  }

  &-paymentmobile {
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #F6F7F8;
      border-radius: 22px;
      padding: 15px 30px;

      &-item {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      &-title {
        color: $colorTextDark;
        font-weight: 600;
        font-size: 18px;
      }

      &-txt {
        color: $colorTextSoft;
        font-weight: 400;
        font-size: 16px;
      }

      &-arrow {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: $colorOrange;
        font-size: 14px;
      }
    }

    &__wrp {
      margin-top: 30px;

      p {
        font-size: 17px;
        color: $colorTextSoft;
        font-weight: 400;
        line-height: 1.6em;
        margin-bottom: 0;
      }

      strong {
        font-weight: 500;
        color: $colorTextSoft;
        font-size: 17px;
        line-height: 1.6em;
      }
    }

    &__button {
      background: $colorYellowSoft;
      padding: 10px 15px;
      padding-right: 35px;
      display: flex;
      align-items: center;
      width: max-content;
      border-radius: 22px;
      font-weight: 400;
      transition: $transition;
      cursor: pointer;
      margin-top: 30px;

      &:hover {
        background: $colorOrange;
        @include boxShadowOrange;

        &>span {
          &:last-child {
            color: #fff;
          }
        }
      }

      &>span {
        &:first-child {
          background: #fff;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          margin-right: 25px;
          color: $colorOrange;
        }

        &:last-child {
          color: $colorTextSoft;
          transition: $transition2s;
        }
      }
    }
  }

  &-phone-required {
    &__top {
      font-weight: 500;
      color: $colorTextDark;
      font-size: 20px;
      line-height: 1em;
    }

    &__cnt {
      margin-top: 30px;
      position: relative;
      height: 68px;
    }

    &__in {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: $transition;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.in1 {
        transform: translateX(-100%);
      }

      &.in2 {
        transform: translateX(100%);
      }

      &.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      .uk-button {
        width: 200px;
        flex-shrink: 0;
        margin-left: 20px;
      }
    }
  }

  &-final {
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .checkout-next {
        width: 350px;
      }

      .checkout-back {
        margin-top: 0;
      }
    }
  }
}