.is-compatibility {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    font-size: 50px;
    @include boxShadowLg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: $colorTextDark;
    margin-bottom: 30px;
  }
}

.compatibility {
  &__wrp {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    width: 100%;
    background: $colorOrangeSoft;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 20px;

    &.notsupport {
      .compatibility__icon {
        color: #ED4338;
      }
    }

    &.support {
      .compatibility__icon {
        color: #80CC45;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__browser {
    display: flex;
    align-items: center;

    &-icon {
      width: 35px;
      height: 35px;
      flex-shrink: 0;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-cnt {
      display: flex;
      flex-direction: column;
    }

    &-title {
      color: $colorTextDark;
      font-weight: 500;
      font-size: 18px;
    }

    &-version {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 13px;
      margin-top: 10px;
    }
  }

  &__title {
    color: $colorOrange900;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #fff;
    font-size: 14px;
  }
}