.voice {
	&__wrp {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 109px;
	}

	&__emoji {
		transform: rotate(-20deg) scale(4);
		margin-bottom: 50px;
	}

	&__btn {
		background: $colorOrange800;
		@include boxShadowOrange;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: relative;
		transition: $transition;
		cursor: pointer;

		.played {
			opacity: 1;
		}

		&.playing {
			.played {
				opacity: 0;
			}

			.paused {
				opacity: 1;
			}
		}

		&.stopping {
			.paused {
				opacity: 0;
			}

			.played {
				opacity: 1;
			}
		}


		&-icon {
			position: absolute;
			top: 50%;
			left: calc(50% + 2px);
			transform: translate(-50%, -50%);
			font-size: 30px;
			color: #fff;
			transition: $transition2s;
			opacity: 0;
		}

		&:hover {
			background: rgb(221, 107, 26);

			.video__btn {
				&-icon {
					color: #fff;
				}
			}
		}
	}

	&__equalizer {
		$animation-name: 'pump-it-up';
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;

		#levels {
			width: 100%;
			height: 40px;
			margin: 0 auto;
			position: relative;
			display: flex;
			justify-content: space-around;

			.level {
				width: 5px;
				height: 40px;
				display: inline-block;
				position: relative;
				margin-left: 5px;

				&:first-child {
					margin-left: 0;
				}

				&:after {
					content: ' ';
					position: absolute;
					bottom: 0;
					left: 0;
					background: #fff;
					width: 5px;
					border-radius: 25px 25px 0 0;
				}

				@mixin keyframes($animationName) {
					@-webkit-keyframes #{$animationName} {
						@content;
					}

					@-moz-keyframes #{$animationName} {
						@content;
					}

					@-o-keyframes #{$animationName} {
						@content;
					}

					@keyframes #{$animationName} {
						@content;
					}
				}


				@for $i from 1 through 4 {
					@include keyframes(#{$animation-name+$i}) {
						20% {}

						40% {
							height: random(50) + px;
						}

						60% {
							height: random(50) + px;
						}

						80% {
							height: random(50) + px;
						}

						100% {
							height: random(50) + px;
						}
					}
				}

				@for $i from 1 through 4 {
					&.level#{$i}:after {
						height: random(40) + px;
						animation: #{$animation-name+$i} 700+random(1200)+ms linear infinite alternate;
					}
				}
			}
		}

		&.stopped {
			opacity: 1;

			.level {
				&:after {
					animation-play-state: paused !important;
				}
			}
		}
	}

}

.main {
	&-shapes {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;

		&>div {
			height: 100%;
			position: relative;
			pointer-events: none;
		}
	}

	&-shape {
		position: absolute;

		&.shape-img {
			z-index: 1;

			img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: #fff;
				border-radius: 50%;
				@include boxShadowLg;
			}

			&.b-l {
				bottom: 35%;
				left: 0;

				&-2 {
					bottom: 20%;
					left: 24%;
				}
			}

			&.t-l {
				top: 0%;
				left: 18%;
			}

			&.t-r {
				top: 7%;
				right: 13%;

				&-2 {
					top: 40%;
					right: 0;
				}
			}

			&.b-r {
				bottom: 20%;
				right: 18%;
			}

			&.lg {
				width: 121px;
				height: 121px;
			}

			&.md {
				width: 101px;
				height: 101px;
			}
		}

		&.shape-icon {
			z-index: 1;

			&.lg {
				width: 140px;
				height: 140px;
				padding: 32px;
			}

			&.md {
				width: 120px;
				height: 120px;
				padding: 22px;
			}

			&.sm {
				width: 90px;
				height: 90px;
				padding: 20px;
			}

			&.b-l {
				bottom: 35%;
				left: 0;
			}

			&.t-l {
				top: 21%;
				left: 15%;
			}

			&.t-r {
				top: 25%;
				right: 5%;
			}

			&.b-r {
				bottom: 35%;
				right: 15%;
			}

			&.pink {
				img {
					filter: drop-shadow(0 6px 0.4rem rgba(#fd74a2, 0.6));
				}
			}

			&.darkblue {
				img {
					filter: drop-shadow(0 6px 0.4rem rgba(#2F73A0, 0.6));
				}
			}

			&.black {
				img {
					filter: drop-shadow(0 6px 0.4rem rgba(#302F52, 0.6));
				}
			}

			&.orange {
				img {
					filter: drop-shadow(0 6px 0.4rem rgba($colorOrange, 0.6));
				}
			}

			&.green {
				img {
					filter: drop-shadow(0 6px 0.4rem rgba(#14936b, 0.6));
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: #fff;
				border-radius: 35px;
				transform: rotate(45deg);
				@include boxShadowLgRotate;
			}
		}

		&.shape {
			z-index: 1;
			border-radius: 50%;

			&.xs {
				width: 16px;
				height: 16px;
			}

			&.xs-2 {
				width: 23px;
				height: 23px;
			}

			&.xs-3 {
				width: 36px;
				height: 36px;
			}

			&.xs-4 {
				width: 52px;
				height: 52px;
			}

			&.tl-1 {
				top: 17%;
				left: 22%;
			}

			&.tl-2 {
				top: 38%;
				left: 5%;
			}

			&.tl-3 {
				top: 50%;
				left: 20%;
			}

			&.tr-1 {
				top: 16%;
				right: 23%;
			}

			&.tr-2 {
				top: 42%;
				right: 23%;
			}

			&.tr-3 {
				top: 42%;
				right: 0%;
			}

			&.br-1 {
				bottom: 28%;
				right: 3%;
			}

			&.yellow {
				background: rgba($colorYellow, 0.5);
			}

			&.blue {
				background: rgba(#89d1ff, 0.5);
			}

			&.orange {
				background: rgba(#ff9545, 0.5);
			}

			&.pink {
				background: rgba(#ff4181, 0.5);
			}

			&.green {
				background: rgba(#80cc45, 0.5);
			}
		}
	}
}

.home {
	&-infos {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;

		&--reverse {
			.home-info {
				&__icon {
					background: #fff;
				}
			}
		}
	}

	&-info {
		width: 100%;
		padding: 0 20px;
		display: flex;
		align-items: center;
		flex-direction: column;

		&:nth-child(1) {
			.home-info__icon {
				img {
					filter: drop-shadow(0 7px 0.5rem rgba(#51626e, 0.8));
				}
			}
		}

		&:nth-child(2) {
			.home-info__icon {
				img {
					filter: drop-shadow(0 7px 0.5rem rgba(#ef5e31, 0.6));
				}
			}
		}

		&:nth-child(3) {
			.home-info__icon {
				img {
					filter: drop-shadow(0 7px 0.5rem rgba(#cd8958, 1));
				}
			}
		}

		&:nth-child(4) {
			.home-info__icon {
				img {
					filter: drop-shadow(0 2px 0.6rem rgba(#60919a, 0.4));
				}
			}
		}

		img {
			width: 70px;
		}

		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 130px;
			height: 130px;
			border-radius: 32px;
			background: $colorOrangeSoft;
		}

		&__txt {
			display: flex;
			align-items: center;
			flex-direction: column;
			font-weight: 500;
			margin-top: 25px;
			font-size: 23px;

			span {
				margin-top: 10px;
				color: $colorOrange;
			}
		}
	}

	&-content {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 100px;

		&--reverse {
			flex-direction: row-reverse;
			padding-top: 50px;

			.home-left {
				justify-content: flex-start;
			}
		}
	}

	&__cnt {
		display: flex;
		flex-direction: column;
	}

	&-left,
	&-right {
		width: 50%;
		display: flex;
		justify-content: center;

		img {
			width: 100%;
			padding: 50px;
		}
	}

	&-right {
		&.fs {
			justify-content: flex-start;
		}
	}

	&-classes {
		width: 90%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;

		&__title {
			font-size: 20px;
			font-weight: 500;
			color: $colorTextDark;
			margin-bottom: 50px;

			span {
				color: $colorOrange;
			}
		}
	}

	&-tags {
		width: 65%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}
}

.section {
	&-voice {
		margin-top: 100px;

		.main-shape {
			&.tl-2 {
				top: 8%;
				left: 2%;
			}

			&.tr-1 {
				top: 17%;
				right: 6%;
			}

			&.br-1 {
				bottom: 26%;
				right: 9%;
			}
		}
	}

	&-index-info-student {
		.main-shape {
			&.tl-1 {
				top: 13%;
				left: -5%;
			}

			&.tl-2 {
				top: 35%;
				left: 14%;
			}

			&.tr-1 {
				top: 32%;
				right: 24%;
			}

			&.tr-2 {
				top: 40%;
				right: 5%;
			}

			&.bl-1 {
				bottom: 35%;
				left: -5%;
			}

			&.bl-2 {
				bottom: 5%;
				left: 12%;
			}

			&.br-1 {
				bottom: 40%;
				right: 6%;
			}

			&.br-2 {
				bottom: 31%;
				right: 0%;
			}

			&.br-3 {
				bottom: 26%;
				right: 3%;
			}
		}
	}

	&-index-info-teacher {
		.main-shape {
			&.tl-1 {
				top: 10%;
				left: 49%;
			}

			&.tr-1 {
				top: 50%;
				right: 0%;
			}

			&.br-1 {
				bottom: 5%;
				right: 35%;
			}

			&.bl-1 {
				bottom: 20%;
				left: -5%;
			}
		}
	}
}

.section {

	&--teacher-1 {
		padding: 0;

		.main-shape {
			&.tl-1 {
				top: 60%;
				left: -13%;
			}

			&.tr-1 {

				top: 55%;
				right: -5%;

			}
		}
	}

	&--teacher-3 {
		.main-shape {
			&.tl-1 {
				top: 50%;
				left: -13%;
			}

			&.tl-2 {
				top: 8%;
				left: 45%;
			}

			&.tr-1 {
				top: 56%;
				right: -5%;
			}
		}
	}

	&-product-1 {
		.main-shape {
			&.tr-1 {
				top: 40%;
				right: -5%;
			}
		}
	}

	&-product-2,
	&-product-4,
	&-product-6 {
		.main-shape {
			&.tl-1 {
				top: 20%;
				left: -5%;
			}

			&.tr-1 {
				top: auto;
				bottom: 30%;
				right: -5%;
			}
		}
	}

	&-product-3,
	&-product-5,
	&-product-7 {
		.main-shape {
			&.tl-1 {
				top: 70%;
				left: -10%;
			}

			&.tr-1 {
				top: auto;
				bottom: 70%;
				right: -5%;
			}
		}
	}

	&-product-slider {
		.main-shape {
			&.tr-1 {
				top: 10%;
				right: -1%;
			}
		}
	}
}