.main-product {
  padding-top: calc(120px + 20px);

  &__item {
    width: 100%;
    padding: 0 75px;
    background: rgba(#fff, .8);
    border-radius: 50px;
    display: flex;
  }

  &__left {
    border-right: 1px solid rgba($colorBorder, .4);
    padding: 50px 0;
    padding-right: 75px;
    margin-right: 75px;
    flex-shrink: 0;
    width: 450px;
    display: flex;
    align-items: center;
  }

  &__img {
    width: 100%;
    max-height: 85%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    @include boxShadowMain;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    width: 100%;
    padding: 75px 0;
  }

  &__title {
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0;
  }

  &__packages {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  &__package {
    display: flex;
    margin-right: 10px;
    width: calc(50% - 10px);
    background: $colorYellowSoft;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: $transition;
    margin-top: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &.active {
      .main-product__package {
        &-month {
          color: #fff;
          background: $colorOrange;
        }
      }
    }

    &-month {
      color: $colorOrange;
      font-size: 21px;
      font-weight: 600;
      letter-spacing: -0.23px;
      border-radius: 15px;
      background: #fff;
      padding: 15px 20px;
      margin-right: 20px;
      flex-shrink: 0;
      transition: $transition;
    }

    &-cnt {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-price {
      font-size: 26px;
      font-weight: 500;
      letter-spacing: -0.28px;
      color: $colorTextDark;
    }

    &-txt {
      color: $colorTextSoft;
      font-weight: 500;
      letter-spacing: -0.16px;
      margin-top: 10px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;

    &.with-teacher {
      .uk-button {
        width: 50%;
        max-width: 50%;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;

    &-price {
      font-weight: 500;
      font-size: 38px;
      color: $colorTextDark;
      letter-spacing: -0.42px;
    }
  }

  &__btn {
    max-width: 40%;
    height: 70px;
    width: 100%;
    margin-left: 25px;

    .uk-button {
      &__txt {
        font-size: 20px;
        font-weight: 400;
      }

      &__icon {
        font-size: 26px;
      }
    }
  }

  &__product-features {
    &-wrp {
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 70px;
      position: relative;

      &>div {
        width: 50%;

        &:first-child {
          padding-right: 100px;
        }
      }
    }

    &-video {
      width: 100%;
      height: 600px;
      border-radius: 50px;
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($colorTextDark, .4);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.main-product-tab {
  &-header {
    margin-top: 30px;
    margin-bottom: 30px;

    .sss-tab-header {
      &__wrp {
        background: #fff;
        max-width: 100%;
      }

      &__item {
        .uk-button__txt {
          color: rgba($colorTextDark, .4);
          font-size: 18px;
          font-weight: 600;
        }

        &:hover {
          .uk-button__txt {
            color: $colorTextDark;
          }
        }

        &.active {
          .uk-button__txt {
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }
  }

  &-outer {
    border-bottom: 1px solid rgba($colorBorder, .35);
    padding-bottom: 100px;
  }

  width: 100%;
  padding: 50px 75px;
  background: rgba(#fff, .8);
  border-radius: 50px;
  display: flex;

}