.product-list {
  &-featured {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img {
      width: calc(40% - 50px);
      border-radius: 22px;
      border: 10px solid $colorOrangeSoft;
      overflow: hidden;
      position: relative;
      @include boxShadowDark;

      &.with-product {
        border: none;
        background: $colorOrangeSoft;
        @include boxShadowNone;
      }

      .main-tag {
        position: absolute;
        top: 25px;
        left: 25px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cnt {
      width: calc(60% - 50px);

      .main-title {
        font-weight: 500;
        line-height: 1.3em;
      }
    }

    &__product {
      padding: 35px;
      display: block;

      &-img {
        max-width: 65%;
        margin: 0 auto 50px auto;
        border-radius: 30px;
        border: 8px solid $colorOrangeSoft;
        overflow: hidden;
        position: relative;
        @include boxShadowDark;
      }
    }
  }

  &-wrp {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
  }

  &-item {
    width: calc(33.333% - 20px);
    margin-left: 20px;
    background: $colorYellowSoft;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-left: 0;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }

    &__top {
      display: flex;
      flex-direction: column;
      padding-bottom: 25px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba($colorBorder, .3);
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
      color: $colorOrange;
      margin-bottom: 10px;
    }

    &__txt {
      font-size: 17px;
      font-weight: 400;
      letter-spacing: -0.22px;
      color: $colorTextSoft;
      margin-bottom: 0;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .uk-button {
        width: 130px;
      }
    }

    &__price {
      font-weight: 500;
      color: $colorTextDark;
      letter-spacing: -0.22px;
      font-size: 30px;
    }
  }
}