.quality-standart {
  &-box {
    width: 100%;
    background: $colorYellowSoft;
    border-radius: 50px;
    display: flex;
    padding: 100px;
    margin-bottom: 75px;

    &:last-child {
      margin-bottom: 0;
    }

    &__left {
      width: 40%;
      padding-right: 200px;
    }

    &__img {
      width: 150px;
      height: 150px;
      background: #fff;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;

    }

    &__right {
      width: 60%;
      padding-right: 200px;
    }
  }
}

.section {
  &--quality-standart {
    .main-shapes {
      .main-shape {
        &.tl-1 {
          top: 26%;
          left: -5%;
        }

        &.tl-2 {
          top: 51%;
          left: -4%;
        }

        &.br-1 {
          bottom: 30%;
          right: 0.4%;
        }
      }
    }
  }
}