.search-result {
  &__wrp {
    max-width: 850px;
    margin: 0 auto;
  }

  &-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($colorBorder, .35);
    padding-bottom: 35px;
    margin-bottom: 35px;

    &__img {
      width: 67px;
      height: 87px;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 25px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cnt {
      display: flex;
      flex-direction: column;
    }

    &__title {
      color: $colorTextDark;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 0;
    }

    &__txt {
      font-size: 17px;
      font-weight: 400;
      color: $colorTextSoft;
      margin-top: 15px;
    }

    &__price {
      margin-left: auto;
      font-size: 28px;
      font-weight: 500;
      color: $colorTextDark;
    }
  }

  &-blog {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($colorBorder, .35);
    padding-bottom: 50px;
    margin-bottom: 50px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    &__img {
      width: 165px;
      height: 165px;
      border-radius: 25px;
      overflow: hidden;
      margin-right: 45px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .main-tag {
      min-height: 50px;
      padding-left: 25px;
      padding-right: 25px;

      &__txt {
        color: $colorOrange900;
        font-weight: 400;
      }

      &s {
        margin-bottom: 20px;
      }
    }

    &__title {
      color: $colorTextDark;
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 0;
    }

    &__txt {
      margin-top: 15px;
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.6em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}

.section {
  &--search-result {
    padding-top: 75px;
  }
}