.section {
  &--simple {
    background: $colorYellowSoft;
    height: 100%;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;

    &>div {
      height: 100%;
    }

    &__centered {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &>div {
        height: auto;
      }
    }
  }
}

.simple {
  &__505 {
    width: 620px;
  }

  &-wrp {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &.m-w-500 {
      max-width: 500px;
      width: 100%;
      margin: 0 auto
    }

    img {
      width: 100%;
    }
  }

  &-left {
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;


    img {
      width: 100%;
    }

    &__wrp {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      flex-direction: column;
    }

    &__logo {
      width: 170px;
      margin-bottom: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-right {
    width: 50%;
    padding-left: 50px;

    &__wrp {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }

  &-form {
    width: 100%;
    background: #fff;
    border-radius: 35px;
    // padding: 75px;
    // padding-bottom: 40px;
    position: relative;
    overflow: hidden;
    transition: $transition;

    .main-title {
      // padding: 75px;
      padding-bottom: 0;
    }

    &__other-login {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      margin-top: 40px;
      display: block;
      transition: $transition2s;

      &-dark {
        border-top: 1px solid rgba($colorBorder, .35);
        padding-top: 30px;
        color: $colorTextDark;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        display: block;
        transition: $transition2s;

        &:hover {
          color: $colorOrange;
        }
      }

      &:hover {
        color: $colorTextDark;
      }
    }
  }
}