.sss {
  &-tab {
    &-header {
      width: 100%;
      display: flex;
      justify-content: center;

      &--yellow {
        .sss-tab-header {
          &__wrp {
            background: $colorYellowSoft;
            max-width: 850px;

            .vertical-magic-line-tab {
              background: $colorYellow;
            }
          }
        }
      }

      &--big {
        .sss-tab-header {
          &__wrp {
            max-width: 1100px;
          }
        }
      }

      &__wrp {
        max-width: 550px;
        width: 100%;
        background: $colorOrangeSoft;
        border-radius: 25px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;

        .vertical-magic-line-tab {
          background: $colorOrange;
          border-radius: 20px;
        }
      }

      &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.active {
          .uk-button__txt {
            color: #fff;
          }
        }

        .uk-button__icon {
          margin-right: 20px;
          font-size: 40px;
        }

        .uk-button__txt {
          font-size: 18px;
          font-weight: 500;
          color: $colorTextDark;
        }
      }
    }

    &__wrp {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__item {
      width: 100%;
      opacity: 1;
      animation: filteredOpacity $transition alternate forwards;

      &.filtering {
        animation: filteringOpacity $transition alternate forwards;
      }

      &.filtered {
        display: none;
      }

      @keyframes filteringOpacity {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }

      @keyframes filteredOpacity {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      .hiding {
        opacity: 0.5;
      }

      .hidden {
        display: none;
      }
    }
  }

  &-wrp {
    display: flex;
    margin-bottom: 150px;

    &.disabled,
    &.disable {
      display: none;
    }
  }

  &-left {
    width: 300px;
    flex-shrink: 0;
    position: relative;
    margin-right: 100px;
  }

  &-right {
    width: 100%;
  }

  &-main-title {
    color: $colorOrange;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.6em;
    position: sticky;
    top: 25px;
  }
}

.section {
  &--sss {
    .main-shapes {
      .main-shape {
        &.tr-1 {
          top: 14%;
          right: -5%;
        }

        &.tl-1 {
          top: 42%;
          left: 5%;
        }

        &.br-1 {
          bottom: 35%;
          right: -7%;
        }

        &.bl-1 {
          bottom: 16%;
          left: -5%;
        }

        &.bl-2 {
          bottom: 5%;
          left: 25%;
        }
      }
    }
  }
}