.subjects {
  &__buttons {
    display: flex;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;

    &-title {
      color: $colorTextDark;
      font-weight: 600;
      font-size: 22px;
      text-align: center;
      margin-top: 50px;
    }

    .uk-button {
      margin-right: 25px;
      width: 100%;

      &__txt {
        margin-left: initial;
        display: flex;
        align-items: center;
        color: $colorOrange900;
        font-size: 19px;
      }

      &__icon {
        transform: rotate(90deg);
      }

      img {
        width: 35px;
        flex-shrink: 0;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;

        img {
          width: 30px;
        }
      }
    }
  }
}

.subject {
  &__dates {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

    .subject-item__date-icon {
      background: $colorOrangeSoft;
    }
  }

  &__date {
    &-title {
      color: $colorTextDark;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__wrp {
    margin-top: 100px;
    max-width: 950px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: $colorOrangeSoft;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba($colorBorder, 0.35);
    }

    &__date {
      display: flex;
      align-items: center;

      &-icon {
        width: 70px;
        height: 70px;
        border-radius: 15px;
        background: #fff;
        color: $colorOrange900;
        flex-shrink: 0;
        margin-right: 20px;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-cnt {
        display: flex;
        flex-direction: column;
      }

      &-month {
        margin-bottom: 10px;
        color: $colorOrange900;
        font-weight: 500;
        font-size: 24px;
      }

      &-year {
        color: #aab5c1;
        font-weight: 600;
        font-size: 18px;
      }
    }

    &__exam {
      display: flex;
      flex-direction: column;
      margin-left: 50px;

      &-name {
        color: $colorTextDark;
        font-weight: 600;
        font-size: 18px;
        position: relative;
        padding-left: 15px;
        margin-bottom: 15px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: calc(50% + 1px);
          transform: translateY(-50%);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: #66b0e0;
        }
      }

      &-day {
        color: $colorTextSoft;
        font-weight: 500;
        font-size: 18px;
      }
    }

    &__button {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:hover {
        .subject-item__button-icon {
          background: $colorOrange;

          &>span {
            color: #fff;
          }
        }
      }

      &-txt {
        color: $colorOrange900;
        font-weight: 500;
        font-size: 20px;
      }

      &-icon {
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-left: 25px;
        transition: $transition;

        &>span {
          position: relative;
          top: -1px;
          color: $colorOrange;
          transition: $transition2s;
        }
      }
    }

    &__bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;

        &>span {
          margin-left: 15px;
          margin-right: 15px;
          color: $colorTextDark;
          font-weight: 600;
          font-size: 17px;
        }
      }

      &-title {
        color: $colorTextDark;
        font-weight: 600;
        font-size: 17px;
      }

      &-txt {
        color: $colorTextSoft;
        font-weight: 500;
        font-size: 15px;
        position: relative;
        top: 1px;
      }
    }
  }
}

.subject-detail {
  &__wrp {
    display: flex;
    width: 100%;
    margin-top: 150px;
  }

  &__left {
    width: 450px;
    flex-shrink: 0;
    padding-right: 75px;
    margin-right: 75px;
    border-right: 1px solid rgba($colorBorder, 0.4);

    .accordion {
      margin-top: 30px;

      &.active,
      &.uk-open {
        .accordion {
          &-header {
            &__txt {
              color: $colorTextDark;
            }

            &__icon {
              background: #FD9D55;

              &:before,
              &:after {
                background: #fff;
              }
            }
          }
        }
      }

      &-header {
        &__txt {
          font-size: 26px;
          color: $colorTextSoft
        }

        &__icon {
          width: 35px;
          height: 35px;

          &:before {
            height: 14px;
            width: 2px;
          }

          &:after {
            height: 2px;
            width: 14px;
          }
        }
      }
    }

    &-sticky {
      position: sticky;
      top: 15px;
    }
  }

  &__right {
    width: 100%;
  }

  &__quest-num {
    padding: 20px 30px;
    background: $colorOrangeSoft;
    color: $colorOrange;
    width: max-content;
    border-radius: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 75px;

    &:last-child {
      margin-bottom: 0;
    }

    &-top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &-subtitle {
      color: $colorOrange;
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-title {
      color: $colorTextDark;
      font-weight: 600;
      font-size: 24px;
      margin-top: 5px;
      margin-bottom: 0;
      line-height: 1em;
    }

    &-quest-num {
      font-weight: 600;
      font-size: 16px;
      color: $colorTextSoft;
    }

    &-bottom {
      margin-top: 35px;
      font-weight: 400;
      font-size: 22px;
      color: $colorTextSoft;
    }
  }
}

.section {
  &--subjects {
    padding-bottom: 150px;

    .main-shapes {
      .main-shape {
        &.tl-1 {
          top: 20%;
          left: 0%;
        }

        &.tl-2 {
          top: 40%;
          left: 7%;
        }

        &.bl-1 {
          bottom: 17%;
          left: 8%;
        }

        &.tr-1 {
          top: 15%;
          right: 5%;
        }
      }
    }
  }

  &--subjects-detail {
    padding-bottom: 150px;

    .main-shapes {
      .main-shape {
        &.tl-1 {
          top: 20%;
          left: -5%;
        }

        &.bl-1 {
          bottom: 60%;
          left: 0%;
        }

        &.bl-2 {
          bottom: -5%;
          left: 10%;
        }
      }
    }
  }
}