<div class="footer footer--checkout">
  <div class="container">
    <div class="footer-copyright">
      <a href="./index.html" class="footer-copyright__logo">
        <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-logo.svg" alt="">
      </a>
      <div class="footer-copyright__secure">
        <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/footer_secure.png" alt="">
        <div class="footer-copyright__secure-txt">
          Sunucu sertifikası ile kredi kartı
          bilgileriniz korunmaktadır.
        </div>
      </div>
      <div class="footer-copyright__payments">
        <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/footer_payments.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>