<div class="footer-banner">
  <div class="container">
    <a href="#0" class="footer-banner__wrp">
      <div class="footer-banner__cnt">
        <div class="footer-banner__icon">
          👨🏻‍💻
        </div>
        <div class="footer-banner__txt">
          <div class="main-title main-title--lg">
            Online eğitimi sen de dene, <br>
            <span class="main-title__in orange-soft with-border">
              hemen kaydol!
            </span>
          </div>
        </div>
      </div>
      <div class="footer-banner__img">
        <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/footer-banner_img.png" alt="">
      </div>
    </a>
  </div>
</div>