<div class="footer footer--simple">
  <div class="container">
    <div class="footer-copyright">
      <div class="footer-copyright__txt">
        © 2020 Okulistik bir <span>Teknolist</span> ürünüdür.
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>