<div class="footer">
  <div class="container">
    <div class="footer-wrp">
      <div class="footer-column">
        <div class="footer-title">Düzeyler</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#0">
              <h5>1. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>2. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>3. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>4. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>5. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>6. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>7. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>8. Sınıf</h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column f-1">
        <div class="footer-title">Öğretmen Yönetici</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#0">
              <h5>1. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>2. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>3. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>4. Sınıf</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Türkçe</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Matematik</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Fen Bil.</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Sosyal Bil.</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Din K. ve Ahlak B.</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>İngilizce</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>BÖTE</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>PDR</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Müdür / Müdür Yard.</h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-title">Kurumsal</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#0">
              <h5>Manifesto</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Blog</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Market</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Katalog</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Dinamik Takvim</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Değerlendirme Klavuzu</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Konu Dağılımları</h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-title">Destek</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#0">
              <h5>S.S.S.</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Blog</h5>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="#0">
              <h5>Uzaktan Eğitim Nedir?</h5>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column f-0">
        <div class="footer-title">
          Bizi Takip Edin
        </div>
        <div class="footer-social">
          <a href="#0" class="footer-social__item">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </span>
          </a>
          <a href="#0" class="footer-social__item">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </span>
          </a>
          <a href="#0" class="footer-social__item">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-instagram"></use>
              </svg>
            </span>
          </a>
          <a href="#0" class="footer-social__item">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-youtube"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-copyright__txt">
        © 2020 Okulistik bir <span>Teknolist</span> ürünüdür.
      </div>
      <a href="./index.html" class="footer-copyright__logo">
        <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-logo.svg" alt="">
      </a>
      <div class="footer-copyright__links">
        <a href="#0" class="footer-copyright__link">Gizlilik Sözleşmesi</a>
        <a href="#0" class="footer-copyright__link">Kalite Standartları</a>
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>