<div class="popup-box js-menu-outer">
  <div id="forStudents" class="popup-box__item js-menu">
    <div class="popup-box__item-inner">
      <div class="popup-box__inner with-r-line">
        <div class="popup-box__title">
          İLKOKUL ÖĞRENCİLERİ
        </div>
        <div class="class-box__wrp js-vertical-magic-line">
          <div class='vertical-magic-line'></div>
          <a href="ogrenciler-icin-1.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">1</div>
            <div class="class-box__txt">SINIF</div>
          </a>
          <a href="ogrenciler-icin-2.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">2</div>
            <div class="class-box__txt">SINIF</div>
          </a>
          <a href="ogrenciler-icin-3.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">3</div>
            <div class="class-box__txt">SINIF</div>
          </a>
          <a href="ogrenciler-icin-4.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">4</div>
            <div class="class-box__txt">SINIF</div>
          </a>
        </div>
      </div>
      <div class="popup-box__inner">
        <div class="popup-box__title">
          ORTAOKUL ÖĞRENCİLERİ
        </div>
        <div class="class-box__wrp js-vertical-magic-line">
          <div class='vertical-magic-line'></div>
          <a href="ogrenciler-icin-5.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">5</div>
            <div class="class-box__txt">SINIF</div>
          </a>
          <a href="ogrenciler-icin-6.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">6</div>
            <div class="class-box__txt">SINIF</div>
          </a>
          <a href="ogrenciler-icin-7.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">7</div>
            <div class="class-box__txt">SINIF</div>
          </a>
          <a href="ogrenciler-icin-8.html" class="class-box js-vertical-magic-line-item">
            <div class="class-box__num">8</div>
            <div class="class-box__txt">SINIF</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="forTeachers" class="popup-box__item js-menu">
    <div class="popup-box__inner">
      <div class="popup-box__title">
        Sınıf öğretmenleri
      </div>
      <div class="class-box__wrp js-vertical-magic-line">
        <div class='vertical-magic-line'></div>
        <a href="ogretmenler-icin-sinif-1.html" class="class-box js-vertical-magic-line-item">
          <div class="class-box__num">1</div>
          <div class="class-box__txt">SINIF</div>
        </a>
        <a href="ogretmenler-icin-sinif-2.html" class="class-box js-vertical-magic-line-item">
          <div class="class-box__num">2</div>
          <div class="class-box__txt">SINIF</div>
        </a>
        <a href="ogretmenler-icin-sinif-3.html" class="class-box js-vertical-magic-line-item">
          <div class="class-box__num">3</div>
          <div class="class-box__txt">SINIF</div>
        </a>
        <a href="ogretmenler-icin-sinif-4.html" class="class-box js-vertical-magic-line-item">
          <div class="class-box__num">4</div>
          <div class="class-box__txt">SINIF</div>
        </a>
      </div>
    </div>
    <span class="popup-box__line"></span>
    <div class="popup-box__inner w-335">
      <div class="popup-box__title">
        Branş öğretmenleri
      </div>
      <div class="lesson-tags__wrp lesson-tags--wrap">
        <a href="ogretmenler-icin-turkce.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Türkçe
          </span>
        </a>
        <a href="ogretmenler-icin-matematik.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Matematik
          </span>
        </a>
        <a href="ogretmenler-icin-fen.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Fen Bil.
          </span>
        </a>
        <a href="ogretmenler-icin-ingilizce.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            İngilizce
          </span>
        </a>
        <a href="ogretmenler-icin-bilisim.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Bilişim
          </span>
        </a>
        <a href="ogretmenler-icin-sosyal.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Sosyal Bil.
          </span>
        </a>
        <a href="ogretmenler-icin-din.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Din K. ve Ahlak B.
          </span>
        </a>
        <a href="ogretmenler-icin-pdr.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            PDR
          </span>
        </a>
      </div>
    </div>
    <span class="popup-box__line"></span>
    <div class="popup-box__inner w-335">
      <div class="popup-box__title">
        Yöneticiler
      </div>
      <div class="lesson-tags__wrp lesson-tags--wrap">
        <a href="ogretmenler-icin-mudur.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Okul Müdürü
          </span>
        </a>
        <a href="ogretmenler-icin-mudur-yardimcisi.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Müdür Yard.
          </span>
        </a>
      </div>
    </div>
    <span class="popup-box__line"></span>
    <div class="popup-box__inner w-335">
      <div class="popup-box__title">
        Alt Sayfalar
      </div>
      <div class="lesson-tags__wrp lesson-tags--wrap">
        <a href="./manifesto.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Manifesto
          </span>
        </a>
        <a href="./kalite-standartlari.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Kalite Standartları
          </span>
        </a>
        <a href="./kataloglar.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Kataloglar
          </span>
        </a>
        <a href="./konu-dagilimlari.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Konu Dağılımları
          </span>
        </a>
        <a href="./konu-detay.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Konu Dağılımı Detay
          </span>
        </a>
        <a href="./subelerimiz.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Şubelerimiz
          </span>
        </a>
        <a href="./sss.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            S.S.S
          </span>
        </a>
        <a href="./giris-yap.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Giriş Yap
          </span>
        </a>
        <a href="./giris-yap.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Kayıt Ol
          </span>
        </a>
        <a href="./sinav-degerlendirme-kilavuzu.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Sınav Değerlendirme Kılavuzu
          </span>
        </a>
        <a href="./404.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            404
          </span>
        </a>
        <a href="./hata-sayfasi.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Hata Sayfası
          </span>
        </a>
        <a href="./sifremi-unuttum.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Şifremi Unuttum
          </span>
        </a>
        <a href="./yeni-sifre.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Yeni Şifre
          </span>
        </a>
        <a href="./ders-icerikleri.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Ders İçerikleri
          </span>
        </a>
        <a href="./uyumluluk-testi.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Uyumluluk Testi
          </span>
        </a>
        <a href="./arama-sonuclari.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Arama Sonuçları
          </span>
        </a>
        <a href="./takvim.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Takvim
          </span>
        </a>
        <a href="./ogretmen-detay.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Öğretmen Ürün Detay
          </span>
        </a>
        <a href="./ogrenci-detay.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Öğrenci Ürün Detay
          </span>
        </a>
        <a href="./checkout-1.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            Checkout
          </span>
        </a>
        <a href="./kvkk.html" class="lesson-tags">
          <span class="lesson-tags__txt">
            KVKK
          </span>
        </a>
      </div>
    </div>
  </div>
</div>