<div class="container">
  <div class="header__wrp">
    <div class="header__left">
      <div class="header-button students">
        <a class="uk-button uk-button--soft-orange uk-button--icon-left uk-button--w-caret uk-button--round-sm js-menu-item js-calc"
          data-id="forStudents">
          <span class="uk-button__icon uk-button-square-icon">
            <div class="uk-button-square"></div>
            <div class="uk-button-square"></div>
            <div class="uk-button-square"></div>
            <div class="uk-button-square"></div>
          </span>
          <span class="uk-button__txt">
            Öğrenciler için
          </span>
        </a>
      </div>
      <div class="header-button">
        <a class="uk-button uk-button--simple uk-button--w-caret js-menu-item" data-id="forTeachers">
          <span class="uk-button__txt">
            Öğretmenler için
          </span>
        </a>
      </div>
    </div>
    <a href="./index.html" class="header__logo">
      <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-logo.svg" alt="" />
    </a>
    <div class="header__right">
      <!-- giriş yapılmamışsa -->
      <!-- <div class="header-button register">
          <div class="uk-button uk-button--underline">
            <span class="uk-button__txt">
              Hemen Kaydol
            </span>
          </div>
        </div>
        <div class="header-button login">
          <div class="uk-button uk-button--orange">
            <span class="uk-button__txt">
              Giriş Yap
            </span>
          </div>
        </div> -->
      <!-- giriş yapılmamışsa -->

      <!-- giriş yapılmışsa -->
      <div class="header-button logined">
        <div class="header__logined teacher button--w-caret js-user-menu" type="button">
          <div class="header__logined-img">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/user_img.jpg" alt="" />
          </div>
          <div class="header__logined-cnt">
            <div class="header__logined-name">Merve Nur Çınar</div>
            <div class="header__logined-subtxt">3. Sınıf</div>
          </div>
        </div>
        <div class="popup-box js-user-dropdown" uk-dropdown="mode: click">
          <div class="popup-box__item js-user w-100-percent">
            <div class="popup-box__list js-horizantal-magic-line">
              <div class="horizantal-magic-line"></div>
              <a href="#0" class="popup-box__list-item js-horizantal-magic-line-item">
                <div class="popup-box__list-txt">
                  Aktivasyon
                </div>
              </a>
              <a href="#0" class="popup-box__list-item js-horizantal-magic-line-item">
                <div class="popup-box__list-txt">
                  Sınıfa Gir
                </div>
              </a>
              <a href="#0" class="popup-box__list-item js-horizantal-magic-line-item">
                <div class="popup-box__list-txt">
                  Siparişlerim
                </div>
              </a>
            </div>
            <a href="#0" class="popup-box__logout">
              <div class="popup-box__list-txt">
                Çıkış Yap
              </div>
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-logout"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- giriş yapılmışsa -->

      <div class="header-button basket">
        <div class="uk-button uk-button--soft-orange uk-button--only-icon">
          <span class="uk-button__icon">
            <span class="icon icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-basket"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>