<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="http://pixelateworks.com/client/okulistik-webpack/assets/images/okulistik-favicon.png"
  type="image/x-icon" />
<meta name=”format-detection” content=”telephone=no”>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />