<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="http://pixelateworks.com/client/okulistik-webpack/assets/js/modal-video.min.js"></script>
<script src="http://pixelateworks.com/client/okulistik-webpack/assets/js/card.js"></script>
<script src="http://pixelateworks.com/client/okulistik-webpack/assets/js/popper.min.js"></script>
<script src="http://pixelateworks.com/client/okulistik-webpack/assets/js/tippy-bundle.umd.js"></script>
<script src="http://pixelateworks.com/client/okulistik-webpack/assets/js/vanillajs-validation.min.js"></script>