.uk-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21.5px 26px;
  font-size: 16px;
  text-transform: unset;
  line-height: 1em;
  border-radius: 20px;
  cursor: pointer;
  transition: $transition;

  &.active,
  &:hover {
    .uk-button-square {
      &:nth-child(1) {
        transform: translateX(11px);
      }

      &:nth-child(2) {
        transform: translateY(11px);
      }

      &:nth-child(3) {
        transform: translateY(-11px);
      }

      &:nth-child(4) {
        transform: translateX(-11px);
      }
    }
  }

  &.btn-w {
    max-width: 260px;
    width: 100%;
  }

  &.btn-mw {
    width: max-content;

  }

  &.btn-teacherlist {
    .uk-button {

      &__icon {
        font-size: 32px;
        margin-right: 30px;
      }

      &__txt {
        font-size: 20px;
      }
    }
  }

  &.btn-sm {
    padding: 12px 20px;
    border-radius: 15px;
  }

  &.btn-lg {
    .uk-button {
      &__txt {
        font-weight: 600;
        font-size: 19px;
      }

      &__icon {
        font-size: 22px;
      }
    }
  }

  &__txt {
    font-weight: 500;
    white-space: nowrap;
    transition: $transition2s;
    font-size: 16px;
  }

  &__icon {
    transition: $transition2s;
    font-size: 18px;
  }

  &--round-sm {
    border-radius: 10px;
  }

  &--only-icon {
    width: 60px;
    height: 60px;

    .uk-button__icon {
      font-size: 24px;
    }
  }

  &--jcsb {
    justify-content: space-between;
  }

  &.btn-600 {
    .uk-button__txt {
      font-weight: 600;
    }

    .uk-button__icon {
      font-size: 22px;
      position: relative;
      top: -2px;
    }
  }

  &--w-caret {

    &:after {
      content: '';
      margin-left: 15px;
      width: 0;
      height: 0;
      position: relative;
      top: 1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $colorOrange;
      transition: $transition;
    }

    &.active,
    &.uk-open {
      &:after {
        transform: rotate(180deg) translateY(1px);
      }
    }
  }

  &--icon-reverse {
    span.uk-button__icon {
      .icon-font {
        transform: rotate(180deg);
      }
    }
  }

  &--loadmore {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    span.uk-button__icon {
      .icon-font {
        transform: rotate(90deg);
      }
    }
  }

  &--icon-left {
    text-align: center;

    &.uk-button--w-caret {
      &:after {
        margin-left: 0;
      }
    }

    .uk-button {
      &__txt {
        margin-right: auto;
      }

      &__icon {
        margin-right: auto;
      }
    }
  }

  &--icon-right {
    text-align: center;

    &.uk-button--w-caret {
      &:after {
        margin-left: 0;
      }
    }

    .uk-button {
      &__txt {
        margin-left: auto;
      }

      &__icon {
        margin-left: auto;
      }
    }
  }

  &--centered {
    text-align: center;

    .uk-button {
      &__icon {
        margin-left: 15px;
      }
    }
  }

  &--soft-orange {
    background: $colorOrangeSoft;
    @include boxShadowNone;

    &.uk-button--only-icon {
      color: $colorOrange900;
    }

    &.active,
    &:hover {
      background: $colorOrange;
      @include boxShadowOrange;

      .uk-button {

        &__txt,
        &__icon {
          color: #fff;
        }

        &-square {
          background: #fff;
        }
      }

      &.uk-button--w-caret {
        &:after {
          border-top-color: #fff;
        }
      }
    }

    &.uk-button--w-caret {
      &:after {
        border-top-color: $colorOrange;
      }
    }

    .uk-button {
      &__icon {
        color: $colorOrange900;
      }

      &__txt {
        color: $colorTextDark;
      }
    }
  }

  &--soft-orange-dark {
    background: rgba($colorOrange, .1);
    @include boxShadowNone;

    &.uk-button--only-icon {
      color: $colorOrange900;
    }

    &.active,
    &:hover {
      background: $colorOrange;
      @include boxShadowOrange;

      .uk-button {

        &__txt,
        &__icon {
          color: #fff;
        }

        &-square {
          background: #fff;
        }
      }

      &.uk-button--w-caret {
        &:after {
          border-top-color: #fff;
        }
      }
    }

    &.uk-button--w-caret {
      &:after {
        border-top-color: $colorOrange;
      }
    }

    .uk-button {
      &__icon {
        color: $colorOrange;
      }

      &__txt {
        color: $colorOrange;
      }
    }
  }

  &--orange {
    background: $colorOrange800;
    @include boxShadowOrange;

    &.active,
    &:hover {
      background: rgb(221, 107, 26);

      .uk-button {

        &__txt,
        &__icon {
          color: #fff;
        }

        &-square {
          background: #fff;
        }
      }

      &.uk-button--w-caret {
        &:after {
          border-top-color: #fff;
        }
      }
    }

    &.uk-button--w-caret {
      &:after {
        border-top-color: $colorOrange;
      }
    }

    .uk-button {
      &__icon {
        color: #fff;
      }

      &__txt {
        color: #fff;
        font-weight: 400;
      }
    }
  }

  &--white {
    background: #fff;
    @include boxShadowNone;

    &.active,
    &:hover {
      background: $colorOrange;
      @include boxShadowOrange;

      .uk-button {

        &__txt,
        &__icon {
          color: #fff;
        }

        &-square {
          background: #fff;
        }
      }

      &.uk-button--w-caret {
        &:after {
          border-top-color: #fff;
        }
      }
    }

    &.uk-button--w-caret {
      &:after {
        border-top-color: $colorOrange;
      }
    }

    .uk-button {
      &__icon {
        color: $colorOrange;
      }

      &__txt {
        color: $colorOrange;
        font-weight: 400;
      }
    }
  }

  &--simple {
    background: transparent;
    position: relative;
    border-radius: 0;

    &:before {
      content: '';
      position: absolute;
      bottom: 10px;
      left: calc(50%);
      width: 0;
      height: 3px;
      border-radius: 5px;
      background: $colorYellow;
      transition: $transition;
    }

    &.active,
    &:hover {
      &:before {
        left: 15px;
        width: calc(100% - 30px);
      }
    }

    &.uk-button--w-caret {
      &:after {
        border-top-color: $colorOrange;
      }
    }

    .uk-button {
      &__icon {
        color: $colorOrange900;
      }

      &__txt {
        color: $colorTextDark;
      }
    }
  }

  &--simple-orange {
    background: transparent;
    position: relative;
    border-radius: 0;

    &.active,
    &:hover {
      .uk-button {
        &__icon {
          color: $colorTextDark;
        }

        &__txt {
          color: $colorTextDark;
        }
      }
    }

    &.uk-button--w-caret {
      &:after {
        border-top-color: $colorOrange;
      }
    }

    .uk-button {
      &__icon {
        color: $colorOrange;
        font-size: 18px;
      }

      &__txt {
        color: $colorOrange;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  &--underline {
    .uk-button {
      &__txt {
        text-decoration: underline;
        color: $colorTextDark;
      }
    }

    &.active,
    &:hover {
      .uk-button {
        &__txt {
          color: $colorOrange;
          text-decoration: none;
        }
      }
    }
  }
}

.uk-button-square {
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background: $colorOrange900;
  position: absolute;
  transition: $transition;

  &:nth-child(1) {
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    top: 0;
    right: 0;
  }

  &:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  &:nth-child(4) {
    bottom: 0;
    right: 0;
  }

  &-icon {
    width: 17px;
    height: 17px;
    position: relative;
  }
}

.btn-signup-control {
  width: 100%;
  height: 70px;
}