.footer {
  &--simple {
    width: 100%;

    .footer {
      &-copyright {
        padding: 65px 0 90px 0;
        justify-content: center;
      }
    }
  }

  &--checkout {
    .footer {
      &-copyright {
        padding: 55px 0 65px 0;
        justify-content: flex-start;

        &__logo {
          position: static;
          transform: none;
        }

        &__secure {
          display: flex;
          align-items: center;
          border-left: 1px solid rgba($colorBorder, .35);
          padding-left: 50px;
          margin-left: 50px;

          &-txt {
            max-width: 230px;
            width: 100%;
            color: $colorTextSoft;
            margin-left: 20px;
            line-height: 1.4em;
            font-size: 17px;
          }
        }

        &__payments {
          margin-left: auto;
        }
      }
    }
  }

  &-banner {
    margin-bottom: 100px;
    margin-top: 100px;

    &__wrp {
      background: $colorOrangeSoft;
      padding: 0 75px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 50px;
      position: relative;

      .main-title__in {
        &:after {
          transition: $transition;
        }
      }

      &:hover {
        .main-title__in {
          &:after {
            width: calc(100% + 20px);
            left: -10px;
          }
        }
      }
    }

    &__cnt {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    &__icon {
      width: 120px;
      height: 120px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 39px;
      font-size: 70px;
      flex-shrink: 0;
      margin-right: 25px;
    }

    &__img {
      margin-top: -40px;
      position: relative;
      z-index: 1;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50px;
        width: calc(100% - 50px);
        height: calc(100% + 200px);
        transform: translateY(50%);
        background: #ffe7cb;
        z-index: -1;
        border-radius: 50%;
      }

      img {
        object-fit: contain;
        width: 100%;
        position: relative;
        bottom: -3px;
        z-index: 2;
      }
    }

    &__shape-1 {
      position: absolute;
      bottom: 50px;
      left: 0px;
      background: $colorYellow;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }

  &-wrp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  &-column {
    width: max-content;
    flex-basis: 19%;
    padding-right: 15px;

    &.f-0 {
      flex-basis: 350px;
      flex-shrink: 0;
    }

    &.f-1 {
      flex-basis: 23%;
    }
  }

  &-title {
    color: $colorTextDark;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    &__item {
      list-style: none;

      &:hover {
        h5 {
          color: $colorTextDark;
        }
      }

      a {
        padding: 10px 0;
        display: block;
        font-weight: 400;
        font-size: 18px;

        h5 {
          color: $colorTextSoft;
          font-weight: 400;
          font-size: 18px;
          line-height: 1em;
          margin-bottom: 0;
          transition: $transition2s;
        }
      }
    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__item {
      width: 60px;
      height: 60px;
      border-radius: 20px;
      background: $colorYellowSoft;
      color: $colorOrange;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      transition: $transition;

      &:hover {
        color: #fff;
      }

      &:nth-child(1) {
        &:hover {
          background: #3b5998;
        }
      }

      &:nth-child(2) {
        &:hover {
          background: #89DBFF;
        }
      }

      &:nth-child(3) {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0;
          transition: $transition;
          background: #f09433;
          background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
          background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
          background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }

      &:nth-child(4) {
        &:hover {
          background: #c4302b;
        }
      }

      .icon-font {
        position: relative;
        top: -1px;
      }
    }
  }

  &-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 75px 0 100px 0;
    border-top: 1px solid rgba($colorBorder, .35);
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: calc(-25px / 2);
      left: 0;
      width: 100%;
      height: 25px;
      border-radius: 22px;
      background: $colorOrange;
    }

    &__txt {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 18px;

      span {
        color: $colorOrange;
      }
    }

    &__logo {
      width: 190px;
      position: absolute;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__link {
      color: $colorTextSoft;
      font-weight: 400;
      font-size: 18px;
      transition: $transition2s;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $colorTextDark;
      }
    }
  }
}