.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 6;

  &--light {
    .header {
      &__wrp {
        border-bottom: 1px solid rgba($colorBorder, .15);
      }

      &-button {

        &.students,
        &.logined,
        &.basket {

          .uk-button,
          &>div {
            background: #fff;

            &.active,
            &:hover {
              background: $colorOrange;
              @include boxShadowOrange;

              .uk-button {

                &__txt,
                &__icon {
                  color: #fff;
                }

                &-square {
                  background: #fff;
                }
              }

              &.uk-button--w-caret {
                &:after {
                  border-top-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  &__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 120px;
  }

  &-button {
    &.students {
      width: 210px;
      margin-right: 15px;

      .uk-button {
        &:hover {
          box-shadow: none;
        }
      }
    }

    &.login {
      width: 130px;

      .uk-button {
        &__txt {
          font-size: 17px;
        }
      }
    }

    &.register {
      margin-right: 20px;
    }

    &.logined {
      width: 260px;
    }

    &.basket {
      margin-left: 15px;
    }
  }

  &__left {
    display: flex;
  }

  &__logo {
    width: 190px;
    position: absolute;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logined {
    padding: 11px 14px;
    background: $colorOrangeSoft;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: $transition;
    @include boxShadowNone;

    &:hover,
    &.active,
    &.uk-open {
      background: $colorOrange;
      @include boxShadowOrange;

      &:after {
        border-top-color: #fff !important;
      }

      .header__logined {

        &-name,
        &-subtxt {
          color: #fff !important;
        }
      }
    }

    &.teacher {
      .header__logined {
        &-img {
          border-color: $colorYellow;
        }

        &-subtxt {
          color: $colorOrange;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }

    &.student {
      .header__logined {
        &-img {
          border-color: $colorOrange;
        }

        &-subtxt {
          color: $colorTextSoft;
          font-weight: 500;
          font-size: 13px;
        }
      }
    }

    &-cnt {
      margin-right: auto;
    }

    &-name {
      color: $colorTextDark;
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 7px;
      transition: $transition2s;
    }

    &-subtxt {
      transition: $transition2s;
    }

    &-img {
      width: 38px;
      height: 38px;
      border-radius: 12px;
      overflow: hidden;
      border: 3px solid;
      flex-shrink: 0;
      margin-right: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}