<!DOCTYPE html>
<html lang="tr">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <%= require('html-loader!../../partials/meta.html') %>
</head>

<body>
  <header class="header">
    <%= require('html-loader!../../partials/header.html') %>
  </header>
  <%= require('html-loader!../../partials/header-popups.html') %>

  <section class="hero hero--bottom">
    <div class="main-shapes">
      <div class="container">
        <div class="main-shape tl-1 shape xs yellow"></div>
        <div class="main-shape tl-2 shape xs-2 blue"></div>
        <div class="main-shape tl-3 shape xs-2 orange"></div>
        <div class="main-shape tr-1 shape xs-3 pink"></div>
        <div class="main-shape tr-2 shape xs yellow"></div>
        <div class="main-shape tr-3 shape xs green"></div>
        <div class="main-shape br-1 shape xs-3 orange"></div>

        <div class="main-shape t-l shape-icon sm orange">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogrenci-veli-8-2.svg" alt="">
        </div>
        <div class="main-shape b-l shape-icon md green">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogrenci-veli-8-1.svg" alt="">
        </div>
        <div class="main-shape t-r shape-icon lg orange">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogrenci-veli-8-4.svg" alt="">
        </div>
        <div class="main-shape b-r shape-icon sm orange">
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogrenci-veli-8-3.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero__wrp">
        <div class="hero__cnt">
          <div class="main-title text-center">
            <span class="main-title__in orange with-border">
              8. Sınıflar
            </span> için<br>
            Kafiyeli eğitimler!
          </div>
          <div class="main-txt main-txt--lg mt-20 text-center">
            8. Sınıf E-içeriklerini ve Sınavlarını <br>
            incelemek için <span class="js-scrolled-eicerik" style="cursor: pointer;">Hemen tıkla!</span>
          </div>
        </div>
        <div class="hero__img">
          <div class="hero__img-video">
            <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogrenci-video_bg.jpg" alt="">
            <span class="main-play-icon js-video-btn" data-video-id="-70iaCdo-ok">
              <svg class="icon icon-font">
                <use xlink:href="#icon-play"></use>
              </svg>
            </span>
          </div>
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/ogrenci-veli-8.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <div class="container hero__boxes-outer hero__boxes-outer--list">
    <div class="hero__boxes hero__boxes--list">
      <div class="hero__boxes-top">
        <div class="hero__boxes-top__left">
          <div class="main-tags">
            <div class="main-tag main-tag--white">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-mouse-c"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Online Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">8. Sınıf</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-10">
            <span class="main-title__in orange">
              E-içerik
            </span>
            Paketleri
          </div>
          <div class="main-txt main-txt--lg mb-40">
            Okulistik olarak 2004 yılından beri kurumsal ölçme ve
            değerlendirme çözümleri sunmaktayız. Sorularımız güncel
            MEB Öğretim Programı hazırlanmaktadır.
          </div>
          <a href="#0" class="uk-button btn-w uk-button--soft-orange-dark uk-button--icon-right">
            <span class="uk-button__txt">
              Dersler ve Konuları</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </a>
        </div>
        <div class="hero__boxes-top__right">
          <ul class="check-list check-list--reverse">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Sınırsız ders tekrarı yap. Bütün konular elinin altında!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Etkinlik Uygulamaları’na katıl. Türkiye genelinde yerini gör!
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-simple-wrp mt-50 js-scroll-eicerik">
        <a href="#0" class="product-simple-item">
          <div class="product-simple-item__month">
            12 AY
          </div>
          <div class="product-simple-item__title big">
            ₺17 / aylık
          </div>
          <div class="product-simple-item__txt">
            6 Ay İçerik Paketi 150 TL <br>
            olup taksitli ya da peşin ödenebilir.
          </div>
          <div href="#0" class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
            <span class="uk-button__txt">
              SEPETE EKLE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-basket"></use>
                </svg>
              </span>
            </span>
          </div>
          <div class="uk-button uk-button--simple-orange uk-button--centered pb-0">
            <span class="uk-button__txt">
              ÜRÜNÜ İNCELE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </a>
        <a href="#0" class="product-simple-item">
          <div class="product-simple-item__month">
            6 AY
          </div>
          <div class="product-simple-item__title big">
            ₺25 / aylık
          </div>
          <div class="product-simple-item__txt">
            6 Ay İçerik Paketi 150 TL <br>
            olup taksitli ya da peşin ödenebilir.
          </div>
          <div href="#0" class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
            <span class="uk-button__txt">
              SEPETE EKLE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-basket"></use>
                </svg>
              </span>
            </span>
          </div>
          <div href="#0" class="uk-button uk-button--simple-orange uk-button--centered pb-0">
            <span class="uk-button__txt">
              ÜRÜNÜ İNCELE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </a>
        <a href="#0" class="product-simple-item">
          <div class="product-simple-item__month">
            3 AY
          </div>
          <div class="product-simple-item__title big">
            ₺40 / aylık
          </div>
          <div class="product-simple-item__txt">
            6 Ay İçerik Paketi 150 TL <br>
            olup taksitli ya da peşin ödenebilir.
          </div>
          <div class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
            <span class="uk-button__txt">
              SEPETE EKLE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-basket"></use>
                </svg>
              </span>
            </span>
          </div>
          <div class="uk-button uk-button--simple-orange uk-button--centered pb-0">
            <span class="uk-button__txt">
              ÜRÜNÜ İNCELE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </a>
        <a href="#0" class="product-simple-item">
          <div class="product-simple-item__month">
            3 AY
          </div>
          <div class="product-simple-item__title big">
            ₺160
          </div>
          <div class="product-simple-item__txt">
            6 Ay İçerik Paketi 150 TL <br>
            olup taksitli ya da peşin ödenebilir.
          </div>
          <div class="uk-button uk-button--soft-orange-dark uk-button--icon-right">
            <span class="uk-button__txt">
              SEPETE EKLE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-basket"></use>
                </svg>
              </span>
            </span>
          </div>
          <div class="uk-button uk-button--simple-orange uk-button--centered pb-0">
            <span class="uk-button__txt">
              ÜRÜNÜ İNCELE</span>
            <span class="uk-button__icon">
              <span class="icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-long-arrow"></use>
                </svg>
              </span>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <section class="section section-product-1 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tr-1 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__img">
          <div class="main-tags">
            <div class="main-tag main-tag--orange">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-mouse-c"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Online Ürün
              </span>
            </div>
          </div>
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
        </div>
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-mouse-c"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Online Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">8. Sınıf</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Online
            </span>
            Etkinlik Uygulaması
          </div>
          <div class="main-txt main-txt--lg mb-40">
            Etkinlik Uygulamaları artık çok önemli! Online uygulamalarla gücünü
            test et, Türkiye geneli durumunu öğren, yüzdelik dilimini gör.
          </div>
          <div class="main-txt main-txt--lg main-txt--dark mb-40">
            Online Değerlendirme Sınavı + 1 hafta e-içerik paketi
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Sınırsız ders tekrarı yap. Bütün konular elinin altında!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container container--w">
      <div class="product-list-wrp mt-75">
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="section section-product-2 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 green"></div>
        <div class="main-shape tr-1 shape xs-3 yellow"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-book"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Basılı Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">8. Sınıf</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            <span class="main-title__in orange">
              Etkinlik Uygulamaları
            </span> <br>
            Hazırlık Paketi
          </div>
          <div class="main-txt main-txt--lg mb-40">
            Etkinlik Uygulamaları artık çok önemli! Online uygulamalarla gücünü
            test et, Türkiye geneli durumunu öğren, yüzdelik dilimini gör.
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Sınırsız ders tekrarı yap. Bütün konular elinin altında!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
        <div class="product-list-featured__img with-product">
          <a href="#0" class="product-list-featured__product">
            <div class="product-list-featured__product-img">
              <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
            </div>
            <div class="product-list-item__top">
              <div class="product-list-item__title">
                Online Değerlendirme Sınavı 1
              </div>
              <div class="product-list-item__txt">
                İçerik kısa açıklaması
              </div>
            </div>
            <div class="product-list-item__bottom">
              <div class="product-list-item__price">
                ₺40.00
              </div>
              <div class="uk-button uk-button--white uk-button--jcsb btn-600">
                <span class="uk-button__txt">
                  EKLE</span>
                <span class="uk-button__icon">
                  <span class="icon-font">
                    <svg class="icon icon-font">
                      <use xlink:href="#icon-basket"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-product-3 section-bordered">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tl-1 shape xs-3 blue"></div>
        <div class="main-shape tr-1 shape xs-2 pink"></div>
      </div>
    </div>
    <div class="container container--xw">
      <div class="product-list-featured">
        <div class="product-list-featured__img">
          <div class="main-tags">
            <div class="main-tag main-tag--orange">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-mouse-c"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Online Ürün
              </span>
            </div>
          </div>
          <img src="http://pixelateworks.com/client/okulistik-webpack/assets/images/product_img-1.jpg" alt="">
        </div>
        <div class="product-list-featured__cnt">
          <div class="main-tags">
            <div class="main-tag main-tag--orange-soft">
              <span class="main-tag__icon icon-font">
                <svg class="icon icon-font">
                  <use xlink:href="#icon-mouse-c"></use>
                </svg>
              </span>
              <span class="main-tag__txt">
                Online Ürün
              </span>
            </div>
            <div class="main-tag main-tag--simple">
              <div class="main-tag__txt">8. Sınıf</div>
            </div>
          </div>
          <div class="main-title main-title--md mb-20 mt-20">
            Online
            <span class="main-title__in orange">
              Beceri Tanılama ve <br>
              Değerlendirme Uygulaması
            </span>
          </div>
          <div class="main-txt main-txt--lg mb-40">
            Matematik, fen bilimleri ve dil eğitimi konusunda benzersiz bir
            sınava katılmak ister misin?
          </div>
          <ul class="check-list">
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Sınırsız ders tekrarı yap. Bütün konular elinin altında!
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Üst düzey içeriklerle soru çözme becerisi kazan.
              </span>
            </li>
            <li class="check-list__item">
              <span class="check-list__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </span>
              </span>
              <span class="check-list__txt">
                Testlerle soru çözme alışkanlığını geliştir. Bol pratik!
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container container--w">
      <div class="product-list-wrp mt-75">
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
        <a href="#0" class="product-list-item">
          <div class="product-list-item__top">
            <div class="product-list-item__title">
              Online Değerlendirme Sınavı 1
            </div>
            <div class="product-list-item__txt">
              İçerik kısa açıklaması
            </div>
          </div>
          <div class="product-list-item__bottom">
            <div class="product-list-item__price">
              ₺40.00
            </div>
            <div class="uk-button uk-button--white uk-button--jcsb btn-600">
              <span class="uk-button__txt">
                EKLE</span>
              <span class="uk-button__icon">
                <span class="icon-font">
                  <svg class="icon icon-font">
                    <use xlink:href="#icon-basket"></use>
                  </svg>
                </span>
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="section section-product-slider">
    <div class="main-shapes">
      <div class="container container--w">
        <div class="main-shape tr-1 shape xs-3 pink"></div>
      </div>
    </div>
    <div class="container container--w">
      <div class="product-slider__top">
        <div class="main-tag main-tag--orange-soft">
          <span class="main-tag__icon icon-font">
            <svg class="icon icon-font">
              <use xlink:href="#icon-basket"></use>
            </svg>
          </span>
          <span class="main-tag__txt">
            8. Sınıf <span class="colored-orange">Market Ürünleri</span>
          </span>
        </div>
        <div class="main-title main-title--md mt-10">
          Eğitim için yüzlerce ek içerik
          <span class="main-title__in orange">
            sizlerle!
          </span>
        </div>
      </div>
      <div class="product-slider__wrp">
        <div class="swiper-container" tabindex="-1" uk-slider>
          <div class="swiper-wrapper uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div>
              <a href="#0" class="product-slider-item">
                <div class="product-slider-item__img">
                  <img src="https://via.placeholder.com/376x525" alt="">
                </div>
                <div class="product-slider-item__cnt">
                  <div class="product-slider-item__title">
                    Kitap / İçerik adı
                  </div>
                  <div class="product-slider-item__txt">
                    İçerik Kısa Açıklaması
                  </div>
                </div>
                <div class="product-slider-item__bottom">
                  <div class="product-slider-item__price">
                    ₺40
                  </div>
                  <div class="uk-button uk-button--white uk-button--only-icon">
                    <span class="uk-button__icon">
                      <span class="icon icon-font">
                        <svg class="icon icon-font">
                          <use xlink:href="#icon-basket"></use>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="swiper-button-prev swiper-button-main">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </div>
          <div class="swiper-button-next swiper-button-main">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </span>
          </div>

        </div>
      </div>
      <div class="product-slider__bottom">
        <div class="main-txt main-txt--lg mb-40 text-center">
          Okulistik çağrı merkezi görüşme kayıtlarından derlenmiştir.
        </div>
        <div class="btn-w uk-button uk-button--orange uk-button--icon-right">
          <span class="uk-button__txt">
            Tüm 8. Sınıf Ürünleri
          </span>
          <span class="uk-button__icon">
            <span class="icon-font">
              <svg class="icon icon-font">
                <use xlink:href="#icon-long-arrow"></use>
              </svg>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>



  <%= require('html-loader!../../partials/footer-banner.html') %>
  <%= require('html-loader!../../partials/footer.html') %>
  <%= require('html-loader!../../partials/scripts.html') %>
</body>

</html>